*.env
creds.py
api.txt
__pycache__/*
database1.db
dump.sql
static/files/*
/Text/*
/UNUSED/*
app.log
test.py
loggers.txt
/Obsolete/*
code_review.py
code_review_*.*
app.log.*
app.log
/static/profile_pictures/*
all_mail.csv
code_review_*.txt
code_review.py
contacted.csv
loggers.txt
mydatabase.db
subscibers.csv
backup.sql
/logs
/.vscode
package-lock.json
package.json
/flask_session
.gitignore
/logs
report.csv
.vscode
/instance
/static/audio
/static/profile_pictures
/migrations
/templates/quiz_bp/obsolete
```