{% extends "layout.html" %}

{% block title %} Register {% endblock %}


{% block main_0 %}
<div class="container my-5" >
    <div class="col-2"></div>
    <div class="col-8 mx-auto box_0 p-5">
<form method="POST" action="">

    <div class = "row  mx-auto">
    <h2> REGISTER: </h2>
    </div><div class = "row">
    {{ form.hidden_tag()}}
    {{ form.first_name (class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" )}}
    </div><div class = "row">
    {{ form.last_name (class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" )}} 
</div><div class = "row">
    {{ form.username (class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" )}}
</div><div class = "row">
    {{ form.password (class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" )}}
</div><div class = "row">
    {{ form.conf_password (class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" ) }}
    </div><div class = "row">
    {{ form.email (class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" )}} 
    </div><div class = "row">
    {{ form.conf_email (class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" )}}
    </div><div class = "row">
    {{ form.submit (class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" )}}
    </div>
</form>
</div>
<div class="col-2"></div>
</div>


{% endblock %}