{% extends "layout.html" %}{% block title %} {{quiz.name}} {% endblock %}
{% block main_0 %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const forms = document.querySelectorAll('.question-form');
        console.log("javacsript loaded")
        console.log(forms)
        forms.forEach(form => {
            form.addEventListener('change', (event) => {
                console.log("change detected")
                const formData = new FormData(form);
                const cardId = form.getAttribute('question-id');

                fetch('/quiz_bp/update_card', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });
        });
        $(document).ready(function () {
            // Send data to server on input change
            $('#test-form').on('input', function () {
                event.preventDefault();
                $.ajax({
                    url: "{{ url_for('quiz_bp.assign_quiz', quiz_id=quiz.id) }}",
                    method: "POST",
                    data: $('#test-form').serialize(),
                    success: function (data) {
                        console.log('Data saved');
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error('Error saving data:', errorThrown);
                    }
                });
            });

        });
    });
</script>
<div class="col" id="collap">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseTestInfo" role="button"
                    aria-expanded="false" aria-controls="#collapseTestInfo" data-bs-parent="#collap">
                    Test info
                </a>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseTestQuestions" role="button"
                    aria-expanded="false" aria-controls="collapseTestQuestions" data-bs-parent="#collap">
                    Test questions </a>
                <!---- ASSIGN TEST ------>
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#assignModal" class="mx-2"
                    style="cursor: pointer;">
                    Assign test
                </a>
            </div>
            <div class="col-2">
                <!----- PRINT ------>
                <a href="/quiz_bp/quiz_print/{{quiz.id}}" class="mx-2" style="cursor: pointer; text-decoration: none;">
                    <img src="\static\print-icon.png" alt="Print" style="max-width:30px;max-height:30px;" class="px-1"
                        title="Print">


                    <!----- DEKLETE TEST-->
                    <a href="#" class="mx-2"
                        onclick="if (confirm('Are you sure you want to delete this quiz?')) { window.location.href = '/delete_quiz/{{quiz.id}}'; }">
                        <img src="\static\delete-icon.png" alt="Delete" style="max-width:30px;max-height:30px;"
                            class="px-1" title="Delete quiz">
                    </a>
            </div>
        </div>
        <form action="" method="POST">
            <div class="collapse show" id="collapseTestInfo" data-bs-parent="#collap">
                <div class="container m-2 p-2 box_study">
                    <input type="hidden" name="test-id" value="{{quiz.id}}">
                    <label for="test-name">Test name:</label>
                    <input name="test-name" class=" card-title box_study input_0 form-control form-control-lg"
                        type="text" id="test-name" placeholder="{{quiz.name}}" value="{{quiz.name}}" required>
                    <label for="due-date">Due date:</label>
                    <input name="due-date" class=" card-title box_study input_0 form-control form-control-lg"
                        type="datetime-local" id="due-date" placeholder="{{quiz.due_date}}" value="{{quiz.due_date}}">
                    <label for="subject">Subject:</label>
                    <input name="subject" class=" card-title box_study input_0 form-control form-control-lg" type="text"
                        id="subject" placeholder="{{quiz.subject}}" value="{{quiz.subject}}">
                    <label for="topic">Topic:</label>
                    <input name="topic" class=" card-title box_study input_0 form-control form-control-lg" type="text"
                        id="topic" placeholder="{{quiz.topic}}" value="{{quiz.topic}}">
                    <label for="topic">Instructions:</label>
                    <input name="instructions" class=" card-title box_study input_0 form-control form-control-lg"
                        type="text" id="instructions" placeholder="{{quiz.instructions}}" value="{{quiz.instructions}}">
                    <label for="topic">Description:</label>
                    <input name="description" class=" card-title box_study input_0 form-control form-control-lg"
                        type="text" id="description" placeholder="{{quiz.description}}" value="{{quiz.description}}">
                    <label for="time-limit">Time limit (minutes, leave blank if no time limit):</label>
                    <input name="time-limit" class=" card-title box_study input_0 form-control form-control-lg"
                        type="number" id="time-limit" placeholder="{{quiz.time_limit}}" value="{{quiz.time_limit}}">
                    <label for="answer-reveal">Answer reveal</label>
                    <input name="answer-reveal" type="checkbox" id="answer-reveal" placeholder="answer reveal"
                        value="answer-reveal">
                    <label for="result-reveal">Result reveal</label>
                    <input name="result-reveal" type="checkbox" id="result-reveal" value="result-reveal">
                    <label for="shuffle">Shuffle</label>
                    <input type="checkbox" name="shuffle" id="shuffle" value="shuffle">
                    <h5>Total marks: {{ quiz.points }}</h5>
                    <h5> Number of questions: {{quiz.num_questions}}</h5>
                    </h5>
                    <input type="submit" class="btn btn-primary" value="Save changes">
                </div>
            </div>
        </form>




        <div class="collapse" id="collapseTestQuestions" data-bs-parent="#collap">
            <div class="container m-2 box_study">
                {% for question in quiz.questions %}
                {% if question.q_type == "mcq" %}
                <form class="question-form">
                    <div class="card m-1">
                        <input type="hidden" name="question-id" value="{{question.id}}">
                        <input type="hidden" name="category" value="{{question.q_type}}">
                        <div class="card-header">
                            <h5>Multiple choice</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9 m-1">
                                    <div class="row">
                                        Question:
                                        <input name="question"
                                            class=" card-title box_study input_0 form-control form-control-lg"
                                            type="text" id="question" placeholder="{{question.question}}"
                                            value="{{question.question}}">
                                    </div>
                                    <div class="row">
                                        Answers:
                                        <div class="row mt-1">
                                            <li class="list-group-item box_study mt-1"><input class="border-0 w-100"
                                                    name="content{{question.id}}" value="A - {{question.content}}">
                                            </li>
                                            <li class="list-group-item box_study mt-1"><input class="border-0 w-100"
                                                    name="boc_2{{question.id}}" value="B - {{question.boc_2}}">
                                            </li>
                                            <li class="list-group-item box_study mt-1"><input class="border-0 w-100"
                                                    name="boc_3{{question.id}}" value="C - {{question.boc_3}}">
                                            </li>
                                            <li class="list-group-item box_study mt-1"><input class="border-0 w-100"
                                                    name="boc_4{{question.id}}" value="D - {{question.boc_4}}">
                                            </li>
                                        </div>
                                    </div>
                                    <div class="col-2 m-1">
                                        <div class="row"> Marks:
                                            <input name="points"
                                                class=" card-title box_study input_0 form-control form-control-lg"
                                                type="text" id="points" placeholder="{{question.points}}"
                                                value="{{question.points}}">
                                        </div>
                                        <div class="row">
                                            <a href="#" class="mx-2"
                                                onclick="if (confirm('Are you sure you want to delete this question?')) { window.location.href = '/quiz_bp/delete_question/{{quiz.id}}/{{question.id}}'; }">
                                                <img src="\static\delete-icon.png" alt="Delete"
                                                    style="max-width:30px;max-height:30px;" class="px-1"
                                                    title="Delete question">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% elif question.q_type == "cloze" %}
                <form class="question-form">
                    <div class="card m-1">
                        <input type="hidden" name="question-id" value="{{question.id}}">
                        <input type="hidden" name="category" value="{{question.q_type}}">
                        <div class="card-header">
                            <h5>Fill in the blank</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9 m-1">
                                    <div class="row">
                                        Question:
                                        <input name="question"
                                            class=" card-title box_study input_0 form-control form-control-lg"
                                            type="text" id="question" placeholder="{{question.question}}"
                                            value="{{question.question}}">
                                    </div>
                                    <div class="row">
                                        Correct answer:
                                        <input name="answer"
                                            class=" card-title box_study input_0 form-control form-control-lg"
                                            type="text" id="answer" placeholder="{{question.content}}"
                                            value="{{question.content}}">
                                    </div>
                                    <div class="col-2 m-1">
                                        <div class="row"> Marks:
                                            <input name="points"
                                                class=" card-title box_study input_0 form-control form-control-lg"
                                                type="text" id="points" placeholder="{{question.points}}"
                                                value="{{question.points}}">
                                        </div>
                                        <div class="row">
                                            <a href="#" class="mx-2"
                                                onclick="if (confirm('Are you sure you want to delete this question?')) { window.location.href = '/delete_question/{{quiz.id}}/{{question.id}}'; }">
                                                <img src="\static\delete-icon.png" alt="Delete"
                                                    style="max-width:30px;max-height:30px;" class="px-1"
                                                    title="Delete question">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% elif question.q_type =="jeopardy" %}
                <form class="question-form">
                    <div class="card m-1">
                        <input type="hidden" name="question-id" value="{{question.id}}">
                        <input type="hidden" name="jeopardy" value="{{question.q_type}}">
                        <div class="card-header">
                            Jeopardy question
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9 m-1">
                                    <div class="row">
                                        Question:
                                        <input name="question"
                                            class=" card-title box_study input_0 form-control form-control-lg"
                                            type="text" id="question" placeholder="{{question.question}}"
                                            value="{{question.question}}">
                                    </div>
                                    <div class="row">
                                        Correct answer:
                                        <input name="answer"
                                            class=" card-title box_study input_0 form-control form-control-lg"
                                            type="text" id="answer" placeholder="{{question.term}}"
                                            value="{{question.term}}">
                                    </div>
                                </div>
                                <div class="col-2 m-1">
                                    <div class="row"> Marks:
                                        <input name="points"
                                            class=" card-title box_study input_0 form-control form-control-lg"
                                            type="text" id="points" placeholder="{{question.points}}"
                                            value="{{question.points}}">
                                    </div>
                                    <div class="row">
                                        <a href="#" class="mx-2"
                                            onclick="if (confirm('Are you sure you want to delete this question?')) { window.location.href = '/quiz_bp/delete_question/{{quiz.id}}/{{question.id}}'; }">
                                            <img src="\static\delete-icon.png" alt="Delete"
                                                style="max-width:30px;max-height:30px;" class="px-1"
                                                title="Delete question">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!------- ASSIGN TEST MODAL -------->
<script>
    function assignDeck(testId) {
        console.log('assignDeck')
        var email = document.getElementById('assign-email').value;
        console.log(email);
        var encodedEmail = encodeURIComponent(email);
        var url = 'quiz_bp/assign/' + testId + '/' + encodedEmail;
        console.log(url);
        window.location.href = url;
    }
</script>
<div class="modal fade" id="assignModal" tabindex="-1" aria-labelledby="#assignModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-style p-4">
                <h5 class="modal-title" id="assignModalLabel">Assign quiz</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="assign-form" method="POST">
                    <div class="form-group my-2">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="assign-email" name="assign-email" required
                            placeholder="Type receiver's email here">
                    </div>
                    <button type="button" class="btn btn-primary" onclick="assignDeck('{{ quiz.id }}')">Assign</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}