{% extends "layout.html" %} {% block title %} Shared Test Viewer {% endblock %} 
{% block head %} 

{% endblock %}


{% block main_0 %}
{% if current_user.is_authenticated %}
<a id="take-test" class="conversion-button" href="/quiz_bp/take_test_2/{{test.share_id}}/{{current_user.id}}">Save this quiz</a>
{% else %}
<a class="conversion-button" data-bs-toggle="modal" data-bs-target="#registerModal">Register to take this quiz</a>
{% endif %}


<div id = "questions-parent">
    {% for question in test.questions %}
    {% set q_counter = loop.index %}
    {% if question.q_type == "jeopardy" %}
    <div class="row mt-2" style="page-break-inside: avoid;">

        <div class="card border-0">
            <div class="card-head">
                
                <div class="row">
                    <div class="col-10 ">
         <span class = "question-number">{{q_counter}} - </span>               {{question.question}}
                    </div>

                    <div class=" col-2 print-marks">
                        <small>Marks: </small> {{question.points}}
                    </div>
                </div>
            </div>

            <div class="card-body">
                <label for="answer{{question.id}}"></label>
                <textarea rows="2" class="form-control" id="answer{{question.id}}" name="answer{{question.id}}">
                </textarea>
            </div>
        </div>

    </div>
    {% elif question.q_type in ["definitions", "explain"] %}
    <div class="row mt-2" style="page-break-inside: avoid;">

        <div class="card border-0">
            <div class="card-head">
                <div class="row">
                    <div class="col-10 ">
                        <span class = "question-number">{{q_counter}} - </span>            {{question.question}}
                    </div>

                    <div class=" col-2 print-marks">
                        <small>Marks: </small> {{question.points}}
                    </div>
                </div>
            </div>

            <div class="card-body">
                <label for="answer{{question.id}}"></label>
                <textarea rows="2" class="form-control" id="answer{{question.id}}" name="answer{{question.id}}">
                </textarea>
            </div>
        </div>

    </div>


    {% elif question.q_type == "cloze" %}
    <div class="row mt-2" style="page-break-inside: avoid;">

        <div class="card border-0">
            <div class="card-head">
                <div class="row">
                    <div class="col-10 ">
                        <span class = "question-number">{{q_counter}} - </span>{{question.question}}
                    </div>
                    <div class=" col-2 print-marks">
                        <small>Marks: </small> {{question.points}}
                    </div>
                </div>
            </div>

            <div class="card-body">
                <label for="answer{{question.id}}"></label>
                <textarea rows="2" class="form-control" id="answer{{question.id}}" name="answer{{question.id}}">
                </textarea>
            </div>
        </div>

    </div>
    {% elif question.q_type == "formulas" %}
    <div class="row mt-2" style="page-break-inside: avoid;">

        <div class="card border-0">
            <div class="card-head">
                <div class="row">
                    <div class="col-10 ">
                        <span class = "question-number">{{q_counter}} - </span> {{question.question}}
                    </div>
                    <div class=" col-2 print-marks">
                        <small>Marks: </small> {{question.points}}
                    </div>
                </div>
            </div>

            <div class="card-body">
                <label for="answer{{question.id}}"></label>
                <textarea rows="2" class="form-control" id="answer{{question.id}}" name="answer{{question.id}}">
                </textarea>
            </div>
        </div>

    </div>


    {% elif question.q_type == "mcq" %}
            <div class="row mt-2" style="page-break-inside: avoid;">

                            <div class="card border-0">
                                <div class="card-head">
                                    <div class="row my-2">
                                        <div class="col-10 ">
                                            <span class = "question-number">{{q_counter}} - </span> {{question.question}}
                                        </div>
                                        <div class=" col-2 print-marks">
                                            <small>Marks: </small> {{question.points}}
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="row my-1">
                                        <p>A -
                                            <span class="  answer-button{{question.id}}" id="A-btn{{question.id}}"
                                                style="width: 100%"></span>
                                        </p>

                                    </div>
                                    <div class="row my-1">
                                        <p>B -
                                            <span class="  answer-button{{question.id}}" id="B-btn{{question.id}}"
                                                style="width: 100%"></span>
                                        </p>
                                    </div>

                                    <div class="row my-1">
                                        <p>C -
                                            <span class="  answer-button{{question.id}}" id="C-btn{{question.id}}"
                                                style="width: 100%"></span>
                                        </p>
                                    </div>

                                    <div class="row my-1">
                                        <p>D -
                                            <span class="  answer-button{{question.id}}" id="D-btn{{question.id}}"
                                                style="width: 100%"></span>
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        <input type="hidden" id="answer{{question.id}}" name="answer{{question.id}}">
                                    </div>
                                </div>
                            </div>
            </div>


            <script>
                const answers{{ question.id }} = [
                  {{ question.content|tojson|safe }},
                  {{ question.boc_2|tojson|safe }},
                  {{ question.boc_3|tojson|safe }},
                  {{ question.boc_4|tojson|safe }}
                ];
              
                function shuffle(array) {
                  for (let i = array.length - 1; i > 0; i--) {
                    const j = Math.floor(Math.random() * (i + 1));
                    [array[i], array[j]] = [array[j], array[i]];
                  }
                  return array;
                }
              
                const shuffledAnswers{{ question.id }} = shuffle(answers{{ question.id }});
                const answer_buttons{{ question.id }} = document.querySelectorAll('.answer-button{{ question.id }}');
              
                answer_buttons{{ question.id }}.forEach((button, index) => {
                  button.innerText = decodeURIComponent(shuffledAnswers{{ question.id }}[index]);
                  button.value = decodeURIComponent(shuffledAnswers{{ question.id }}[index]);
                });
              </script>





    {% endif %}
    {% endfor %}










{% endblock %}


