{% extends "layout.html" %} {% block title %} Shared Quiz Viewer {% endblock %} 
{% block head %} 

{% endblock %}


{% block main_0 %}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class=" display-3 hcepha1 mb-4">{{ quiz.name }}</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            {% if quiz.points %}
                <div class="row mb-3">
                    <div class="col-md-3 font-weight-bold">Points:</div>
                    <div class="col-md-9">{{ quiz.points }}</div>
                </div>
            {% endif %}

            {% if quiz.description %}
                <div class="row mb-3">
                    <div class="col-md-3 font-weight-bold">Description:</div>
                    <div class="col-md-9">{{ quiz.description }}</div>
                </div>
            {% endif %}
            <!-- Instructions -->
            {% if quiz.instructions %}
                <div class="row mb-3">
                    <div class="col-md-3 font-weight-bold">Instructions:</div>
                    <div class="col-md-9">{{ quiz.instructions }}</div>
                </div>
            {% endif %}
            <!-- Description -->
            {% if quiz.due_date %}
                <div class="row">
                    <div class="col-md-3 font-weight-bold">Due Date:</div>
                    <div class="col-md-9">{{ quiz.due_date }}</div>
                </div>
            {% endif %}
            {% if quiz.time_limit %}
                <div class="row mb-3">
                    <div class="col-md-3 font-weight-bold">Time Limit:</div>
                    <div class="col-md-9">{{ quiz.time_limit }}</div>
                </div>
            {% endif %}

        </div>
        <div class = "card-footer d-flex justify-content-evenly">
            <a class="btn btn-generate" data-bs-toggle="modal" data-bs-target="#registerModal">Register/sign-in and take this quiz</a>
            <a class="btn btn-generate" href="/quiz_bp/take_quiz_not_logged_in/{{quiz.id}}">Take this quiz without registering</a>

        </div>
    </div>
</div>



{% endblock %}


