{% extends "layout.html" %}

{% block title %} Import Decks from Anki {% endblock %}




{% block main_0 %}

<div>
  <div class="container-fluid">

      <h1 class="text-center display-3 hcepha1 mt-5">Import from Anki</h1>

      <div class="my-4">
          <h5 class="text-center">Import all decks:</h5>
          <form id="import-all-form" class="d-flex justify-content-center mt-3" method="POST">
            <button type="button" id="import-all-btn" class="btn btn-primary">Import all decks</button>
          </form>
      </div>

      <div class="my-4 text-center">
          <h5>Or:</h5>
      </div>

      <div class="my-4">
          <h5 class="text-center">Import individual decks:</h5>
          <form id="import-by-name-form" class="d-flex flex-column align-items-center mt-3" method="POST">
              <div class="form-group">
                  <label for="deck-name">Deck name(s):</label>
                  <input type="text" name="deck-name" id="deck-name" placeholder="MyAnkiDeck1, MyAnkiDeck2,..." class="form-control" style="max-width: 300px">
              </div>
              <button type="button" id="import-by-name-btn" class="btn btn-primary mt-2">Import</button>
            </form>
      </div>

      <div class="mt-4">
          <h6 class="text-center text-muted"><i>Note: to import or export decks into Anki you must be on a desktop, have Anki open and have the Anki Connect add on installed.  Currently we only support importing decks with standard fields (front, back).  We are working on implementing more import features.</i></h6>
      </div>
      
  </div>
</div>


<script>
  function addImportFormEventListeners() {
    console.log("adding event listeners")
    document.getElementById('import-all-btn').addEventListener('click', async function(event) {
      console.log("import all")
      event.preventDefault();
      try {
        await importDecks();
      } catch (error) {
        // Handle any errors
      }
    });
      document.getElementById('import-by-name-btn').addEventListener('click', async function(event) {
        console.log("import by deck")
    event.preventDefault();
    try {
      const deckNames = document.getElementById('deck-name').value.split(',').map(name => name.trim());
      await importDecks(deckNames);
    } catch (error) {
      // Handle any errors
    }
  });

    
    // async function importDecks(deckNames = []) {
    //     await requestAnkiConnectPermission();
    //     const decks = await getDecks(deckNames);
    //     const cardsByDeck = await getCardsByDeck(decks);
    //     const data = formatDataForBackend(cardsByDeck);
    //     sendDataToBackend(data);
    //     console.log(data)
    //     // Send the data to the backend here
    //   }
    async function importDecks(deckNames = []) {
    await requestAnkiConnectPermission();
    const decks = await getDecks(deckNames);
    const cardsByDeck = await getCardsByDeck(decks);
    const data = formatDataForBackend(cardsByDeck);
    sendDataToBackend(data);
    console.log(data);
}
async function getCardsByDeck(decks) {
    const cardsByDeck = {};
    console.log("getting cards by deck...")
    for (const deck of decks) {
        const cardIds = await invoke('findCards', 6, {
            query: `deck:"${deck}" -deck:"${deck}::*"`  // This will exclude all subdecks
        });

        // Skip the deck if there are no cards
        if (cardIds.length === 0) {
            continue;
        }

        const cards = await invoke('cardsInfo', 6, { cards: cardIds });
        // cardsByDeck[deck] = cards.map(card => {
        //     return {
        //         id: card.noteId,
        //         front: card.fields.Front,
        //         back: card.fields.Back,
        //         interval: card.interval
        //     };
        // });
        cardsByDeck[deck] = cards.map(card => {
            let fields = {};
            for (let [key, value] of Object.entries(card.fields)) {
                fields[key] = value.value;
            }
            return {
                id: card.noteId,
                fields: fields,
                interval: card.interval
            };
        });
    }
    console.log(cardsByDeck)
    return cardsByDeck;
}
      
      function formatDataForBackend(cardsByDeck) {
        console.log("formatting data...")
        const data = [];
        for (const deckName of Object.keys(cardsByDeck)) {
          const deckCards = cardsByDeck[deckName];
          for (const card of deckCards) {
            data.push({
              deckName: deckName,
              modelName: "Basic",
              fields: card.fields,
              options: {
                allowDuplicate: false
              },
              tags: [],
              id: card.id,
              interval: card.interval
            });
          }
        }
        return data;
      }
    // async function getDecks(deckNames) {
    //   console.log("getting decks...")
    //     const url = 'http://127.0.0.1:8765/';
    //     const request = await invoke('deckNames', 6);  
    //     // If no deckNames are provided, return all decks
    //     if (!deckNames || !deckNames.length) {
    //         console.log(request)
    //         return request;
    //     }
    //     const decks = request.filter(deckName => deckNames.includes(deckName));
    //     console.log("found decks", decks)
    //     return decks;
    // }
    async function getDecks(deckNames = []) {
    console.log("getting decks...");
    const allDecks = await invoke('deckNames', 6);
    
    let resultDecks = [];

    // Recursive function to get all subdecks
    function getSubdecks(deckName) {
        let subdeckPrefix = deckName + "::";
        let subdecks = allDecks.filter(d => d.startsWith(subdeckPrefix));
        for (let subdeck of subdecks) {
            resultDecks.push(subdeck);
            getSubdecks(subdeck);
        }
    }

    // If no specific deckNames are provided, return all decks
    if (!deckNames || !deckNames.length) {
        return allDecks;
    }

    for (let specifiedDeckName of deckNames) {
        if (allDecks.includes(specifiedDeckName)) {
            resultDecks.push(specifiedDeckName);
            getSubdecks(specifiedDeckName); // Fetch the subdecks recursively
        }
    }

    console.log("found decks", resultDecks);
    return resultDecks;
}
    async function sendDataToBackend(data) {
        console.log("entered send data to backend")
        const url = '/deck_bp/import_anki';
        console.log(data);
        const response = await fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
          
        });
        const responseData = await response.json();
        if (response.ok && responseData.success) {
          alert("Deck(s) imported successfully");
      } else {
        alert("There was an issue importing your deck(s).  Please try again later.");
      }
      }

      function invoke(action, version, params={}) {
        return new Promise((resolve, reject) => {
            const xhr = new XMLHttpRequest();
            xhr.addEventListener('error', () => reject('failed to issue request'));
            xhr.addEventListener('load', () => {
                try {
                    const response = JSON.parse(xhr.responseText);
                    if (Object.getOwnPropertyNames(response).length != 2) {
                        throw 'response has an unexpected number of fields';
                    }
                    if (!response.hasOwnProperty('error')) {
                        throw 'response is missing required error field';
                    }
                    if (!response.hasOwnProperty('result')) {
                        throw 'response is missing required result field';
                    }
                    if (response.error) {
                        throw response.error;
                    }
                    resolve(response.result);
                } catch (e) {
                    reject(e);
                }
            });
    
            xhr.open('POST', 'http://127.0.0.1:8765');
            xhr.send(JSON.stringify({action, version, params}));
        });
    }
    async function requestAnkiConnectPermission() {
      console.log("requesting anki connect permission")
        const url = 'http://127.0.0.1:8765/';
        const request = {
          action: 'requestPermission',
          version: 6,
        };
        const response = await fetch(url, {
          method: 'POST',
          body: JSON.stringify(request),
        });
        const data = await response.json();
        return data;
      }
  }
  document.addEventListener('DOMContentLoaded', function() {
  addImportFormEventListeners();
  });
</script>

{% endblock %}