{% extends "layout.html" %} {% block title %} Shared Deck Viewer {% endblock %} 
{% block head %} 

{% endblock %}


{% block main_0 %}
<div class = "row">
    <div class = "col-6">
        <div class=" d-none d-md-block col-md-12 d-flex justify-content-center align-items-center">
            <h1 class=" display-3 hcepha1"> {{deck.name }}</h1>
        </div>
    </div>
    <div class = "col-6">
{% if current_user.is_authenticated %}
<a id="save-deck" class="conversion-button" href="/deck_bp/save_shared_deck/{{deck.share_id}}">Save this deck</a>
{% else %}
<a class="conversion-button" data-bs-toggle="modal" data-bs-target="#registerModal">Register to save this deck</a>
{% endif %}
</div>
</div>
<div  id = "tour-cards"class = "row">
       
    {% for card in paginated_cards.items %}
    {% if card.category == "Mcq" %}
    <div class = "col-md-6 p-2">
        <div class = "card">
            <div class = "card-body">
                <h5 class = "card-title">{{ card.term }}</h5>
                <ul class="list-group list-group-flush" id="list{{ loop.index }}">
                    <li class="list-group-item" style="color: green;">{{card.content}}</li>                            
                    <li class="list-group-item" style="color: red;">{{card.boc_2}}</li>
                    <li class="list-group-item" style="color: red;">{{card.boc_3}}</li>
                    <li class="list-group-item"style="color: red" >{{card.boc_4}}</li>
                  </ul>
            </div>
        </div>
    </div>
    {% elif card.category == "Formulas" %}
    <div class = "col-md-6 p-2">
        <div class = "card">
            <div class = "card-body">
                <h5 class = "card-title">{{ card.term }}</h5>
                {{card.formula|safe}}
                <p>{{card.content}}</p>
            </div>
        </div>
    </div>
    {% elif card.category == "Discussion" %}
    <div class = "col-md-6 p-2">
        <div class = "card">
            <div class = "card-body">
                <h5 class = "card-title">{{ card.term }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{card.content}}</li>
                    <li class="list-group-item">{{card.boc_2}}</li>
                  </ul>
            </div>
        </div>
    </div>
    {% else %} 
    <div class = "col-md-6 p-2">
        <div class = "card">
            <div class = "card-body">
                <h5 class = "card-title">{{ card.term }}</h5>
                <p>{{card.content}}</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class = "col-md-12 p-2">
    <ul class=" my-1 pagination">
        {% if paginated_cards.has_prev %}

        <li class="page-item"><a class="page-link" href="{{ url_for('deck_bp.shared_deck_view', share_id=deck.share_id, page=paginated_cards.prev_num, sort=request.args.get('sort'), search=request.args.get('search')) }}">&laquo;</a></li>
        {% endif %}
        {% for page_num in paginated_cards.iter_pages() %}
            <li class="page-item {% if page_num ==paginated_cards.page %}active{% endif %}">
                {% if page_num %}
                    <a class="page-link" href="{{ url_for('deck_bp.shared_deck_view', share_id=deck.share_id, page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <span class="page-link">...</span>
                {% endif %}
            </li>
        {% endfor %}
        {% if paginated_cards.has_next %}
        <li class="page-item"><a class="page-link" href="{{ url_for('deck_bp.shared_deck_view', share_id=deck.share_id, page=paginated_cards.next_num, sort=request.args.get('sort'), search=request.args.get('search')) }}">&raquo;</a></li>
        {% endif %}
    </ul>
    </div>
</div>



<script>
    $('#save-deck').click(function() {
        $.ajax({
            url: '/deck_bp/save_shared_deck/{{deck.share_id}}',
            type: 'GET',
            success: function(response){
                console.log(response);
                alert("Deck saved!");
            },
            error: function(error){
                console.log(error);
            }
        });
    });
</script>
{% endblock %}