{% extends "layout.html" %}

{% block title %} Blog {% endblock %}

{% block head %}
<style>
    /* Your styles */
    .blog-container {
        background-color: #fcf9ff;
        padding: 20px;
    }
    .blog-post {
        background-color: #ffffff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
    .blog-post:hover {
        transform: scale(1.02); 
    }
    .post-display {
        background-color: #ffffff;
        padding: 25px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .blog-title {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        color: #6019FF;
        text-decoration: none;
    }
    .blog-metadata {
        color: #777;
        margin-bottom: 15px;
    }
    .blog-content {
        text-align: justify;
    }
    .opened {
        background-color: #efe8ff;
    }
</style>
{% endblock %}

{% block main_0 %}



<div class="container">
    <h1 class="hcepha1">InkSights by Cephadex</h1>
    <div class=" row mt-5">
        <!-- Example Blog Post 1 -->
        <div class = "col-md-8 col-12 post-display" id ="blog-post-container">
            <div id = "blog-post ">
                <div id = "blog-title" class ="blog-title"></div>
                <div class = "row modal-footer">
                    <div class = "col">
                        <div class = " d-flex justify-content-center">
                            <a class="btn btn-outline-dark btn-floating m-1" onclick="shareToSocialMedia('twitter')" role="button"
                            target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
                            <a class="btn btn-outline-dark btn-floating m-1" onclick="shareToSocialMedia('reddit')" role="button"
                            target="_blank"><i class="fab fa-reddit fa-lg"></i></a>
                            <a class="btn btn-outline-dark btn-floating m-1" onclick="shareToSocialMedia('whatsapp')" role="button"
                            target="_blank"><i class="fab fa-whatsapp fa-lg"></i></a>
                            <a class="btn btn-outline-dark btn-floating m-1" onclick="shareToSocialMedia('linkedin')" role="button"
                            target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                            <a class="btn btn-outline-dark btn-floating m-1" onclick="shareToSocialMedia('facebook')" role="button"
                            target="_blank"><i class="fab fa-facebook fa-lg"></i></a>
                            <a class="btn btn-outline-dark btn-floating m-1" onclick="shareToSocialMedia('telegram')" role="button"
                            target="_blank"><i class="fab fa-telegram fa-lg"></i></a>
                          </div>
                        </div>
                <div id = "blog-date" class = "col align-content-end"></div>
            </div>
                

                
                <div id = "blog-image"></div>
                <div id = "blog-content"></div>
            </div>

        </div>
        <div class = "col-md-4 col-12 " id="blog-posts" class="">
            
        </div>
    </div>
</div>


<script>


document.addEventListener('DOMContentLoaded', (event) => {
    const path = window.location.pathname
    const pathSegments = path.split('/');
    const articleSlug = pathSegments.pop();

    console.log("article slug is", articleSlug)
    const apiUrl = '/info_bp/api_0/blog/fetch_list_all_posts';
    blogContainer = document.getElementById('blog-posts')



    fetch(apiUrl)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(blogs => {
            console.log(blogs)
            blogs.forEach(blog => {

                const blogLink = document.createElement('a');
                blogLink.id = blog.slug;
                const blogPost = document.createElement('div');
                blogPost.className = "blog-post"

                blogLink.addEventListener('click', function(event) {
                    event.preventDefault();
                    getSpecificBlog(blog.slug);
                });
                 blogLink.addEventListener('click', () => {
                    // Scroll the page to the top smoothly
                    window.scrollTo({
                        top: 0,
                        behavior: 'smooth'
                    });
                });
                const blogTitle = document.createElement('h5');
                blogTitle.textContent = blog.title;
                const blogSummary = document.createElement('p');
                blogSummary.textContent = blog.summary;
                blogSummary.id = `sum${blog.slug}`
                blogContainer.appendChild(blogLink);
                blogLink.appendChild(blogPost);
                blogPost.appendChild(blogTitle);
                blogPost.appendChild(blogSummary);

                
            }
            )
        })
        .catch(error => {
            console.error('There was a problem fetching the data:', error);
        });

    if (articleSlug!= null) {
        getSpecificBlog(articleSlug);
    }
    else {
        getSpecificBlog("latest");
    }
}
)


function getSpecificBlog(blog_slug) {
    const blogTitleContainer = document.getElementById("blog-title");
    const blogImageContainer = document.getElementById("blog-image");
    const blogContentContainer = document.getElementById("blog-content");

    const url = '/info_bp/api_0/blog/' + blog_slug;

    fetch(url)
        .then(response => {
            if (!response.ok) {
                blogContentContainer.innerText = "We were unable to retrieve that blog post"
            }
            return response.json();
        })
        .then(blog => {
            console.log(blog);
            const selectedBlogs = document.getElementsByClassName("opened");
            Array.from(selectedBlogs).forEach(element => {
            element.classList.remove("opened");
            });
            const blogSummary = document.getElementById(blog.slug);
            const blogDate = document.getElementById('blog-date');
            const rawDate = new Date(blog.time_created);

            // Extract the date components
            const day = rawDate.getDate();
            const month = rawDate.toLocaleString('en-US', { month: 'short' }); // 'Oct'
            const year = rawDate.getFullYear();

            // Format the date
            const formattedDate = `${day}, ${month}. ${year}`;

            blogDate.innerText = formattedDate;

            const blogSummaryContainer = blogSummary.children;
            console.log(blogSummary);
            console.log(blogSummaryContainer);
            blogSummaryContainer[0].classList.add("opened");
            console.log(blog.title)
            console.log(blog.content)
            blogTitleContainer.innerText = blog.title;
            blogContentContainer.innerHTML = blog.content;
            const blogUrl = document.createElement('a');
            blogUrl.id = 'blogPostUrl';
            blogUrl.innerText = 'https://www.cephadex.com/info_bp/blog/'+ blog.slug;
            blogContentContainer.appendChild(blogUrl);

        })
        .catch(error => {
            console.error('There was a problem fetching the data:', error);
        });
}


function shareToSocialMedia(platform) {
    const urlExtension = document.getElementById('blogPostUrl')
    const shareUrl = urlExtension.innerText;
    const shareTitleElement = document.getElementById('blog-title');
    const shareTitle = shareTitleElement.innerText;
        if (platform === 'twitter') {
          url = `https://twitter.com/intent/tweet?text=${shareTitle}&url=${encodeURIComponent(shareUrl)}`;
        } else if (platform === 'facebook') {
          url = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(shareUrl)}`;
        } else if (platform === 'whatsapp') {
          url = `https://wa.me/?text=${encodeURIComponent(shareUrl)}`;
        } else if (platform === 'linkedin') {
          url = `https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(shareUrl)}`;
        } else if (platform === 'reddit') {
          url = `https://reddit.com/submit?url=${encodeURIComponent(shareUrl)}&title=${shareTitle}`;
        } else if (platform === 'telegram') {
          url = `https://t.me/share/url?url=${encodeURIComponent(shareUrl)}&text=${shareTitle}`;
        }
    
          window.open(url, '_blank').focus();
        }


</script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const buttons = document.querySelectorAll('.toggle-content-btn');

        buttons.forEach(button => {
            const targetContentId = button.getAttribute('data-target');
            const targetContent = document.querySelector(targetContentId);

            targetContent.addEventListener('shown.bs.collapse', () => {
                button.textContent = 'Collapse';
            });

            targetContent.addEventListener('hidden.bs.collapse', () => {
                button.textContent = 'Read more...';
            });
        });
    });
</script>
{% endblock %}