{% extends "layout.html" %} {% block title %} Legal {% endblock %} {% block head
    %}
    
    {% endblock %} {% block main_0 %}
    

<div class = "container">
    <div class = "mt-4" style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <div class = "col-12 text-center" style="background-color: #f5f2fc; padding: 20px 40px; border-radius: 10px; box-shadow: 0 0 15px #a880fd; width: 300px;">
        <h2 class = "my-4" style="text-align: center; font-size: 2.5rem; margin-bottom: 1.5rem; color: #6019FF;" >Legal Information:</h2>
        <p><strong>Cephadex Limited</strong></p>
        <p>Company Number: 739475</p>
        <p>Tax registration: 4144165CH</p>
        <p>Registered Office:</p>
        <address>
            UNIT 4<br>
            First Floor<br>
            84 Strand Street<br>
            Skerries, Dublin<br>
            Ireland
        </address>
        <p>Director: Kevin McCarthy</p>
<p> View our <a href="/info_bp/terms_and_conditions">Terms and conditions</a></p>
</div>


</div>

</div>

    {% endblock %}