{% extends "layout.html" %} {% block title %} Study {% endblock %} {% block head
    %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    
    <script>
      var jq = $.noConflict();
    
      jq(document).ready(function() {
          var cardList;
          var currentCard;
          var currentCardIndex = 0;
          var deckId = {{deck}};
    
          jq.ajax({
              type: 'GET',
              url: '/study_bp/forcestudy/' + deckId,
              dataType: 'json',
              success: function(data) {
                  cardList = data;
                  if (cardList === null || cardList === undefined) {
                      console.log("no cards")
                      alert('This deck is empty!')
                  }
                  else {
                  currentCard = cardList[currentCardIndex];
                  jq('#card-term').html(currentCard.term);
                  jq('#card-id').html(currentCard.id);
                  jq('#card-content').html(currentCard.content);
                  jq('#card-boc_2').html(currentCard.boc_2);
                  jq('#card-boc_3').html(currentCard.boc_3);
                  }
              },
          });
    
          jq('#forgot-btn').click(function() {
              jq('#card-extra-content').show();
          });
    
          jq('#remember-btn').click(function() {
              jq('#card-extra-content').show();
          });
    
          jq('#next-btn').on('click', function() {
              var card_id = currentCard.id;
              var csrf_token = jq("input[name='csrf_token']").val();
    
              jq('#card-extra-content').hide();
    
              currentCardIndex = (currentCardIndex + 1) % cardList.length; // move to the next card
    
              if(cardList.length === 0){
                  alert("No more cards due!")
                  return;
    
              } else {
                  currentCard = cardList[currentCardIndex];
                  jq('#card-term').html(currentCard.term);
                  jq('#card-id').html(currentCard.id);
                  jq('#card-content').html(currentCard.content);
                  jq('#card-boc_2').html(currentCard.boc_2);
                  jq('#card-boc_3').html(currentCard.boc_3);
              }
          });
    

      });
    </script>
    
    {% endblock %} {% block main_0 %}
    <h5> You are currently in casual mode - your current reviews are not factored into our SRS!</h5>
    <p id="no-cards"></p>
    <a href = "/study_bp/casualmode/{{deck}}" id="force-study" style="display: none">Study anyway</a>
    <div class="row">
      <a href="/deck_bp/view_decks"> Return to decks</a>
    </div>
    <div class="container mt-1 p-1">
      <div class="col-8-md mx-auto box_0 p-1 border-0">
        <div class="card m-1 bg-light"style="border-radius:15px">
          <div class = "col-6-md mx-auto">
          <div id="card-container mx-auto" style = "min-height: 300px; width: 300px;">
            <div class="card-body mt-1" style="border-radius:15px">
              <h3 class="card-title border-0 input_0 form-control form-control-lg m-1" id="card-term"></h3>
              <div id="card-id" style="display: none"></div>
              <!-- Card term will be inserted here -->
            
          </div>
     <div style = "min-height: 200px;">
          <div class = "box_1 mt-1 p-2" id="card-extra-content" style="display: none">
            <p id="card-content"></p>
            <p id="card-boc_2"></p>
            <p id="card-boc_3"></p>
          </div>
    </div>
      
          <div class="row my-1">
            <div class ="col"><button class="btn box_study"  id="remember-btn">Reveal</button></div>
            <div class ="col"><button class="btn box_study" id="next-btn">Next</button></div>
          </div>
        </div>
      </div>
    
        </div>
      </div>
    </div>
    {% endblock %} 
    
    // implement later for mobile //on swipe left //card.interval
    should be decremented by 50%, card.time_updated should be updated to current
    time, card.content, card.boc_2, card.box_3 should be displayed //on swipe right
    //card.interval should be incremented by 100%, card.time_updated should be
    updated to current time, card.content, card.boc_2, card.box_3 should be
    displayed //on double click or double tap //the existing card should be removed
    from the list and a new one should be loaded
    