$cepha_1: #6019FF;
$cepha_105: #a880fd;
$cepha_101: #efe8ff;

$cepha_2: #FF6700;
$cepha_205: #fcad79;

$cepha_3: #27007D;
$cepha_305: #523e7c;
$cepha_301: #757081;

$cepha_4: #10003B;
$cepha_405: #430adf;
$cepha_401: #a0a8f7;


$cepha_5: #54FFF1;
$cepha_505: #a0f9f9;


$cepha_9999: #b6e2e2;
$cepha_8888: #ebe6f7;

$cepha_6: #ffffff;
$cepha_605: #f9f9f9;

$std_col_1:  #1D71BA;
$std_col_2: #EDC400;
$std_col_3: #B25690;
$std_col_4: #71B379;
$xtr_col_1: #37D6A4;
$xtr_col_2: #F1466B;


$serious_blue: #26475e;
// Navbar color #609BCF

$dark: #2D3142;
$pblue: #B0D7FF;
$grey: #ADACB5;
$lgrey: #D8D5DB;
$lpink: #EAE8FF;




$backgroundC: white;
$backgroundC1: white;
$backgroundCA: $pblue;
$backgroundCA1: #9cccfc;

$textC: $dark;
$textC1: $dark;

$boxC:$std_col_1;
$boxC1:$std_col_1;
$boxC2:$std_col_1;

$warningC:$cepha_3;
$successC:$cepha_5;

$borderC:$std_col_1;
$borderC1:$std_col_1;

// Pastel set
//blue
$blue: #7A9CC6;
//light blue
$lblue: #9FBBCC;
//green
$green: #B3D2B2;
//light green
$lgreen: #BDE4A7;
//yellow
$yellow: #FFFD98;





$btn-white-space: nowrap;

 
@media print {
  /* Apply styles for printing */
  .no-page-break-inside {
    page-break-inside: avoid;
  }

  
  .no-page-break {
    page-break-inside: avoid;
  }
}

.responsive {
    max-width: 100%;
    height: auto;
  }



.full-width {
    position: absolute;
    left:0px;
    right:0px;
}

.centerit {
    align-self: center !important;
}

body {

    background-color: $cepha_6!important;
    background-size: cover;
    font-family: 'Poppins', sans-serif !important;

  }
.main-class {
  margin-top: 75px;

}


.row {
    --mdb-gutter-x: 0.5rem !important;
}

  
.input_0 {
    background-color: $backgroundC !important;
    color: black;
    
}

.txtedit {
    background-color: $backgroundC !important;
    border: none;
    size: 50;
}

.card {
    background-color: $backgroundC !important;
}
.card-body {
    background-color: $backgroundC !important;
}

.card-title {
    background-color: $backgroundC !important;
}

.card-text {
    background-color: $backgroundC !important;
}
#text_input
{
    height:200px;
    width: 200px;
    font-size:10pt;
}

.btn-primary:hover {
    background-color: $backgroundC !important;
}

.btn-primary {
    background-color: $backgroundC !important;
    color: $textC !important;
    border-color: $borderC !important;
}


.btn-primary:active {
    background-color: $backgroundC !important;
}

// boxes

.box_0 {
    border: 5px solid !important;
    align-content: center !important;
    background-color: $cepha_605 !important;
    border-width:3px !important;
    border-radius: 10px !important;
    border-color: $cepha_1 !important;
    align-self: center !important;
    color: $textC !important;
}

.box_1 {
    border-radius: 15px !important;
    color:$textC !important;
    background-color: $backgroundC !important;
}

.box_warning {
    border: 10px solid !important;
    align-content: center !important;
    background-color: $warningC !important;
    border-width:1px !important;
    border-radius: 5px !important;
    border-color: $borderC !important;
    align-self: center !important;
    color: $textC !important;
}

.box_s {
    border: 10px solid !important;
    align-content: center !important;
    background-color: $backgroundC !important;
    border-width:1px !important;
    border-radius: 5px !important;
    border-color: $borderC !important;
    align-self: center !important;
    color: $textC !important;
}

.box_study {
    border: 10px solid !important;
    align-content: center !important;
    background-color: $backgroundC !important;
    border-width:1px !important;
    border-radius: 5px !important;
    border-color: $cepha_1 !important;
    align-self: center !important;
    color: $textC !important;
}

.btn-max-1 {
    max-width: 120px !important;
    color: $textC !important;
}



.calign {
    align-self: center !important;
}

.table_0 {
    color: $cepha_4 !important;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }



main {
    flex-grow: 1;
}

footer {
    background-color: $cepha_6!important;
    opacity: 1;
}

.correct {
    background-color: $successC !important;
}

.incorrect {
    background-color: $warningC !important;
}

.correct-selected {
    background-color: $cepha_5!important;
    color: black !important;

}
.incorrect-selected {
    background-color: $cepha_3 !important;
    color: $cepha_6 !important;
}

.deck_t
{
    font-size: large;
}

.eq_buttons_div{
    display:flex !important;
    justify-content:space-around !important;
}

.eq_buttons {
    width: 100%;
    margin: 3px; /* or whatever */
  }

// DISPLAY CARD IN STUDY
/* CSS to style the card container */
#card-container {
    width: 500px;
    height: 300px;
    border: 1px;
    border-color: $borderC;
    padding: 10px;
}

/* CSS to hide the extra content by default */
#card-extra-content {
    display: none;
}

.selected {
    background-color: $backgroundC;
}

.video-large {
  width: 150%;
  height: 150%;
}


.mw1 {
    max-width: 500px;
}

.minh1 {
    min-height:70vh;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltiptext {
    visibility: hidden;
    width: 120px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
  }


.tooltip:hover .tooltiptext {
    visibility: visible;
  }





.tab-pane {
    border-radius: 5px !important;
}

.tab-content {
    border-radius: 5px !important;
}




.full-w {
    width: 100% !important;
    max-width: 100% !important;
}

//NAVBAR
.navbar {
    background-color: $cepha_6!important;
}
.navbar-brand {
    margin-left: 4px !important;
}


// SLIDE
#slide-max-container {
        height: 80%;
        width: 100%;
        overflow: hidden;
}

.slider-container {
    height: 100vh;
    display: inline-flex;
    overflow: hidden;
    scrollbar-width: none;
    transform: translateX(0);
    will-change: transform;
    transition: transform 0.3s ease-out;
  }
  
  .slide{
    max-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
  }


.selected {
    border-width: 3px !important;
}

// TABLE REFORMATTING

@media screen and (max-width: 540px) {
    table.mobile-optimised {
      word-wrap: break-word;
      font-size: 1rem;
      border: none;
    }
    table.mobile-optimised thead {
      display: none;
    }
    table.mobile-optimised td {
      display: block;
      float: left; /* ie9 and under hack */
      width: 100%;
      clear: both;
      padding: 10px 5px;
      box-sizing: border-box;
      font-size: 1rem;
      margin-left: 10px;
    }
    table.mobile-optimised tbody,
    table.mobile-optimised tr {
      display: block;
    }
    .mobile-optimised td:before {
      content: attr(data-th);
      display: block;
      font-weight: bold;
      margin: 0 0 2px;
      padding: 5px;
    }
    .mobile-optimised tbody tr {
      overflow: hidden;
    }
    .item-options,
    .table-heading {
      font-size: 2rem;
      background-color: #7A9CC6 !important;
    }
    .mobile-optimised .numbers {
      text-align: center;
    }
    .main-table tbody tr:nth-child(odd) td {
      background: #ccc;
    }

  }


  .carousel-indicators {
    position: fixed !important;
    bottom: 100px !important;
    z-index: 1030 !important; /* Adjust z-index if needed to ensure the indicators appear above other elements */
  }

// TABLE REFORMATTING 22222222222

@media screen and (max-width: 540px) {
    table.mobile-optimised2 {
      word-wrap: break-word;
      font-size: 1rem;
      border: none;
    }
    table.mobile-optimised2 thead {
      display: none;
    }
    table.mobile-optimised2 td {
      display: block;
      float: left; /* ie9 and under hack */
      width: 100%;
      clear: both;
      padding: 10px 5px;
      box-sizing: border-box;
      font-size: 1rem;
      margin-left: 10px;
    }
    table.mobile-optimised2 tbody,
    table.mobile-optimised2 tr {
      display: block;
    }
    .mobile-optimised2 td:before {
      content: attr(data-th);
      display: block;
      font-weight: bold;
      margin: 0 0 2px;
      padding: 5px;
    }
    .mobile-optimised2 tbody tr {
      overflow: hidden;
    }
    .item-options,
    .table-heading {
      font-size: 2rem;
      background-color: #7A9CC6 !important;
    }
    .mobile-optimised2 .numbers {
      text-align: center;
    }
    .main-table tbody tr:nth-child(odd) td {
      background: #ccc;
    }

  }


button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
// LANDING PAGE
.modal-header-style {
    background: linear-gradient(45deg, $cepha_1, $cepha_101) !important;
    color: $cepha_6!important;
  }

.modal-header-style-2 {
  background: linear-gradient(45deg, $cepha_1, $cepha_105) !important;
  color: $cepha_6!important;
}

.account-header-style {
  background: linear-gradient(45deg, $cepha_1, $cepha_105) !important;
  color: $cepha_6!important;
}

.toast-header {
  background: linear-gradient(45deg, $cepha_1, $cepha_101) !important;
  color: $cepha_6!important;
}

.deck-manager-header {
  background: linear-gradient(45deg, $cepha_1, #7f44fd) !important;
  color: $cepha_6!important;
}
.deck-manager-header a {
  color: $cepha_6!important;
}

.circle-img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%; /* replace with your desired width */
    height: 100%; /* replace with your desired height */

  }

.flash-message {
    border-radius: 5px;
    text-align: center;
}
.alert {
    border-radius: 5px;
    background-color: $cepha_105!important;
    color: $cepha_6!important;
    text-align: center;
    padding: 0px 32px 0px 0px!important;
}
.alert .btn-close {
  padding-top: 0px!important;
  color: $cepha_2!important;
  margin-bottom: 8px!important;
}
.ai-reply {
    background-color: $lpink;
    padding: 1px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 1px;
    border-radius: 2px;
}

.hero {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;



}
.hero-video {
  width: 35vw;
  height: 30vh;
  border-radius: 10px;
  border: $cepha_2 solid 4px;
}

@media only screen and (max-width: 767px) {
  .hero-video {
    width: 90vw;
  }
}

.try-out {
  border-radius: 5px;
  border:#7A9CC6 solid 2px;
}


.conversion-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  background-color: $cepha_1;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.conversion-button:hover {
  background-color: $cepha_2;
  color: $cepha_6;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  cursor: pointer;
}





.scroll-down-icon {
  position: relative;

  transform: translateX(-75%);
  z-index: 1;
  animation: pulse 2s ease-in-out infinite;
}

.scroll-down-icon a {
  display: block;

  color: #fff;
  background-color: #007bff;
  border-radius: 50%;
}

.scroll-down-icon i {
  font-size: 24px;
}

@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}



.hero-text {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: $cepha_1;
  text-shadow: 1px 1px #fff;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .hero-text {
    font-size: 24px;
  }
}




.newsletter-section {
  background-color: $cepha_6;
  border:$cepha_1 solid 2px;
  padding: 30px;
  border-radius: 10px;
}

.newsletter-section h2 {
  color: $cepha_2;
}

.newsletter-section p {
  color: $cepha_1;
}

.newsletter-section form {
  margin-top: 30px;
}

.newsletter-section label {
  color: #333;
  font-weight: bold;
}

.newsletter-section .form-floating input,
.newsletter-section .form-floating textarea {
  border-radius: 10px;
  border-color: #ccc;
  color: #666;
}

.newsletter-section .form-floating label {
  color: #333;
}

.newsletter-section button[type="submit"] {
  background-color: $cepha_1!important;
  border-color: $cepha_4!important;
  color: $cepha_6!important;
  font-weight: bold;
  transition: all 0.3s ease;
}

.newsletter-section button[type="submit"]:hover {
  background-color: $cepha_2!important;
  border-color: $cepha_4!important;
  color: $cepha_6!important;
  transform: translateY(-2px);
}


.try-out-card-back {
  background-color: aliceblue;
}




.btn-test-1 {
  height: 50px;
  border-radius: 5px;
  border: 1px solid $cepha_3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  white-space: nowrap;
  background-color: $cepha_205 !important;
  box-shadow: #10003B 0px 0px 5px 0px;
}

.btn-test-1:hover {
  transform: scale(1.1);
  background-color: $cepha_2 !important;
  border: 2px solid $cepha_3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.fab-container {
  position: fixed;
  bottom: 20px;
  right: 24px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fab-main {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-width: 4px;
  border-color: $cepha_1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  z-index: 1;
  color: $cepha_1;
  background-color:$cepha_2;
  margin-top: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5) !important;

}
.fab-main:hover {
  transform: scale(1.1);
  translate: translateY(-2px);
  transition: all 0.1s ease !important;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5) !important;
}

.fab-options {
  position: relative;
  display: none;
  flex-direction: column;
  gap: 8px;
  width: 200px;
  z-index: 0;
}

.fab-container:hover .fab-options {
  display: flex;
}

.fab-container:hover .fab-main{
  background-color: $cepha_2;
}

.fab-option {
  height: 60px;
  border-radius: 10px!important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: $cepha_6 !important;
  white-space: nowrap;
  background-color: $cepha_1 !important;
}

.fab-option:hover {
  transform: scale(1.1);
  background-color: $cepha_2 !important;
}


///////////  FAB CHAT BOX ////////
.fab-chat-container {
  max-height: 80vh;
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.fab-chat-container:hover .fab-chat-content {
  display: flex;
}

.fab-chat-container:hover .fab-chat-main{
  background-color: none;
  transform: scale(1.4);
}


.fab-chat-main {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  z-index: 1;
  margin-top: 8px;
}

.fab-chat-content {
  position: relative;
  display: none;
  flex-direction: column;
  gap: 10px;
  width: 50vw;
  margin-top: 10px;
  z-index: 0;
  align-items: end;
}

.chat-box {
  display: flex;
  flex-direction: column;
  position:relative;
  max-height: 80vh;
  min-height: 50vh;
  height: 100%;
  width: 100%;
  background-color: $cepha_5;
  border-radius: 10px;
  border: 4px solid $cepha_4;
  box-shadow: 4px 4px 6px rgba(135, 111, 240, 0.5);
  transition: all 0.3s ease;
  padding: 5px;

}

@media screen and (max-width: 768px) {
  .fab-chat-content {
    width: 98vw;
  }

  .fab-chat-main {
    font-size: 25px;
    width: 60px;
    height: 60px;
  }
  .fab-chat-container {
    bottom: 5px;
    right: 5px;
    width: 98vw;
  }
  .fab-chat-container:hover .fab-chat-main{
    display:none;
  }
  
}


.chat-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  background-color: $cepha_6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2px;
  min-width: 200px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: $cepha_4;
  color: $cepha_4;

}

.chat-body {
  position: relative;
  display: flex;
  flex-grow: 1;
  background-color: $cepha_6;
  padding: 2px;
  min-width: 200px;
  transition: all 0.3s ease;
  display: flex;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: $cepha_4;
  overflow-y: auto; /* Always show the scrollbar and hide overflowing content */
  overflow-anchor: none;
  scrollbar-width: thin; 
}



.chat-footer{
  display: flex;
  border-radius: 10px;
  height: 70px;
  width:100%;
  background-color: $cepha_6;
  min-width: 200px;
  transition: all 0.3s ease;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
  border-color: $cepha_4;
}


.chat-field {
  width: 80%;
  height: 100%;
  background-color: $cepha_6;
  border-radius: 5px;
  border: 2px solid $cepha_4;
  padding: 5px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.chat-field:hover {
  border-color: $cepha_4;
  background-color: $cepha_5;
}
.chat-field-send {
  width: 19%;
  height: 100%;
  border-radius: 5px;
  background-color: $cepha_6;
  border: 2px solid $cepha_4;
  padding: 2px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 1%;
}




.chat-field-send:hover {
  background-color: $cepha_5;
  border-color: $cepha_4;

}
.btn-chat-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.btn-chat {
  font-size: 13px;
  max-width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: $cepha_5;
  border: 2px solid $cepha_4;
  padding: 2px;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 1px
}

.btn-chat:hover {
  font-size: 13px;
  border-radius: 15px;
  background-color: $cepha_4;
  border: 2px solid $cepha_4;
  color: $cepha_5;
  padding: 2px;
  transition: all 0.3s ease;
  overflow: hidden;
  margin: 1px
}

.ai-reply {
  font-size: 13px;
  max-width: 80%;
  min-width: 100px;
  max-height: 400px;
  border-radius: 15px;
  background-color: $cepha_6 !important;
  border: 3px solid $cepha_1;
  padding: 5px;
  transition: all 0.3s ease;
  overflow: auto;

}
.user-question {
  margin-right: 2px;
  font-size: 13px;
  min-width: 100px;
  max-width: 80%;
  max-height: 450px;
  border-radius: 15px;
  margin-bottom: 0rem !important;
  background-color: $cepha_6!important;
  border: 3px solid $cepha_2;
  padding: 5px;
  transition: all 0.3s ease;
  overflow: hidden;

}
.chat-text-container {
  max-height: 500px;
  width: 100%;
  overflow-anchor: none;
  scrollbar-width: thin; 
  border: 2px, solid, $cepha_1;
}
.message-row {
  display: flex;
  justify-content: flex-start;
  scrollbar-width: thin; 

}
.message-row.user {
  justify-content: flex-end;
  scrollbar-width: thin; 

}




//// STATS DASHBOARD

.dashboard {
    max-width: 2000px;
    margin: 0 auto;
    padding: 1px;
    text-align: center;
}

.stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1px;
}

.stat {
    background-color: $cepha_1;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2px;
    margin: 2px;
    width: calc(15% - 10px);
    min-width: 200px;
    transition: all 0.3s ease;

}

.stat:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
    background-color:$cepha_2;
}

.btn-feedback {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5) !important;
}
.btn-feedback:hover {
  transition: all 0.1s ease !important;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5) !important;
}


.button-initals {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 4px;
  border-color: $cepha_1;
  background-color: #ffffff;
  color: $cepha_1;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.button-initals:hover {
  background-color: $cepha_2;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transform: scale(1.1);
  transition: all 0.1s ease;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);

}


.btn-feedback {
  
  border-color: $cepha_1 !important;
  background-color: $cepha_6 !important;
  color: $cepha_1 !important;
  border-width:4px;
  font-size: 18px;
  cursor: pointer;
}
.btn-feedback:hover {
  background-color: $cepha_2 !important;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transform: scale(1.1);
  
}
.progress {
  color: $cepha_1!important;
}

.progress-bar {
  background-color: $cepha_2!important;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2px;
  margin: 2px;
  width: calc(15% - 10px);
  min-width: 200px;
  transition: all 0.3s ease;
}


.view-row td{
  padding-top: 15px !important;
  padding-bottom: 15px !important;

}

.scrolling-header {
  font-size: 24px !important;
  text-align: center !important;
  margin-top: 50px !important;
  font-weight: bold !important;
  color: $cepha_1 !important;
}

.scrolling-header-words {
  font-size: 40px !important;
  text-align: center !important;
  margin-top: 50px !important;
  font-weight: bold !important;
  color: $cepha_2 !important;
}

.clickable-header {
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 22;
  color: $cepha_1!important;
}

.clickable-header:hover {
  background-color: $cepha_2;
}

.clickable-header i {
  margin-left: 0.5rem;
  font-size: 1rem;
}


.form-option {
  font-size: 14px;
}



.btn-generate {
  border-radius: 25px;
  color: $cepha_6 !important;

  background-color: $cepha_1 !important;
  border: 2px;
  padding: 10px 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-generate:hover {
  background-color: $cepha_2 !important;
  color: $cepha_6 !important;
  border-color: $cepha_4 !important;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-generate:active {
  background-color: $cepha_1 !important;
  color: $cepha_6 !important;
}

.btn-generate:disabled {
  background-color: $cepha_6 !important;
  color:rgba(0, 0, 0, 0.1) !important;
  cursor: not-allowed;
  box-shadow: none;
}

.nav-link:active {
  background-color: $cepha_1 !important;
  color: $cepha_6 !important;
  transform: scale(0.98);
}

.nav-link {
  color: $cepha_4 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: $cepha_6 !important;
  background-color: $cepha_2 !important;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.nav-link.active:hover {
  color: $cepha_6 !important;
  background-color: $cepha_2 !important;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-pills .nav-link.active {
  background-color: $cepha_1 !important;
  color: $cepha_6 !important;
}

.btn-options {
  border-radius: 25px;
  color: #ffffff!important;
  background-color: $cepha_2 !important;
  border: 2px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-options:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.tooltip-inner {
  background-color: $cepha_3 !important; /* Change the background color */
  font-size: 12px !important; /* Change the font size */
  border-radius: 10px !important; /* Change the border radius */
}


.tooltip.bs-tooltip-top .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: $cepha_3 !important; /* Change the arrow color */
}

.tooltip.bs-tooltip-right .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: $cepha_3 !important; /* Change the arrow color */
}

.tooltip.bs-tooltip-bottom .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: $cepha_3 !important; /* Change the arrow color */
}

.tooltip.bs-tooltip-left .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: $cepha_3 !important; /* Change the arrow color */
}


///// STUDY PAGE //////


.study-main {
  background-color: $cepha_6;
  min-height: 70vh;
  min-width:70vw;
  color: $cepha_2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;

}


.study-container {
  min-height: 50vh;
  width: 70vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: solid;
  border-color: $cepha_1;
  border-width: 5px;
  border-radius: 15px;
  padding: 5px;
  background-color: $cepha_101;
}


.study-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  padding:10px;
  justify-content: center;
  text-align: center;
  top: 0;
  border: solid;
  border-color: $cepha_1;
  border-width: 1px;
  background-color: $cepha_6;
  border-radius: 10px;
  margin:5px;
}




.study-footer {
  position:relative;
  justify-content: center;
  text-align: center;
  bottom:0;
  padding: 10px;
  background-color: $cepha_6;
  border-radius: 10px;
  margin:5px;

}

.study-display {
  display: grid;
  min-height: 50vh;
  min-width: 50vw;
  border:solid;
  border-color: $cepha_1;
  border-width: 1px;
  background-color: $cepha_6;
  border-radius: 10px;
  margin:5px;
  padding: 10px;

}

.mcq {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1.5rem; /* Adjust the gap value according to your preference */
  height: 100%;

}

.mcq-button {
  width: 100%;
  border-color:$cepha_1;
  border-width: 3px;
  border-radius: 10px;
  background-color: $cepha_6;
}
.mcq-button:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: $cepha_101;
  border-color: $cepha_1;
}

.n-mcq-0 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.n-mcq-btn {
  border-width: 3px;
  border-radius: 10px;
  padding: 10px;
  font-size:large;
  flex: 0 0 48%;
  box-sizing: border-box;
}


#forgot-btn {
  background-color: $cepha_105 !important;
  color: $cepha_205 !important;
}

#forgot-btn:hover {
  background-color: $cepha_1 !important;
  color: $cepha_6 !important;
  border-color: $cepha_4 !important;
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  translate: 0.5s;
}
#remember-btn {
  background-color: $cepha_205 !important;
  color: $cepha_1 !important;
}
#remember-btn:hover {
  background-color: $cepha_2 !important;
  color: $cepha_6 !important;
  border-color: $cepha_6 !important;
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.next-prev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.next-prev-btn {
  border-width: 3px;
  border-radius: 10px;
  padding: 10px;
  font-size:large;
  flex: 0 0 48%;
  box-sizing: border-box;
  color: $cepha_4!important;
  border-color: $cepha_4!important;
}
.next-prev-btn:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  translate: 0.5s;
  background-color: $cepha_101!important;
}



.content-to-display {
  max-height: 50vh;
  overflow-y: auto; /* Enable vertical scrolling if the content exceeds max-height */
  padding: 1rem; /* Add some padding around the text */
  line-height: 1.5; /* Increase the line-height for better readability */
  text-align: center; /* Justify the text for a more polished look */
  word-wrap: break-word; /* Break long words to prevent horizontal overflow */
  hyphens: auto; /* Use hyphenation to improve text layout */

  font-size: clamp(30px, 1.5vw, 24px);
}




//////////////study dahsboard
/// 
.study-dash {
  border: solid;
  border-color: $cepha_1;
  border-width: 3px;
  background-color: $cepha_6;
  border-radius: 10px;

}

.return-icon {
  max-width: 30px;
  max-height: 30px;
}

.stat-table {
  display: table;
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 10px;
}

.stat-row {
  display: table-row;
}

.stat-row > div {
  display: table-cell;
  border-bottom: 1px solid #eee;
  padding: 5px;
}

.stat-row.header > div {
  font-weight: bold;
  border-bottom: 2px solid #333;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .stat-table {
    font-size: 14px;
  }
  
  /* Hide the Answered column on mobile */
  .stat-row .answered {
    display: none;
  }

  /* Adjust the width of the remaining columns */
  .stat-row > div {
    width: 50%;
  }
}



.card-header1
{
  background-color: $cepha_205!important;
  color: white!important;
  border-radius: 10px;
  border-width: 3px;
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hcepha1 {
  color: $cepha_1 !important;
  font-weight: bold;

}

td:empty {
  width: 1%; /* Adjust the value as needed */
}

.table td stringfield {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.credit-box {
  background-color: $cepha_2!important;
  color: $cepha_6!important;
}


.img-link:hover {
  transform: scale(1.05);
  content:url('/static/new-deck-icon-hover.png');
  width: 30px;
  height: 30px;
}

.img-more:hover {
  transform: scale(1.05)!important;
  content:url('/static/more-icon-hover.png')!important;
  width: 32px;
  height: 32px;
}


.box-manager {
  border-radius: 10px!important;
  border: solid!important;
  border-width: 3px!important;
  border-color: $cepha_1!important;
  
}

.box-build {
  border-radius: 10px!important;
  border: solid!important;
  border-width: 2px!important;
  border-color: $cepha_1!important;
  padding: 10px!important;
}

.box-manager.card-body {
  border-radius:10px!important;
}

.form-control:disabled {
  background-color: #d7d5ec!important;
}

.img-grow:hover {
  transform: scale(1.05)!important;
}

.card-body {
  border-radius: 10px!important;
}

.carousel-item {
  border-radius: 10px!important;
}
.card-header {
  border-top-left-radius: 5px!important;
  border-top-right-radius: 5px!important;
}


::-webkit-scrollbar {
  color: $cepha_105;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $cepha_105;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: $cepha_101;
  border-radius: 4px;
}
input[type="checkbox"].form-check-input:checked::after {
  content: none;
}


.spinner-border {
  color: $cepha_1!important; /* Replace with your desired color */
}

/* Customize the background color of Bootstrap spinners */
.spinner-border::after {
  border-color: $cepha_1!important; /* Replace with your desired color */
  border-right-color: transparent !important; /* Override default Bootstrap styles */
}


.spinner-grow {
  color: $cepha_1!important; /* Replace with your desired color */
}
.spinner-grow::before {
  border-color: $cepha_1!important; /* Replace with your desired color */
  border-right-color: transparent !important; /* Override default Bootstrap styles */
}