.responsive {
  max-width: 100%;
  height: auto;
}

footer {
  background-size: cover;
}

.full-width {
  position: absolute;
  left: 0px;
  right: 0px;
}

.centerit {
  align-self: center !important;
}

body {
  background-color: white !important;
  background-size: cover;
}

.row {
  --mdb-gutter-x: 0.5rem !important;
}

.input_0 {
  background-color: white !important;
  color: black;
}

.txtedit {
  background-color: white !important;
  border: none;
  size: 50;
}

.card {
  background-color: white !important;
}

.card-body {
  background-color: white !important;
}

.card-title {
  background-color: white !important;
}

.card-text {
  background-color: white !important;
}

#text_input {
  height: 200px;
  width: 200px;
  font-size: 10pt;
}

.btn-primary:hover {
  background-color: white !important;
}

.btn-primary {
  background-color: white !important;
  color: #2D3142 !important;
  border-color: #1D71BA !important;
}

.btn-primary:active {
  background-color: white !important;
}

.box_0 {
  border: 10px solid !important;
  align-content: center !important;
  background-color: white !important;
  border-width: 5px !important;
  border-radius: 20px !important;
  border-color: #1D71BA !important;
  align-self: center !important;
  color: #2D3142 !important;
}

.box_1 {
  border-radius: 15px !important;
  color: #2D3142 !important;
  background-color: white !important;
}

.box_warning {
  border: 10px solid !important;
  align-content: center !important;
  background-color: #F1466B !important;
  border-width: 1px !important;
  border-radius: 5px !important;
  border-color: #1D71BA !important;
  align-self: center !important;
  color: #2D3142 !important;
}

.box_s {
  border: 10px solid !important;
  align-content: center !important;
  background-color: white !important;
  border-width: 1px !important;
  border-radius: 5px !important;
  border-color: #1D71BA !important;
  align-self: center !important;
  color: #2D3142 !important;
}

.box_study {
  border: 10px solid !important;
  align-content: center !important;
  background-color: white !important;
  border-width: 1px !important;
  border-radius: 5px !important;
  border-color: #1D71BA !important;
  align-self: center !important;
  color: #2D3142 !important;
}

.btn-max-1 {
  max-width: 120px !important;
  color: #2D3142 !important;
}

.calign {
  align-self: center !important;
}

.table_0 {
  color: #2D3142 !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-footer {
  margin-top: auto;
}

main {
  flex-grow: 1;
}

footer {
  background-color: white;
}

.correct {
  background-color: #37D6A4 !important;
}

.incorrect {
  background-color: #F1466B !important;
}

.correct-selected {
  background-color: #37D6A4 !important;
}

.incorrect-selected {
  background-color: #F1466B !important;
}

.deck_t {
  font-size: large;
}

.eq_buttons_div {
  display: flex !important;
  justify-content: space-around !important;
}

.eq_buttons {
  width: 100%;
  margin: 3px; /* or whatever */
}

/* CSS to style the card container */
#card-container {
  width: 500px;
  height: 300px;
  border: 1px;
  border-color: #1D71BA;
  padding: 10px;
}

/* CSS to hide the extra content by default */
#card-extra-content {
  display: none;
}

.selected {
  background-color: white;
}

.mw1 {
  max-width: 400px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tab-pane {
  border-radius: 5px !important;
}

.tab-content {
  border-radius: 5px !important;
}

.full-w {
  width: 100% !important;
  max-width: 100% !important;
}

.navbar-brand {
  margin-left: 4px !important;
}

.nav-link.active {
  background-color: #1D71BA !important;
}

#slide-max-container {
  height: 80%;
  width: 100%;
  overflow: hidden;
}

.slider-container {
  height: 100vh;
  display: inline-flex;
  overflow: hidden;
  scrollbar-width: none;
  transform: translateX(0);
  will-change: transform;
  transition: transform 0.3s ease-out;
}

.slide {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

#forgot-btn {
  background-color: #F1466B !important;
}

.selected {
  border-width: 3px !important;
}

#remember-btn {
  background-color: #37D6A4 !important;
}

@media screen and (max-width: 540px) {
  table.mobile-optimised {
    word-wrap: break-word;
    font-size: 1rem;
    border: none;
  }
  table.mobile-optimised thead {
    display: none;
  }
  table.mobile-optimised td {
    display: block;
    float: left; /* ie9 and under hack */
    width: 100%;
    clear: both;
    padding: 10px 5px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-left: 10px;
  }
  table.mobile-optimised tbody,
  table.mobile-optimised tr {
    display: block;
  }
  .mobile-optimised td:before {
    content: attr(data-th);
    display: block;
    font-weight: bold;
    margin: 0 0 2px;
    padding: 5px;
  }
  .mobile-optimised tbody tr {
    overflow: hidden;
  }
  .item-options,
  .table-heading {
    font-size: 2rem;
    background-color: #7A9CC6 !important;
  }
  .mobile-optimised .numbers {
    text-align: center;
  }
  .main-table tbody tr:nth-child(odd) td {
    background: #ccc;
  }
}
@media screen and (max-width: 540px) {
  table.mobile-optimised2 {
    word-wrap: break-word;
    font-size: 1rem;
    border: none;
  }
  table.mobile-optimised2 thead {
    display: none;
  }
  table.mobile-optimised2 td {
    display: block;
    float: left; /* ie9 and under hack */
    width: 100%;
    clear: both;
    padding: 10px 5px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-left: 10px;
  }
  table.mobile-optimised2 tbody,
  table.mobile-optimised2 tr {
    display: block;
  }
  .mobile-optimised2 td:before {
    content: attr(data-th);
    display: block;
    font-weight: bold;
    margin: 0 0 2px;
    padding: 5px;
  }
  .mobile-optimised2 tbody tr {
    overflow: hidden;
  }
  .item-options,
  .table-heading {
    font-size: 2rem;
    background-color: #7A9CC6 !important;
  }
  .mobile-optimised2 .numbers {
    text-align: center;
  }
  .main-table tbody tr:nth-child(odd) td {
    background: #ccc;
  }
}
.bg-gradient-primary-to-secondary {
  background: linear-gradient(45deg, #1D71BA, #B25690) !important;
}/*# sourceMappingURL=style.css.map */

a:has(img) {
  text-decoration: none;
}