@media print {
  /* Apply styles for printing */
  .no-page-break-inside {
    page-break-inside: avoid;
  }
  .no-page-break {
    page-break-inside: avoid;
  }
}
.responsive {
  max-width: 100%;
  height: auto;
}

.full-width {
  position: absolute;
  left: 0px;
  right: 0px;
}

.centerit {
  align-self: center !important;
}

body {
  background-color: #ffffff !important;
  background-size: cover;
  font-family: "Poppins", sans-serif !important;
}

.main-class {
  margin-top: 75px;
}

.row {
  --mdb-gutter-x: 0.5rem !important;
}

.input_0 {
  background-color: white !important;
  color: black;
}

.txtedit {
  background-color: white !important;
  border: none;
  size: 50;
}

.card {
  background-color: white !important;
}

.card-body {
  background-color: white !important;
}

.card-title {
  background-color: white !important;
}

.card-text {
  background-color: white !important;
}

#text_input {
  height: 200px;
  width: 200px;
  font-size: 10pt;
}

.btn-primary:hover {
  background-color: white !important;
}

.btn-primary {
  background-color: white !important;
  color: #2D3142 !important;
  border-color: #1D71BA !important;
}

.btn-primary:active {
  background-color: white !important;
}

.box_0 {
  border: 5px solid !important;
  align-content: center !important;
  background-color: #f9f9f9 !important;
  border-width: 3px !important;
  border-radius: 10px !important;
  border-color: #fcad79 !important;
  align-self: center !important;
  color: #2D3142 !important;
}

.box_1 {
  border-radius: 15px !important;
  color: #2D3142 !important;
  background-color: white !important;
}

.box_warning {
  border: 10px solid !important;
  align-content: center !important;
  background-color: #F1466B !important;
  border-width: 1px !important;
  border-radius: 5px !important;
  border-color: #1D71BA !important;
  align-self: center !important;
  color: #2D3142 !important;
}

.box_s {
  border: 10px solid !important;
  align-content: center !important;
  background-color: white !important;
  border-width: 1px !important;
  border-radius: 5px !important;
  border-color: #1D71BA !important;
  align-self: center !important;
  color: #2D3142 !important;
}

.box_study {
  border: 10px solid !important;
  align-content: center !important;
  background-color: white !important;
  border-width: 1px !important;
  border-radius: 5px !important;
  border-color: #fcad79 !important;
  align-self: center !important;
  color: #2D3142 !important;
}

.btn-max-1 {
  max-width: 120px !important;
  color: #2D3142 !important;
}

.calign {
  align-self: center !important;
}

.table_0 {
  color: #10003B !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #10003B !important;
  opacity: 0.7;
}

.correct {
  background-color: #37D6A4 !important;
}

.incorrect {
  background-color: #F1466B !important;
}

.correct-selected {
  background-color: #269949 !important;
}

.incorrect-selected {
  background-color: #cf3636 !important;
}

.deck_t {
  font-size: large;
}

.eq_buttons_div {
  display: flex !important;
  justify-content: space-around !important;
}

.eq_buttons {
  width: 100%;
  margin: 3px; /* or whatever */
}

/* CSS to style the card container */
#card-container {
  width: 500px;
  height: 300px;
  border: 1px;
  border-color: #1D71BA;
  padding: 10px;
}

/* CSS to hide the extra content by default */
#card-extra-content {
  display: none;
}

.selected {
  background-color: white;
}

.video-large {
  width: 150%;
  height: 150%;
}

.mw1 {
  max-width: 500px;
}

.minh1 {
  min-height: 70vh;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tab-pane {
  border-radius: 5px !important;
}

.tab-content {
  border-radius: 5px !important;
}

.full-w {
  width: 100% !important;
  max-width: 100% !important;
}

.navbar {
  background-color: #ffffff !important;
}

.navbar-brand {
  margin-left: 4px !important;
}

#slide-max-container {
  height: 80%;
  width: 100%;
  overflow: hidden;
}

.slider-container {
  height: 100vh;
  display: inline-flex;
  overflow: hidden;
  scrollbar-width: none;
  transform: translateX(0);
  will-change: transform;
  transition: transform 0.3s ease-out;
}

.slide {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.selected {
  border-width: 3px !important;
}

@media screen and (max-width: 540px) {
  table.mobile-optimised {
    word-wrap: break-word;
    font-size: 1rem;
    border: none;
  }
  table.mobile-optimised thead {
    display: none;
  }
  table.mobile-optimised td {
    display: block;
    float: left; /* ie9 and under hack */
    width: 100%;
    clear: both;
    padding: 10px 5px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-left: 10px;
  }
  table.mobile-optimised tbody,
  table.mobile-optimised tr {
    display: block;
  }
  .mobile-optimised td:before {
    content: attr(data-th);
    display: block;
    font-weight: bold;
    margin: 0 0 2px;
    padding: 5px;
  }
  .mobile-optimised tbody tr {
    overflow: hidden;
  }
  .item-options,
  .table-heading {
    font-size: 2rem;
    background-color: #7A9CC6 !important;
  }
  .mobile-optimised .numbers {
    text-align: center;
  }
  .main-table tbody tr:nth-child(odd) td {
    background: #ccc;
  }
}
.carousel-indicators {
  position: fixed !important;
  bottom: 100px !important;
  z-index: 1030 !important; /* Adjust z-index if needed to ensure the indicators appear above other elements */
}

@media screen and (max-width: 540px) {
  table.mobile-optimised2 {
    word-wrap: break-word;
    font-size: 1rem;
    border: none;
  }
  table.mobile-optimised2 thead {
    display: none;
  }
  table.mobile-optimised2 td {
    display: block;
    float: left; /* ie9 and under hack */
    width: 100%;
    clear: both;
    padding: 10px 5px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-left: 10px;
  }
  table.mobile-optimised2 tbody,
  table.mobile-optimised2 tr {
    display: block;
  }
  .mobile-optimised2 td:before {
    content: attr(data-th);
    display: block;
    font-weight: bold;
    margin: 0 0 2px;
    padding: 5px;
  }
  .mobile-optimised2 tbody tr {
    overflow: hidden;
  }
  .item-options,
  .table-heading {
    font-size: 2rem;
    background-color: #7A9CC6 !important;
  }
  .mobile-optimised2 .numbers {
    text-align: center;
  }
  .main-table tbody tr:nth-child(odd) td {
    background: #ccc;
  }
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.modal-header-style {
  background: linear-gradient(45deg, #10003B, #27007D) !important;
  color: #FF6700;
}

.circle-img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px; /* replace with your desired width */
  height: 300px; /* replace with your desired height */
}

.flash-message {
  background-color: #f4d474;
  color: #f67373;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.ai-reply {
  background-color: #EAE8FF;
  padding: 1px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 1px;
  border-radius: 2px;
}

.hero {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-video {
  width: 35vw;
  height: 30vh;
  border-radius: 10px;
  border: #FF6700 solid 4px;
}

@media only screen and (max-width: 767px) {
  .hero-video {
    width: 90vw;
  }
}
.try-out {
  border-radius: 5px;
  border: #7A9CC6 solid 2px;
}

.conversion-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  background-color: #fcad79;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.conversion-button:hover {
  background-color: #FF6700;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  cursor: pointer;
}

.scroll-down-icon {
  position: relative;
  transform: translateX(-75%);
  z-index: 1;
  animation: pulse 2s ease-in-out infinite;
}

.scroll-down-icon a {
  display: block;
  color: #fff;
  background-color: #007bff;
  border-radius: 50%;
}

.scroll-down-icon i {
  font-size: 24px;
}

@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.hero-text {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #10003B;
  text-shadow: 1px 1px #fff;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .hero-text {
    font-size: 24px;
  }
}
.newsletter-section {
  background-color: #523e7c;
  border-radius: 10px;
}

.newsletter-section h2 {
  color: #FF6700;
}

.newsletter-section p {
  color: #fcad79;
}

.newsletter-section form {
  margin-top: 30px;
}

.newsletter-section label {
  color: #333;
  font-weight: bold;
}

.newsletter-section .form-floating input,
.newsletter-section .form-floating textarea {
  border-radius: 10px;
  border-color: #ccc;
  color: #666;
}

.newsletter-section .form-floating label {
  color: #333;
}

.newsletter-section button[type=submit] {
  background-color: #6aaff9;
  border-color: #6aaff9;
  font-weight: bold;
  transition: all 0.3s ease;
}

.newsletter-section button[type=submit]:hover {
  background-color: #2087f6;
  border-color: #2087f6;
  transform: translateY(-2px);
}

.try-out-card-back {
  background-color: aliceblue;
}

.btn-test-1 {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #27007D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  white-space: nowrap;
  background-color: #fcad79 !important;
  box-shadow: #10003B 0px 0px 5px 0px;
}

.btn-test-1:hover {
  transform: scale(1.1);
  background-color: #FF6700 !important;
  border: 2px solid #27007D;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fab-container {
  position: fixed;
  bottom: 20px;
  right: 24px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fab-main {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-width: 4px;
  border-color: #6019FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  z-index: 1;
  color: #6019FF;
  background-color: #FF6700;
  margin-top: 8px;
}

.fab-main:hover {
  transform: scale(1.1);
  translate: translateY(-2px);
}

.fab-options {
  position: relative;
  display: none;
  flex-direction: column;
  gap: 8px;
  width: 200px;
  z-index: 0;
}

.fab-container:hover .fab-options {
  display: flex;
}

.fab-container:hover .fab-main {
  background-color: #fcad79;
}

.fab-option {
  height: 60px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  white-space: nowrap;
  background-color: #fcad79 !important;
}

.fab-option:hover {
  transform: scale(1.1);
  background-color: #FF6700 !important;
}

.fab-chat-container {
  max-height: 80vh;
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fab-chat-container:hover .fab-chat-content {
  display: flex;
}

.fab-chat-container:hover .fab-chat-main {
  background-color: none;
  transform: scale(1.4);
}

.fab-chat-main {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  z-index: 1;
  margin-top: 8px;
}

.fab-chat-content {
  position: relative;
  display: none;
  flex-direction: column;
  gap: 10px;
  width: 50vw;
  margin-top: 10px;
  z-index: 0;
  align-items: end;
}

.chat-box {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 80vh;
  min-height: 50vh;
  height: 100%;
  width: 100%;
  background-color: #27007D;
  border-radius: 10px;
  border: 4px solid #FF6700;
  box-shadow: 4px 4px 6px rgba(135, 111, 240, 0.5);
  transition: all 0.3s ease;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .fab-chat-content {
    width: 98vw;
  }
  .fab-chat-main {
    font-size: 25px;
    width: 60px;
    height: 60px;
  }
  .fab-chat-container {
    bottom: 5px;
    right: 5px;
    width: 98vw;
  }
  .fab-chat-container:hover .fab-chat-main {
    display: none;
  }
}
.chat-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2px;
  min-width: 200px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #27007D;
  color: #FF6700;
}

.chat-body {
  position: relative;
  display: flex;
  flex-grow: 1;
  background-color: #ffffff;
  padding: 2px;
  min-width: 200px;
  transition: all 0.3s ease;
  display: flex;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #6019FF;
  overflow-y: auto; /* Always show the scrollbar and hide overflowing content */
  overflow-anchor: none;
  scrollbar-width: thin;
  border-color: #27007D;
}

.chat-footer {
  display: flex;
  border-radius: 10px;
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  min-width: 200px;
  transition: all 0.3s ease;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
  border-color: #27007D;
}

.chat-field {
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #27007D;
  padding: 5px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.chat-field:hover {
  transform: scale(1.01);
  border-color: #27007D;
  border-width: 3px;
  background-color: #fcad79;
}

.chat-field-send {
  width: 19%;
  height: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #27007D;
  padding: 2px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 1%;
}

.chat-field-send:hover {
  background-color: #fcad79;
  padding: 2px;
  border-color: #27007D;
  border-width: 3px;
  transform: scale(1.05);
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.btn-chat-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.btn-chat {
  font-size: 13px;
  max-width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: #ffffff;
  border: 2px solid #FF6700;
  padding: 2px;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 1px;
}

.btn-chat:hover {
  font-size: 13px;
  border-radius: 15px;
  background-color: #FF6700;
  border: 2px solid #6019FF;
  color: #ffffff;
  padding: 2px;
  transition: all 0.3s ease;
  overflow: hidden;
  margin: 1px;
}

.ai-reply {
  font-size: 13px;
  max-width: 80%;
  min-width: 100px;
  max-height: 400px;
  border-radius: 15px;
  background-color: #ffffff !important;
  border: 3px solid #6019FF;
  padding: 5px;
  transition: all 0.3s ease;
  overflow: auto;
}

.user-question {
  margin-right: 2px;
  font-size: 13px;
  min-width: 100px;
  max-width: 80%;
  max-height: 450px;
  border-radius: 15px;
  margin-bottom: 0rem !important;
  background-color: #ffffff !important;
  border: 3px solid #FF6700;
  padding: 5px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.chat-text-container {
  max-height: 500px;
  width: 100%;
  overflow-anchor: none;
  scrollbar-width: thin;
  border: 2px, solid, #6019FF;
}

.message-row {
  display: flex;
  justify-content: flex-start;
  scrollbar-width: thin;
}

.message-row.user {
  justify-content: flex-end;
  scrollbar-width: thin;
}

.dashboard {
  max-width: 2000px;
  margin: 0 auto;
  padding: 1px;
  text-align: center;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1px;
}

.stat {
  background-color: #fcad79;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2px;
  margin: 2px;
  width: calc(15% - 10px);
  min-width: 200px;
  transition: all 0.3s ease;
}

.stat:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
  background-color: #FF6700;
}

.button-initals {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 4px;
  border-color: #6019FF;
  background-color: #ffffff;
  color: #6019FF;
  font-size: 24px;
  cursor: pointer;
}

.button-initals:hover {
  background-color: #FF6700;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transform: scale(1.1);
}

.btn-feedback {
  border-color: #6019FF !important;
  background-color: #ffffff !important;
  color: #6019FF !important;
  border-width: 4px;
  font-size: 18px;
  cursor: pointer;
}

.btn-feedback:hover {
  background-color: #FF6700 !important;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transform: scale(1.1);
}

.progress {
  color: #6019FF !important;
}

.progress-bar {
  background-color: #FF6700 !important;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2px;
  margin: 2px;
  width: calc(15% - 10px);
  min-width: 200px;
  transition: all 0.3s ease;
}

.view-row td {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.scrolling-header {
  font-size: 24px !important;
  text-align: center !important;
  margin-top: 50px !important;
  font-weight: bold !important;
  color: #6019FF !important;
}

.scrolling-header-words {
  font-size: 40px !important;
  text-align: center !important;
  margin-top: 50px !important;
  font-weight: bold !important;
  color: #FF6700 !important;
}

.clickable-header {
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 22;
  color: #6019FF !important;
}

.clickable-header:hover {
  background-color: #FF6700;
}

.clickable-header i {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.form-option {
  font-size: 14px;
}

.btn-generate {
  border-radius: 25px;
  color: #ffffff;
  background-color: #fcad79 !important;
  border: 2px;
  padding: 10px 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-generate:hover {
  background-color: #FF6700 !important;
  color: #10003B !important;
  border-color: #10003B !important;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-generate:active {
  background-color: #fcad79 !important;
  transform: scale(0.98);
}

.btn-generate:disabled {
  background-color: #ffffff !important;
  cursor: not-allowed;
  box-shadow: none;
}

.nav-link:active {
  background-color: #fcad79 !important;
  transform: scale(0.98);
}

.nav-link {
  color: #10003B !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  transition: all 0.2s ease-in-out;
}

.nav-pills .nav-link.active {
  background-color: #fcad79 !important;
}

.btn-options {
  border-radius: 25px;
  color: #ffffff;
  background-color: #fcad79 !important;
  border: 2px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.tooltip-inner {
  background-color: #27007D !important; /* Change the background color */
  font-size: 12px !important; /* Change the font size */
  border-radius: 10px !important; /* Change the border radius */
}

.tooltip.bs-tooltip-top .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before {
  border-top-color: #27007D !important; /* Change the arrow color */
}

.tooltip.bs-tooltip-right .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before {
  border-right-color: #27007D !important; /* Change the arrow color */
}

.tooltip.bs-tooltip-bottom .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before {
  border-bottom-color: #27007D !important; /* Change the arrow color */
}

.tooltip.bs-tooltip-left .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before {
  border-left-color: #27007D !important; /* Change the arrow color */
}

.study-main {
  background-color: #ffffff;
  min-height: 70vh;
  min-width: 70vw;
  color: #FF6700;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.study-container {
  min-height: 50vh;
  width: 70vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: solid;
  border-color: #fcad79;
  border-width: 5px;
  border-radius: 15px;
  padding: 5px;
  background-color: #27007D;
}

.study-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px;
  justify-content: center;
  text-align: center;
  top: 0;
  border: solid;
  border-color: #fcad79;
  border-width: 1px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 5px;
}

.study-footer {
  position: relative;
  justify-content: center;
  text-align: center;
  bottom: 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 5px;
}

.study-display {
  display: grid;
  min-height: 50vh;
  min-width: 50vw;
  border: solid;
  border-color: #fcad79;
  border-width: 1px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.mcq {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1.5rem; /* Adjust the gap value according to your preference */
  height: 100%;
}

.mcq-button {
  width: 100%;
  border-color: #FF6700;
  border-width: 3px;
  border-radius: 10px;
  background-color: #ffffff;
}

.mcq-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #FF6700;
  color: #ffffff;
  border-color: #6019FF;
}

.n-mcq-0 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.n-mcq-btn {
  border-width: 3px;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
  flex: 0 0 48%;
  box-sizing: border-box;
}

.n-mcq-btn.selected {
  border-width: 3px !important;
  border-color: #FF6700;
}

#forgot-btn {
  background-color: #a880fd !important;
  color: #fcad79 !important;
}

#forgot-btn:hover {
  background-color: #6019FF !important;
  color: #FF6700 !important;
  border-color: #10003B !important;
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  translate: 0.5s;
}

#remember-btn {
  background-color: #fcad79 !important;
  color: #6019FF !important;
}

#remember-btn:hover {
  background-color: #FF6700 !important;
  color: #6019FF !important;
  border-color: #10003B !important;
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.next-prev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.next-prev-btn {
  border-width: 3px;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
  flex: 0 0 48%;
  box-sizing: border-box;
  color: #10003B !important;
  border-color: #10003B !important;
}

.next-prev-btn:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  translate: 0.5s;
}

.content-to-display {
  max-height: 50vh;
  overflow-y: auto; /* Enable vertical scrolling if the content exceeds max-height */
  padding: 1rem; /* Add some padding around the text */
  line-height: 1.5; /* Increase the line-height for better readability */
  text-align: center; /* Justify the text for a more polished look */
  word-wrap: break-word; /* Break long words to prevent horizontal overflow */
  -webkit-hyphens: auto;
          hyphens: auto; /* Use hyphenation to improve text layout */
  font-size: clamp(30px, 1.5vw, 24px);
}

.study-dash {
  border: solid;
  border-color: #fcad79;
  border-width: 3px;
  background-color: #ffffff;
  border-radius: 10px;
}

.return-icon {
  max-width: 30px;
  max-height: 30px;
}

.stat-table {
  display: table;
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 10px;
}

.stat-row {
  display: table-row;
}

.stat-row > div {
  display: table-cell;
  border-bottom: 1px solid #eee;
  padding: 5px;
}

.stat-row.header > div {
  font-weight: bold;
  border-bottom: 2px solid #333;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .stat-table {
    font-size: 14px;
  }
  /* Hide the Answered column on mobile */
  .stat-row .answered {
    display: none;
  }
  /* Adjust the width of the remaining columns */
  .stat-row > div {
    width: 50%;
  }
}
.card-header1 {
  background-color: #fcad79 !important;
  color: white !important;
  border-radius: 10px;
  border-width: 3px;
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hcepha1 {
  color: #6019FF !important;
  font-weight: bold;
}

td:empty {
  width: 1%; /* Adjust the value as needed */
}

.table td stringfield {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}/*# sourceMappingURL=style.css.map */