

$dark: #2D3142;
$pblue: #B0D7FF;
$grey: #ADACB5;
$lgrey: #D8D5DB;
$lpink: #EAE8FF;
$backgroundC: #D8D5DB;
// Pastel set
//blue
$blue: #7A9CC6;
//light blue
$lblue: #9FBBCC;
//green
$green: #B3D2B2;
//light green
$lgreen: #BDE4A7;
//yellow
$yellow: #FFFD98;

$btn-white-space: nowrap;

body {
    background-color: #D8D5DB !important;
    background-image: url("background_4.png") !important;
    background-size: cover;
  }
  
.navbar {
    background-color: $dark !important;
    font-size: 70px !important;
    color: $lpink !important;
}

.nav-link {
    color: $lpink !important;
}

.input_0 {
    background-color: #FFFD98;
    color: black;
    
}

.txtedit {
    background-color: $backgroundC !important;
    border: none;
    size: 50;
}

.card {
    background-color: $backgroundC !important;
}
.card-body {
    background-color: $backgroundC !important;
}

.card-title {
    background-color: $backgroundC !important;
}

.card-text {
    background-color: $backgroundC !important;
}
#text_input
{
    height:200px;
    width: 200px;
    font-size:10pt;
}

.btn-primary:hover {
    background-color: $pblue !important;
}

.btn-primary {
    background-color: $backgroundC !important;
    color: $dark !important;
    border-color: $blue !important;
}


.btn-primary:active {
    background-color: $lgrey !important;
}

// boxes

.box_0 {
    border: 10px solid !important;
    align-content: center !important;
    background-color: $dark !important;
    border-width:5px !important;
    border-radius: 20px !important;
    border-color: $backgroundC !important;
    align-self: center !important;
    color: $lpink !important;
}

.box_1 {
    border-radius: 15px !important;
    color:#2D3142 !important;
    background-color: $backgroundC !important;
}

.box_warning {
    border: 10px solid !important;
    align-content: center !important;
    background-color: #B55E5E !important;
    border-width:1px !important;
    border-radius: 5px !important;
    border-color: black !important;
    align-self: center !important;
    color: $lpink !important;
}

.box_save {
    border: 10px solid !important;
    align-content: center !important;
    background-color: #739F5F !important;
    border-width:1px !important;
    border-radius: 5px !important;
    border-color: black !important;
    align-self: center !important;
    color: $lpink !important;
}

.box_study {
    border: 10px solid !important;
    align-content: center !important;
    background-color: $lblue !important;
    border-width:1px !important;
    border-radius: 5px !important;
    border-color: black !important;
    align-self: center !important;
    color: $lpink !important;
}





.calign {
    align-self: center !important;
}

.table_0 {
    color:#EAE8FF
}