{% extends "layout.html" %} {% block title %} Cephadex {% endblock %} {% block
main_0 %}
<div class="container-md mt-5">
    <div class="row">
        <div class="col-md-8">
            <h3>Why Cephadex?</h3>
            <br>
            <p>Welcome to Cephadex! The name "Cephadex" was inspired by the amazing cephalopod creatures of the ocean.
                These
                intelligent and fast-learning animals are known for their remarkable problem-solving skills and
                adaptability.

            <p> "Cepha" means "head" in Greek, and refers to the cephalopod's remarkable brainpower.
                We believe that learning should be a fun and engaging process, and we aim to make it easier for you to
                create
                and organize decks of information that suit your individual learning style.</p>

            <p> The second part of our name, "dex", is inspired by the idea of decks - collections of cards that you can
                use to
                build your knowledge and skills. Whether you're studying for an exam, learning a new language, or simply
                trying
                to improve your memory, Cephadex can help you create the perfect deck for your needs.</p>

            <p> And, of course, the idea of "decks" is also a nod to the world of ships and sailing. Just like a ship
                has
                multiple decks, each with its own purpose and function, our platform allows you to create decks of
                information
                that can help you navigate the seas of knowledge and reach your destination. So come aboard and let's
                set sail
                for new horizons of learning with Cephadex!</p>
        </div>
        <div class="col-md-4  d-flex justify-content-center align-items-center">
            <img class="circle-img" src="/static/ceph-socrates.png" alt="Picture of an octopus teacher">

        </div>
    </div>
    <div class="row">

        <div class="col-md-4  d-flex justify-content-center align-items-center">
            <img class="circle-img" src="/static/about-us-2.png" alt="Illustration of a busy teacher">

        </div>
        <div class="col-md-8">
            <br>


            <h3>Our Features</h3>
            <h5> Flashcards, worksheets and Tests with AI Assistance</h5>
            <p>Create custom flashcards and tests using our AI-powered tools. Our intelligent system helps you design
                engaging
                and
                effective study materials that cater to your unique learning needs.</p>

            <h5> Spaced Repetition Software</h5>
            <p>Maximize your learning retention with our built-in spaced repetition system. Our platform intelligently
                schedules
                your study sessions to help you retain information more effectively and efficiently.</p>


            <h5> Catering to Teachers</h5>
            <p>
                We also support teachers by offering a range of tools to help them create and manage engaging,
                high-quality
                educational materials for their students. Our platform simplifies the process of designing customized
                flashcards,
                quizzes, and other learning resources to enhance the classroom experience.</p>



            <h5> Audio Transcription</h5>
            <p>Easily convert audio recordings into written text with our advanced speech-to-text technology. This
                feature is
                perfect for transcribing lectures, interviews, or any spoken content you want to review and study later.
            </p>

            <h5> Text Summarization</h5>
            <p> Save time and effort by using our AI-driven text summarization tool. It automatically condenses lengthy
                articles,
                textbooks, or research papers into concise and informative summaries, allowing you to quickly grasp the
                main
                points
                of complex material.</p>

        </div>

    </div>
    <div class="row">

        <div class="col-md-8">
            <br>
            <h3>Our Values</h3>
            <h5> Transparency</h5>
            <p>
                We believe in open communication and clear expectations. Our platform is designed to be user-friendly
                and
                accessible, ensuring you have all the information you need to make informed decisions about your
                learning and
                teaching experience.</p>

            <h5> Openness</h5>
            <p>
                We embrace collaboration and the sharing of ideas. Our platform encourages users to connect with one
                another,
                exchange insights, and learn from each other's experiences.</p>

            <h5> Self-Improvement</h5>
            <p>
                Our mission is to empower individuals to reach their full potential. We continuously work to refine and
                expand
                our
                platform to offer the best possible learning and teaching experience.</p>

            <h5> Honesty</h5>
            <p>
                Integrity is at the core of everything we do. We strive to build a community based on trust and mutual
                respect,
                where users can confidently rely on the accuracy and quality of the resources we provide.</p>
        </div>
        <br>

  
    <div class="col-md-4  d-flex justify-content-center align-items-center">
        <img class="circle-img" src="/static/about-us-3.png" alt="Abstract imnage">


    </div>
</div>


{% endblock %}