{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main_0 %}

<div class = "container">
    <div class = "row">
        <div class = "col-12">
            <h1 class = "text-center">Apology</h1>
        </div>
        </div>
        <div class = "row">
            <div class = "col-12">
                <h3 class = "text-center">Error: {{top}}</h3>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12 d-flex justify-content-center">
                <img alt="" class="border img-fluid" src="/static/apology-oct-1.png"  title="">

            </div>
        </div>
        <div class = "row">
            <div class = "col-12">
                <h4 class = "text-center">{{bottom}}</h4>
            </div>
        </div>
</div>

{% endblock %}
