{% extends "layout.html" %} {% block title %} AI Quiz and Worksheet generator {% endblock %} {% block head %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.3.1/introjs.min.css" rel="stylesheet" />





{% endblock %}{% block
main_0 %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.3.1/intro.min.js"></script>

<script>

    {% if settings.new_user_tests == 1 %}
    console.log("new user")
        viewDecksTour()
    {% endif %}
    
  function viewDecksTour() {
      document.addEventListener('DOMContentLoaded', function () {
        introJs().setOptions({
          showProgress: true,
      steps: [
      {
        element: document.querySelector('#question-box'),
        intro: "Your questions appear here.  You can edit the question, answer and marks directly.  ",
      },
      {
        element: document.querySelector('#test-info-collapse'),
        intro: "You can edit the quiz details here"
      },
    {
      element: document.querySelector('#tour-save'),
      intro: "Don't forget to save any changes you make"
    },
    {
      element: document.querySelector('#tour-assign'),
      intro: "Click here to assign your quiz, simply enter the email(s) of the student(s) you want to assign it to"
    },
    {
      element: document.querySelector('#tour-print'),
      intro: "Print your quiz here"
    },
    {
      element: document.querySelector('#tour-answer-key'),
      intro: "Print an answer key here"
    },
    {
      
      intro: "That's it.  Your quiz will be saved in your deck so you can re-use it as often as you want.  The results of any quizzes assigned can be found in the quizzes section.  As always if you have any questions or feedback please let us know!"
    }],
      scrollToElement: false,

    }).start();
      });

      fetch('/new_user_settings_tests', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ checked: true })
      })


    }

</script>



<script data-cookie-consent="strictly-necessary">

    document.addEventListener("DOMContentLoaded", function () {
        const forms = document.querySelectorAll('.question-form');
        const csrfToken = document.getElementsByName("csrf_token")[0].value;

        console.log("javacsript loaded")
        console.log(forms)
        forms.forEach(form => {
            form.addEventListener('change', (event) => {
                event.preventDefault(); // Added to prevent page reload


                console.log("change detected");
                const formData = new FormData(form);
                console.log("Form Data:", formData);
                const cardId = form.getAttribute('data-question-id');
                const data = Object.fromEntries(formData);
                data['question-id'] = cardId; // Add 'question-id' to the JSON payload
                console.log("JSON Payload:", data);

                fetch('/update_card', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });
        });




        $(document).ready(function () {
            // Send data to server on input change
            $('#test-form').on('input', function () {
                event.preventDefault();
                $.ajax({
                    url: "{{ url_for('assign_test', test_id=test.id) }}",
                    method: "POST",
                    data: $('#test-form').serialize(),
                    success: function (data) {
                        console.log('Data saved');
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error('Error saving data:', errorThrown);
                    }
                });
            });

        });

    });
</script>




<div class="" id="collap">
    <div class="container-fluid box-manager" style="background-color:#efe8ff; padding-top: 4px!important; padding-bottom: 4px!important;">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="row my-3 d-flex justify-content-start">
                <div class="d-flex">
                    <!-- ASSIGN TEST -->
                    <a  data-bs-toggle="collapse" class="mx-2 img-grow" data-bs-target="#test-info-collapse" alt="Collapse" style="max-width:35px;max-height:35px;"
                            title="Collapse info" aria-expanded="true" aria-controls="test-info-collapse">
                        <img src="\static\collapse-icon.png" alt="Collapse" style="max-width:35px;max-height:35px; cursor: pointer;"
                            title="Collapse test">
                            </a>
                    <input class="mx-2 img-grow" id = "tour-save" type="image" src="/static/save-icon.png"
                        style="padding: 0px!important; width: 35px; height:35px" alt="Save changes" title="Save">

                    <a class="mx-2 img-grow" id = "tour-assign" data-bs-toggle="modal" data-bs-target="#assignModal" style="cursor: pointer;">
                        <img src="/static/share-icon.png" style="width: 35px; height:35px" alt="Assign" title="Assign">
                    </a>

               

                    <!-- PRINT -->
                    <a href="/test_print/{{test.id}}" id ="tour-print" class="mx-2 img-grow" style="cursor: pointer; text-decoration: none;"
                        alt="Print" title="Print">
                        <img src="\static\print-icon.png" alt="Print" style="max-width:35px;max-height:35px;"
                            title="Print">
                    </a>
                    {% if current_user.subscription_plan in [1, 2, 3, 4, 5, 6, 7] %}
                    <a href="/answer_key/{{test.id}}" id = "tour-answer-key" class="mx-2 img-grow" style="cursor: pointer; text-decoration: none;"
                    alt="Print" title="Answer key">
                    <img src="\static\answer-key-icon.png" alt="Print" style="max-width:35px;max-height:35px;"
                        title="Print answer key">
                </a>
                {% endif %}
                    <!-- DELETE TEST -->
                    <a href="#" class="mx-2 img-grow"
                        onclick="if (confirm('Are you sure you want to delete this test?')) { window.location.href = '/delete_test/{{test.id}}'; }">
                        <img src="\static\delete-icon.png" alt="Delete" style="max-width:35px;max-height:35px;"
                            title="Delete test">
                    </a>
                    
                </div>
            </div>
            <div class="collapse show" id = "test-info-collapse">
                <input type="hidden" name="test-id" value="{{test.id}}">
                <div class="row mt-2">
                    <div class="col-md-6" style="padding-right: 3px!important;padding-left: 3px!important;">
                        <div class="form-floating">
                            <input name="name" class=" form-control" type="text" id="name"
                                placeholder="{{test.name}}" value="{{test.name}}" required>
                            <label for="test-name">Test name</label>
                        </div>
                        </div>
                        <div class="col-md-6" style="padding-right: 3px!important;padding-left: 3px!important;">

                        
                        <div class="form-floating">
                            <input name="due_date" class=" form-control" type="datetime-local"
                                id="due_date" placeholder="{{test.due_date}}" value="{{test.due_date}}">
                            <label for="due_date">Due date</label>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-6" style="padding-right: 3px!important;padding-left: 3px!important;">
                        <div class="form-floating">

                        <input name="subject" class=" form-control" type="text" id="subject"
                            placeholder="{{test.subject}}" value="{{test.subject}}">
                        <label for="subject">Subject</label>
                        </div>
                    </div>

                    <div class="col-md-6" style="padding-right: 3px!important;padding-left: 3px!important;">
                        <div class="form-floating">
                            <input name="topic" class=" form-control" type="text" id="topic"
                                placeholder="{{test.topic}}" value="{{test.topic}}">

                            <label for="topic">Topic</label>

                        </div>
                    </div>

                </div>

                <div class="row mt-2">
                    <div class="col-md-6" style="padding-right: 3px!important;padding-left: 3px!important;">

                        <div class="form-floating">

                            <input name="instructions" class=" form-control" type="text" id="instructions"
                                placeholder="{{test.instructions}}" value="{{test.instructions}}">
                            <label for="topic">Instructions</label>
                        </div>
                    </div>

                        <div class="col-md-6" style="padding-right: 3px!important;padding-left: 3px!important;">

                        <div class="form-floating ">
                            <input name="description" class=" form-control" type="text" id="description"
                                placeholder="{{test.description}}" value="{{test.description}}">
                            <label for="topic">Description</label>

                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4" style="padding-right: 3px!important;padding-left: 3px!important;">
                        <div class="form-floating">

                            <input name="time_limit" class=" form-control" type="number" id="time_limit"
                                placeholder="{{test.time_limit}}" value="{{test.time_limit}}">
                            <label for="time-limit">Time limit(minutes):</label>

                        </div>
                    </div>

                    <div class="col-md-4" style="padding-right: 3px!important;padding-left: 3px!important;">
                         <div class="form-floating">
                            <input class="form-control" name="qty-questions" type="text" id="qty-questions"
                                placeholder="{{test.num_questions}}" value={{test.num_questions}} disabled>
                            <label for="qty-questions">Number of questions</label>
                        </div>
                    </div>
                    <div class="col-md-4" style="padding-right: 3px!important;padding-left: 3px!important;">

                        <div class="form-floating">
                            <input class="form-control" name="qty-marks" type="text" id="qty-marks"
                                placeholder="{{test.num_questions}}" value="{{ test.points }}" disabled>
                            <label for="qty-marks">Total marks </label>
                        </div>
                        </div>
                    </div>
                </div>
                </form>   

            </div>
                <!---
                    <div class="form-check form-switch mt-2">
                        <input class="form-check-input" type="checkbox" name="shuffle" id="shuffle" value="shuffle" {%
                            if test.shuffle %} checked {% endif %}>
                        <label class="form-check-label" for="shuffle" value="contacted">Shuffle (coming soon)</label>
                    </div>


                    <div class="form-check form-switch mt-2">
                        <input class="form-check-input" type="checkbox" name="answer-reveal" id="answer-reveal"
                            value="answer-reveal" {% if test.answer_reveal %} checked {% endif %}>
                        <label class="form-check-label" for="answer-reveal" value="answer-reveal">Reveal answers (coming
                            soon)</label>
                    </div>


                    <div class="form-check form-switch mt-2">
                        <input class="form-check-input" type="checkbox" name="result-reveal" id="result-reveal"
                            value="result-reveal" {% if test.result_reveal %} checked {% endif %}>
                        <label class="form-check-label" for="result-reveal" value="result-reveal">Reveal results (coming
                            soon)</label>
                    </div>

--->
   

  



</div>


        <div class="container-fluid mt-2" id="question-box" style="padding: 1px!important;max-height:80vh; overflow-y: scroll;">
            {% for question in test.questions %}
            {% if question.q_type == "mcq" %}
            <form class="question-form" method="POST" data-question-id="{{question.id}}">
                {{ update_card_form.hidden_tag() }}
                <div class="card box-build m-1">
                    <div class="card-body  ">
                        <div class="row">
                            <div class="row">
                                <div class="col-10">
                                    Question:
                                    {{ update_card_form.question(class="form-control",
                                    placeholder=question.question, value=question.question, **{'data-value': question.question}) }}
                                </div>
                                <div class="col-2 d-flex flex-column">
                                    Marks:
                                    {{ update_card_form.points(class="form-control",
                                    placeholder=question.points, value=question.points, **{'data-value': question.points}) }}
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-10">
                                    Answers:
                                        <li class="list-group-item border-0 mt-1" style="padding:0px!important">
                                            {{ update_card_form.answer(class="form-control",
                                            placeholder=question.content, value=question.content, **{'data-value': question.content}) }}
                                        </li>
                                        <li class="list-group-item border-0 mt-1" style="padding:0px!important">
                                            {{ update_card_form.boc_2(class="form-control",
                                            placeholder=question.boc_2, value=question.boc_2, **{'data-value': question.boc_2}) }}
                                        </li>
                                        <li class="list-group-item border-0 mt-1" style="padding:0px!important">
                                            {{ update_card_form.boc_3(class="form-control",
                                            placeholder=question.boc_3, value=question.boc_3, **{'data-value': question.boc_3}) }}
                                        </li>
                                        <li class="list-group-item border-0 mt-1" style="padding:0px!important">
                                            {{ update_card_form.boc_4(class="form-control",
                                            placeholder=question.boc_4, value=question.boc_4, **{'data-value': question.boc_4}) }}
                                        </li>
                                    </div>
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <a href="#" class="mx-2"
                                    onclick="if (confirm('Are you sure you want to delete this question?')) { window.location.href = '/delete_question/{{test.id}}/{{question.id}}'; }">
                                    <img src="\static\delete-icon.png" alt="Delete"
                                        style="max-width:35px;max-height:35px;" class="px-1"
                                        title="Delete question">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            {% elif question.q_type == "cloze" %}
            <form class="question-form" method="POST" data-question-id="{{question.id}}">
                {{ update_card_form.hidden_tag() }}
                <div class="card box-build m-1">
                    <div class="card-body  ">

                        <div class="row">
                            <div class="row">
                                <div class="col-10 ">
                                        Question:
                                        {{ update_card_form.question(class="form-control",
                                        placeholder=question.question, value=question.question, **{'data-value': question.question}) }}
                                </div>
                                <div class="col-2">
                                    Marks:
                                    {{ update_card_form.points(class="form-control",
                                    placeholder=question.points, value=question.points, **{'data-value': question.points}) }}

                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-10">

                                    Answer:
                                    {{ update_card_form.answer(class="form-control",
                                    placeholder=question.content, value=question.content, **{'data-value': question.content}) }}
                                    </div>
                                    <div class="col-2 d-flex align-items-center justify-content-center">
                                        <a href="#" class="mx-2"
                                            onclick="if (confirm('Are you sure you want to delete this question?')) { window.location.href = '/delete_question/{{test.id}}/{{question.id}}'; }">
                                            <img src="\static\delete-icon.png" alt="Delete"
                                                style="max-width:35px;max-height:35px;" class="px-1"
                                                title="Delete question">
                                        </a>
                                    </div>
                               
                                </div>
                  
                        </div>
                    </div>
                </div>
            </form>
            {% elif question.q_type in ["jeopardy"] %}
            <form class="question-form" method="POST" data-question-id="{{question.id}}">
                {{ update_card_form.hidden_tag() }}
                <div class="card box-build m-1">
    
                    <div class="card-body">
                        <div class="row">
                            <div class="row">
                                <div class="col-10">
                                    
                                        Question:
                                        {{ update_card_form.question(class="form-control",
                                        placeholder=question.question, value=question.question, **{'data-value': question.question}) }}
                                </div>
                                <div class="col-2 d-flex flex-column">
                                        Marks:
                                        {{ update_card_form.points(class="form-control",
                                        placeholder=question.points, value=question.points, **{'data-value': question.points}) }}

                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-10">

                                Answer:
                                {{ update_card_form.answer(class="form-control",
                                placeholder=question.term, value=question.term, **{'data-value': question.term}) }}
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <a href="#" class="m-4"
                                    onclick="if (confirm('Are you sure you want to delete this question?')) { window.location.href = '/delete_question/{{test.id}}/{{question.id}}'; }">
                                    <img src="\static\delete-icon.png" alt="Delete"
                                        style="max-width:35px;max-height:35px;" class="px-1"
                                        title="Delete question">
                                </a>


                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </form>
            {% elif question.q_type in ["definitions", "explain"] %}
            <form class="question-form" method="POST" data-question-id="{{question.id}}">
                {{ update_card_form.hidden_tag() }}
                <div class="card box-build m-1">
    
                    <div class="card-body">
                        <div class="row">
                            <div class="row">
                                <div class="col-10">
                                    
                                        Question:
                                        {{ update_card_form.question(class="form-control",
                                        placeholder=question.question, value=question.question, **{'data-value': question.question}) }}
                                </div>
                                <div class="col-2 d-flex flex-column">
                                        Marks:
                                        {{ update_card_form.points(class="form-control",
                                        placeholder=question.points, value=question.points, **{'data-value': question.points}) }}

                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-10">

                                Answer:
                                {{ update_card_form.answer(class="form-control",
                                placeholder=question.content, value=question.content, **{'data-value': question.content}) }}
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <a href="#" class="m-4"
                                    onclick="if (confirm('Are you sure you want to delete this question?')) { window.location.href = '/delete_question/{{test.id}}/{{question.id}}'; }">
                                    <img src="\static\delete-icon.png" alt="Delete"
                                        style="max-width:35px;max-height:35px;" class="px-1"
                                        title="Delete question">
                                </a>


                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </form>
            {% elif question.q_type == "formulas" %}
            <form class="question-form" method="POST" data-question-id="{{question.id}}">
                {{ update_card_form.hidden_tag() }}
                <div class="card box-build m-1">

                    <div class="card-body">
                        <div class="row">
                            <div class="row">
                                <div class="col-10">
                            
                                        Question:
                                        {{ update_card_form.question(class="form-control",
                                        placeholder=question.question, value=question.question, **{'data-value': question.question}) }}
                                </div>
                                <div class="col-2 d-flex flex-column">
                                    Marks:
                                    {{ update_card_form.points(class="form-control",
                                    placeholder=question.points, value=question.points, **{'data-value': question.points}) }}
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-10">
                                    {{ question.term}}
                                </div>
                            
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <a href="#" class="m-4"
                                            onclick="if (confirm('Are you sure you want to delete this question?')) { window.location.href = '/delete_question/{{test.id}}/{{question.id}}'; }">
                                            <img src="\static\delete-icon.png" alt="Delete"
                                                style="max-width:35px;max-height:35px;" class="px-1"
                                                title="Delete question">
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>

<!------- ASSIGN TEST MODAL -------->

<script data-cookie-consent="strictly-necessary">

    function assignDeck(testId) {
        console.log('assignDeck')
        var email = document.getElementById('assign-email').value;
        console.log(email);
        var encodedEmail = encodeURIComponent(email);
        var url = '/assign/' + testId + '/' + encodedEmail;
        console.log(url);
        window.location.href = url;
    }
</script>

<div class="modal fade" id="assignModal" tabindex="-1" aria-labelledby="#assignModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-style p-4">
                <h5 class="modal-title" id="assignModalLabel">Assign test</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="assign-form" method="POST">
                    <div class="form-floating form-group my-2">

                        <input type="email" class="form-control" id="assign-email" name="assign-email" required
                            placeholder="Type receiver's email here (use commas for list)">
                        <label for="email">Email:</label>

                        <div class = mt-2>
                            <img id="qr_code_image{{test.id}}" src="" alt="QR Code" width="100" height="100"style="display:none" >
  
                          <p id="share-link{{test.id}}" readonly style="display:none"></p>
                          </div>
                    </div>
                    <button type="button" class="btn btn-generate" onclick="assignDeck('{{ test.id }}')">Assign</button>
                    <button type="button" class="btn btn-generate" onclick="generateLink('{{ test.id }}')">Generate Link and QR Code</button>

                </form>
            </div>

        </div>
    </div>
</div>
</div>
<script>
    function generateLink(test_id) {
        console.log("generate link")
        $.ajax({
            url: '/generate_link_test/' + test_id,
            type: 'GET',
            success: function(data) {
              console.log(data);
                $('#share-link' + test_id).text(data['share_link']);
                $('#share-link' + test_id).show();
                $('#qr_code_image' + test_id).attr('src', 'data:image/jpeg;base64,' + data['qr_code']);
                $('#qr_code_image' + test_id).show();
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
    </script>


<script data-cookie-consent="strictly-necessary">

    $(document).ready(function () {
        $('.question-form input, .question-form textarea').on('change', function () {
            const form = $(this).closest('form');
            const questionId = form.data('question-id');
            const question = form.find('[name="question"]').val();
            const answer = form.find('[name="answer"]').val();
            const points = form.find('[name="points"]').val();
            const options = form.find('[name="options"]').map(function () {
                return $(this).val();
            }).get();

            $.ajax({
                url: '/update_card',
                type: 'POST',
                data: JSON.stringify({
                    'question-id': questionId,
                    'question': question,
                    'answer': answer,
                    'points': points,
                    'options': options,
                }),
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                    if (response.success) {
                        console.log('Question updated successfully');
                    } else {
                        console.error('Error updating question:', response.error);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('AJAX error:', textStatus, errorThrown);
                }
            });
        });
    });
</script>


<script>
    $(function() {
        $('#test-info-collapse').on('show.bs.collapse', function() {
            $('img[title="Collapse test"]').attr('src', '/static/collapse-icon.png');
        })

        $('#test-info-collapse').on('hide.bs.collapse', function() {
            $('img[title="Collapse test"]').attr('src', '/static/expand-icon.png');
        })
    });
</script>

<script>
    $(document).ready(function () {
    autosize(document.querySelectorAll('textarea'));
    });


    </script>
<script>
    $(document).ready(function () {
        $('input[data-value], textarea[data-value]').each(function () {
            var $this = $(this); // caching $(this)
            var value = $this.attr('data-value');
            $this.val(value);
        });
    });
</script>
{% endblock %}