{% extends "layout.html" %} {% block title %} Test Builder {% endblock %} 
{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.3.1/introjs.min.css" rel="stylesheet" />

{% endblock %}


{% block
main_0 %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.3.1/intro.min.js"></script>

<script>

    {% if settings.new_user_tests == 1 %}
    console.log("new user")
        viewDecksTour()
    {% endif %}
    
  function viewDecksTour() {
      document.addEventListener('DOMContentLoaded', function () {
        introJs().setOptions({
          showProgress: true,
      steps: [{
        title: 'Quiz maker',
        intro: "Here you'll use your cards to creates quizzes and worksheets "
      },
      {
        element: document.querySelector('#tour-question-select'),
        intro: "All your cards will be listed here.  Select the ones you want to include in the quiz",
      },
      {
        element: document.querySelector('#check-all'),
        intro: "Click here to select all the cards"
      },
    {
      element: document.querySelector('#tour-jeopardy'),
      intro: "Click here to turn the definitions into jeopardy style questions (the definition is displayed and the user has to enter the term)"
    },
    {
      element: document.querySelector('#tour-next'),
      intro: "When you are done click here to move to the next step"
    }],
      scrollToElement: false,

    }).start();
      });

      fetch('/new_user_settings_tests', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ checked: false })
      })


    }

</script>




<div class="container-fluid " style="padding-top: 4px!important; padding-bottom: 4px!important;">
  


        <form action="" method="POST" class="" id="selection-form">




    <div class=" m-1">
        <div class="row">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <div class="p-2">
                    <input type="checkbox" class="" id="check-all" />
                    <label class="form-label" for="check-all">Select All</label>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <h2 style="color:#6019FF;">Quiz Maker</h2>

</div>
           
                  <div class="col-4">
                <div class = "row d-flex justify-content-end">
                <input id = "tour-next" class=" p-2  btn-generate " type="submit" value="Next"
                    onclick="return validateForm()">
                    </div>
                    <div class = "row d-flex justify-content-end">
                <div class="form-check form-switch" title ="Turns definitions into jeapordy style questions" id="tour-jeopardy">
                    <input class="form-check-input" type="checkbox" role="switch" name = "jeopardyMode" id="jeopardyMode" >
                    <label class="form-check-label" for="jeopardyMode">Jeopardy</label>
                  </div>


                    </div>
            </div>
        </div>
    </div>
</div>
    <div class="container-fluid mt-2" id="tour-question-select" style="padding: 1px!important;max-height:80vh; overflow-y: scroll;">
        {% for card in deck.cards %}
        {% if card.category in ["Mcq"] %}

        <div class="card box-build m-1" >
            <div class="card-body w-100">
                <div class="row">
                    <div class="col-1 ">

                        <input type="checkbox" class="" name="selected_cards[]" value="{{card.id}}">
                    </div>
                    <div class="col-11">
                        <div class="row ">
                            <div class="col-8  p-1">
                                <p class="card-title border-0 w-100 " id="term{{card.id}}" rows="2"
                                    value="{{card.term}}">{{card.term}}</p>
                            </div>
                       
                                <input type="hidden" name="id{{card.id}}" value="{{card.id}}">
                            
                        </div>
                        <div class="row mt-1">
                            <li class="list-group-item  mt-1 border-0">A - {{card.content}}
                            </li>
                            <li class="list-group-item  mt-1 border-0">B - {{card.boc_2}}

                            </li>
                            <li class="list-group-item  mt-1 border-0">C - {{card.boc_3}}

                            </li>
                            <li class="list-group-item  mt-1 border-0">D - {{card.boc_4}}

                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        {% elif card.category == "Formulas" %}
        <div class="card box-build m-1" >
            <div class="card-body  w-100">
                <div class="row">
                    <div class="col-1 ">

                        <input type="checkbox" class="" name="selected_cards[]" value="{{card.id}}">
                    </div>
                    <div class="col-11">
                        <div class="row ">
                            <li class="list-group-item  no-border mt-1"><p>{{card.term}}</p>
                            </li>
                        </div>

                        <input type="hidden" name="id{{card.id}}" value="{{card.id}}">
                    
                    <div class="row mt-1">


                        <li class="list-group-item no-border mt-1">{{ card.formula}}
                        </li>
                    </div>
                </div>
</div>
            </div>
        </div>
        {% elif card.category == "Cloze", "Explain" %}

        <div class="card box-build m-1">
            <div class="card-body  w-100" style="margin:0px !important;">
                <div class="row">
                    <div class="col-1 ">

                        <input type="checkbox" class="" name="selected_cards[]" value="{{card.id}}">
                    </div>
                    <div class="col-11">
                        <div class="row ">
                            <h6>Question:</h6>
                            <input class="border-0 w-100" name="term{{card.id}}" value="{{card.term}}">

                        </div>
                        <div class="row mt-2 ">
                            <h6>Answer:</h6>


                            <p class=" border-0 w-100 " id="content{{card.id}}" rows="2" value="{{card.content}}">
                                {{card.content}}</p>
                        </div>
                    </div>
                    <!---
                <div class = "col = 3">
                    <input class="card-subtitle mb-2 text-muted border-0" style="max-width: 100%;"
                    name="category{{card.id}}" value="{{card.category}}">
                <input type="hidden" name="id{{card.id}}" value="{{card.id}}">
                </div>--->
                </div>
            </div>
        </div>
        {% elif card.category in ["Discuss"] %}

        <div class="card box-build m-1" style="">
            <div class="card-body w-100">
                <div class="row">
                    <div class="col-1 ">

                        <input type="checkbox" class="" name="selected_cards[]" value="{{card.id}}">
                    </div>
                    <div class="col-11">
                        <div class="row ">
                            <div class="col-8  p-1">
                                <p class="card-title border-0 w-100 " id="term{{card.id}}" rows="2"
                                    value="{{card.term}}">{{card.term}}</p>
                            </div>
                       
                                <input type="hidden" name="id{{card.id}}" value="{{card.id}}">
                            
                        </div>
                        <div class="row mt-1">
                            <li class="list-group-item  mt-1 border-0">A - {{card.content}}
                            </li>
                            <li class="list-group-item  mt-1 border-0">B - {{card.boc_2}}

                            </li>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% else %}

        <div class="card box-build m-1" style="">
            <div class="card-body  w-100" style="margin:0px !important;">
                <div class="row">
                    <div class="col-1 ">

                        <input type="checkbox" class="" name="selected_cards[]" value="{{card.id}}">
                    </div>
                    <div class="col-11">
                        <div class="row ">
                            <h6>Question:</h6>
                            <p class=" border-0 w-100 " id="content{{card.id}}" rows="2" value="{{card.term}}">
                                {{card.term}}</p>

                        </div>
                        <div class="row mt-1 ">
                            <h6>Answer:</h6>

                            <p class="border-0 w-100" name="term{{card.id}}" value="{{card.content}}">{{card.content}}</p>

                        </div>
                    </div>
                    <!---
                <div class = "col = 3">
                    <input class="card-subtitle mb-2 text-muted border-0" style="max-width: 100%;"
                    name="category{{card.id}}" value="{{card.category}}">
                <input type="hidden" name="id{{card.id}}" value="{{card.id}}">
                </div>--->
                </div>
            </div>
        </div>




        {% endif%}
        {% endfor %}

        </form>
    </div>
</div>
<script>
    // check all checkboxes when "Check All" checkbox is checked
    const checkAllCheckbox = document.getElementById('check-all');
    const checkboxes = document.querySelectorAll('input[type=checkbox][name="selected_cards[]"]');

    checkAllCheckbox.addEventListener('change', () => {
        checkboxes.forEach((checkbox) => {
            checkbox.checked = checkAllCheckbox.checked;
        });
    });



    function validateForm() {
        const checkboxes = document.querySelectorAll('input[type=checkbox][name="selected_cards[]"]:checked');
        if (checkboxes.length === 0) {
            alert("Please select at least one question.");
            return false;
        }
        return true;
    }
</script>
{% endblock %}