{% extends "layout.html" %} {% block title %} Study {% endblock %} {% block head
%}

{% endblock %} {% block main_0 %}
<script>
    $(document).ready(function () {
        var deck_id = {{ deck.id }};
    // When the "Save" button is clicked
    $('#saveButton').click(function () {

        // Get the form data
        var formData = $('#newCardForm').serialize();
        var newTerm = $('#new_term').val();
        console.log(newTerm);
        console.log(formData)
        // Send the form data to the Flask app using AJAX
        $.ajax({
            type: 'POST',
            url: '/add_new_card/' + deck_id,
            data: formData,
            success: function (response) {
                // Reset the form fields
                $('#addCardMessage').text('Card "' + newTerm + '" created successfully.')
                $('#newCardForm')[0].reset();
            },
            error: function (response) {
                alert('An error occurred while saving the card.');
            }
        });

        // Keep the modal open
        return false;
    });
    $('#closeButton').click(function () {
        $('#addCardMessage').text('')
    });




    
      });
</script>


<a href="/viewdecks" class="m-3">
    <img src="\static\reply-arrow-outline-icon.png" alt="Return to decks" style="max-width:30px;max-height:30px;"
        title="Return to decks">
</a>

<img src="\static\mathematics-sign-plus-outline-icon.png" class="m-4" data-bs-toggle="modal"
    data-bs-target="#exampleModalLong" alt="Add new card" style="max-width:30px;max-height:30px;" title="Add cards">

<a data-bs-toggle="modal" data-bs-target="#editDeckModalLong" class="mx-2" style="cursor: pointer;">
    <img src="\static\edit-box-icon.png" alt="Share" style="max-width:30px;max-height:30px;" class="px-1"
        title="Edit deck attributes">
</a>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">



    <div class="carousel-indicators">
        {% for card in cards %}
        {% if loop.index0 == 0 %}
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{loop.index0}}" class="active"
            aria-current="true" aria-label="Card {{loop.index0}}"></button>
        {% else %}
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{loop.index0}}"
            aria-label="Card {{loop.index0}}"></button>
        {% endif %}
        {% endfor %}
    </div>

    <div class="col-1">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <img src = "/static/caret-left-outline-icon.png" style="max-width:30px;max-height:30px;">
        </button>
    </div>

    <div class="col-8 ">

        <div class="carousel-inner">
            {% for card in cards %}
            {% if loop.index0 == 0 %}
            <div class="carousel-item active">
                <div class="card m-2 bg-light" style="min-height:400px">
                    <div class="card-body">
                        {% if card.img is not none %}
                        <div class="row align-items-center justify-content-center">
                            <img class="card-img-top pb-3" src="\{{card.img}}" alt="Card image cap"
                                style="max-width: fit-content; max-height: fit-content;">
                        </div>
                        {% endif %}

                        <form action="" method="post">
                           
                                <input name="id" type="hidden" id="card.id" value="{{ card.id }}"
                                    placeholder="{{ card.id }}" />
                                <div class="row">
                                    <input name="term"
                                        class=" card-title box_study input_0 form-control form-control-lg  flex-grow-1" type="text"
                                        id="card.id" placeholder="{{ card.term }}" value="{{ card.term }}" />
                                </div>
                                {% if card.category == "Formulas" %}
                                <div>
                                    \[{{ card.formula}}\]
                                </div>
                              
                                <div class="row mt-1">
                                    <textarea name="formula"
                                        class="form-control card-text box_study input_0 form-control form-control-lg"
                                        type="text" id="card.id" rows="1"
                                        placeholder="{{ card.formula }}"> {{ card.formula }}</textarea>
                                </div>
                                
                                {% endif %}
                                <div class="row mt-1">
                                    <textarea name="content"
                                        class="form-control card-text box_study input_0 form-control form-control-lg flex-grow-1"
                                        type="text" id="card.id" rows="4"
                                        placeholder="{{ card.content }}"> {{ card.content }}</textarea>
                                </div>


                                {% if card.boc_2 is not none %}

                                <div class="row mt-1">
                                    <textarea name="boc_2"
                                        class="form-control card-text box_study input_0 form-control form-control-lg  flex-grow-1"
                                        type="text" id="card.id" rows="1"
                                        placeholder="{{ card.boc_2 }}"> {{ card.boc_2 }}</textarea>
                                </div>
                                {% if card.category != "Formulas" %}
                                <div class="row mt-1">
                                    <textarea name="boc_3"
                                        class="form-control card-text box_study input_0 form-control form-control-lg  flex-grow-1"
                                        type="text" id="card.id" rows="1"
                                        placeholder="{{ card.boc_3 }}"> {{ card.boc_3 }}</textarea>
                                </div>
                                <div class="row mt-1">
                                    <textarea name="boc_4"
                                        class="form-control card-text box_study input_0 form-control form-control-lg  flex-grow-1"
                                        type="text" id="card.id" rows="1"
                                        placeholder="{{ card.boc_4 }}"> {{ card.boc_4 }}</textarea>
                                </div>
                                {% endif %}
                                {% endif %}

                                <div class="row mt-3 align-item-end align-bottom align-self-end">
                                    <div class=" text-center col-4 align-items-center justify-content-center align-self-end">
                                        <input type="image" src="\static\save-outline-icon.png"
                                            style="max-width:30px;max-height:30px;" name="edit-card" value="Save" title="Save changes" />

                                    </div>
                                    <div class=" col-4 text-center align-items-center justify-content-center align-self-end">
                                        <a href="/regenerate_def/{{card.id}}">
                                            <img src="\static\recycle-sign-icon.png" alt="Regenerate"
                                                style="max-width:30px;max-height:30px;" class="px-1" title="Regenerate content">
                                        </a>
                                    </div>
                                    <div class=" col-4 text-center align-items-center justify-content-center align-self-end">
                                        <a href="/deletecard/{{deck.id}}/{{card.id}}"
                                            onclick="if (confirm('Are you sure you want to delete this card?')) { event.preventDefault(); window.location.href = '/deletecard/{{deck.id}}/{{card.id}}'; }">
                                            <img src="\static\delete-icon.png" alt="Delete"
                                                style="max-width:30px;max-height:30px;" class="px-1" title="Delete">
                                        </a>
                                    </div>
                                </div>
                           
                    </div>


                    </form>
                </div>

            </div>
            {% else %}
            <div class="carousel-item">

                <div class="card m-2 bg-light" style="min-height:400px">
                    <div class="card-body ">
                        {% if card.img is not none %}
                        <div class="row align-items-center justify-content-center">
                            <img class="card-img-top pb-3" src="\{{card.img}}" alt="Card image cap"
                                style="max-width: fit-content; max-height: fit-content;">
                        </div>

                        {% endif %}
                        <form action="" method="post">
                            <input name="id" type="hidden" id="card.id" value="{{ card.id }}"
                                placeholder="{{ card.id }}" />
                            <div class="row">
                                <input name="term" class="card-title box_study input_0 form-control form-control-lg  flex-grow-1"
                                    type="text" id="card.id" placeholder="{{ card.term }}" value="{{ card.term }}" />
                            </div>
                            {% if card.category == "Formulas" %}
                            <div>
                                \[{{ card.formula}}\]
                            </div>
                          
                            <div class="row mt-1">
                                <textarea name="formula"
                                    class="form-control card-text box_study input_0 form-control form-control-lg"
                                    type="text" id="card.id" rows="1"
                                    placeholder="{{ card.formula }}"> {{ card.formula }}</textarea>
                            </div>
                            
                            {% endif %}
 
                            <div class="row mt-1">
                                <textarea name="content"
                                    class="form-control card-text box_study input_0 form-control form-control-lg  flex-grow-1"
                                    type="text" id="card.id" rows="3"
                                    placeholder="{{ card.content }}"> {{ card.content }}</textarea>
                            </div>
         
                            {% if card.boc_2 is not none %}
                            <div class="row mt-1">
                                <textarea name="boc_2"
                                    class="form-control card-text box_study input_0 form-control form-control-lg  flex-grow-1"
                                    type="text" id="card.id" rows="1"
                                    placeholder="{{ card.boc_2 }}"> {{ card.boc_2 }}</textarea>
                            </div>
                            {% if card.category != "Formulas" %}
                            <div class="row mt-1">
                                <textarea name="boc_3"
                                    class="form-control card-text box_study input_0 form-control form-control-lg  flex-grow-1"
                                    type="text" id="card.id" rows="1"
                                    placeholder="{{ card.boc_3 }}"> {{ card.boc_3 }}</textarea>
                            </div>
                            <div class="row mt-1">
                                <textarea name="boc_4"
                                    class="form-control card-text box_study input_0 form-control form-control-lg  flex-grow-1"
                                    type="text" id="card.id" rows="1"
                                    placeholder="{{ card.boc_4 }}"> {{ card.boc_4 }}</textarea>
                            </div>
                            {% endif %}
                            {% endif %}
                            
                            <div class="row mt-3 align-item-end align-bottom align-self-end">
                                <div class=" text-center col-4 align-items-center justify-content-center align-self-end">
                                    <input type="image" src="\static\save-outline-icon.png"
                                        style="max-width:30px;max-height:30px;" name="edit-card" value="Save" title="Save changes" />

                                </div>
                                <div class=" col-4 text-center align-items-center justify-content-center align-self-end">
                                    <a href="/regenerate_def/{{deck.id}}/{{card.id}}">
                                        <img src="\static\recycle-sign-icon.png" alt="Regenerate"
                                            style="max-width:30px;max-height:30px;" class="px-1" title="Regenerate content">
                                    </a>
                                </div>
                                <div class=" col-4 text-center align-items-center justify-content-center align-self-end">
                                    <a href="/deletecard/{{deck.id}}/{{card.id}}"
                                        onclick="if (confirm('Are you sure you want to delete this card?')) { event.preventDefault(); window.location.href = '/deletecard/{{deck.id}}/{{card.id}}'; }">
                                        <img src="\static\delete-icon.png" alt="Delete"
                                            style="max-width:30px;max-height:30px;" class="px-1" title="Delete">
                                    </a>
                                </div>
                            </div>
                    </div>

                </div>

            </div>
            </form>

            {% endif %}
            {% endfor %}


        </div>
    </div>

    <div class="col-1">
        <div class="col-1">
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <img src = "/static/caret-right-outline-icon.png" style="max-width:30px;max-height:30px;">
            </button>
        </div>
    </div>
    <!--- MODAL -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add card</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="m-2" id="addCardMessage"></div>
                <div class="modal-body">
                    <form id="newCardForm" action="" method="post">

                        <div class="row mt-1">

                            <input class="box_study" name="new_term" type="text" id="new_term" placeholder="Term" />
                        </div>
                        <div class="row mt-1">
                            <input class="box_study" name="new_content" type="text" id="new_content"
                                placeholder="Main content" />
                        </div>
                        <div class="row mt-1">
                            <input class="box_study" name="new_boc_2" type="text" id="new_boc_2"
                                placeholder="Optional content" />
                        </div>
                        <div class="row mt-1">
                            <input class="box_study" name="new_boc_3" type="text" id="new_boc_3"
                                placeholder="Optional content" />
                        </div>
                        <div class="row mt-1">
                            <input class="box_study" name="new_boc_4" type="text" id="new_boc_4"
                                placeholder="Optional content" />
                        </div>
                        <div class="row mt-1 box_study">
                            <select name="new_category">
                                <option value="" selected>Choose a card type</option>
                                <option value="Definitions">Definitions</option>
                                <option value="Translate">Translate</option>
                                <option value="Rhyme">Rhyme</option>
                                <option value="People">People</option>
                                <option value="Theories">Theories</option>
                                <option value="Cloze">Cloze</option>
                                <option value="MCQ">MCQ</option>
                                <option value="Comprehension">Comprehension</option>
                            </select>
                        </div>

                </div>
                <div class="modal-footer">
                    <input type="image" id="saveButton" src="\static\save-outline-icon.png"
                        style="max-width:30px;max-height:30px;" name="edit-card" value="Save" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- END MODAL -->
    <!---- EDIT DECK ATTRIBUTES MODAL -->
    <div class="modal fade" id="editDeckModalLong" tabindex="-1" role="dialog" aria-labelledby="editDeckModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDeckModalLongTitle">Edit Deck</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="m-2" id="addCardMessage"></div>
                <div class="modal-body">
                    <form id="newCardForm" action="" method="post">

                        <div class="row mt-1">
                            <label class="form-label" for="new_deck_name">Name</label>
                            <input class="box_study" name="new_deck_name" type="text" id="new_deck_name"
                                placeholder="{{deck.name}}" />
                        </div>
                        <div class="row mt-1">
                            <label class="form-label" for="new_deck_description">Description</label>
                            <input class="box_study" name="new_deck_description" type="text" id="new_deck_description"
                                placeholder="{{deck.description}}" />
                        </div>
                        <div class="row mt-1">
                            <label class="form-label" for="new_deck_subject">Subject</label>

                            <input class="box_study" name="new_deck_subject" type="text" id="new_deck_subject"
                                placeholder="{{deck.subject}}" />
                        </div>
                        <div class="row mt-1">
                            <label class="form-label" for="new_deck_subject">Topic</label>

                            <input class="box_study" name="new_deck_topic" type="text" id="new_deck_topic"
                                placeholder="{{deck.topic}}" />
                        </div>
                        <div class="modal-footer">
                            <input type="image" id="saveButton" src="\static\save-outline-icon.png"
                                style="max-width:30px;max-height:30px;" name="edit-deck" value="Save" />
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>


{% endblock %}