{% extends "layout.html" %} {% block title %} Study {% endblock %} {% block head
%}

{% endblock %} {% block main_0 %}

<script>
    $(document).ready(function () {
        // Function to toggle views
        function toggleViews() {
            var carouselView = $('#carouselExampleDark');
            var tableView = $('#tableView');
            var toggleViewButton = $('#toggleViewButton');
            var toggleViewLabel = $('#toggleViewLabel');
    
            if (carouselView.is(':visible')) {
                tableView.show();
                carouselView.hide();
                toggleViewButton.attr('title', 'Switch to Carousel View');
            } else {
                tableView.hide();
                carouselView.show();
                toggleViewButton.attr('title', 'Switch to Table View');
            }
        }
    
        // Function to check if the screen size corresponds to a mobile device
        function isMobile() {
            return window.innerWidth < 768; // Adjust the breakpoint if needed
        }
    
        // Initial view setup
        if (isMobile()) {
            // Mobile view: Show carousel, hide table
            $('#carouselExampleDark').show();
            $('#tableView').hide();
            $('#toggleViewButton').hide();
            $('#toggleViewLabel').hide();
        } else {
            // Desktop view: Show table, hide carousel
            $('#carouselExampleDark').hide();
            $('#tableView').show();
            $('#toggleViewButton').show();
        }
    
        // Toggle view button click event
        $('#toggleViewButton').click(function () {
            toggleViews();
        });
    });
    </script>

<script>
    $(document).ready(function () {
        var deck_id = "{{ deck.id }}";
        // When the "Save" button is clicked
        $('#saveButton').click(function () {
            // Get the form data
            var formData = $('#newCardForm').serialize();
            var newTerm = $('#new_term').val();
            console.log(newTerm);
            console.log(formData)
            // Send the form data to the Flask app using AJAX
            $.ajax({
                type: 'POST',
                url: '/add_new_card/' + deck_id,
                data: formData,
                success: function (response) {
                    // Reset the form fields
                    $('#addCardMessage').text('Card "' + newTerm + '" created successfully.')
                    $('#newCardForm')[0].reset();
                },

        });
        return false;
    });
    $('#closeButton').click(function () {
        $('#addCardMessage').text('')
    });

    $('.regenerate-button').on('click', function () {
        event.preventDefault();
        var deckId = "{{ deck.id }}";
        var cardId = $(this).data('card-id');
        console.log(cardId);
        $.post('/regenerate_def',
            { id: cardId },
            function (response) {
                $('#content' + cardId).val(response.content);
                $('#tableContent' + cardId).text(response.content);
                $('#tableContent' + cardId).val(response.content);

                console.log(response);
            });
        });

    $('.delete-button').on('click', function (event) {
        event.preventDefault();
        var deckId = "{{ deck.id }}";
        var cardId = $(this).data('card-id');
        var $carousel = $('.carousel');
        var simpleId = $(this).data('simple-id');
        console.log(simpleId);
        if (confirm('Are you sure you want to delete this card?')) {
        $.post('/deletecard/' + cardId)
            .done(function (response) {
                if (response.status === "success") {
                    var activeElement = $carousel.find('.carousel-item.active');
                    var nextElement = activeElement.next('.carousel-item');
                    if (nextElement.length === 0) {
                        nextElement = $carousel.find('.carousel-item').first();
                    }
                    $('#row' + simpleId).remove(); // Remove the deleted card from the table

                    activeElement.remove(); // Remove the deleted card from the page
                    nextElement.addClass('active');
                    $carousel.carousel('next'); // Move the slide to the next item
                } else {
                    console.log("Error:", response.message);
                }
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                console.log("Error:", textStatus, errorThrown);
            });
        }
    });
});
</script>

<div class="container mt-1">
    <div class="row">
        <div class="col-6 d-flex justify-content-start">
            <a href="/deck_manager/{{deck.id}}"><img src="/static/reply-arrow-outline-icon.png" style="width: 25px; height:25px"></a>

        </div>
        <div class="col-6 d-flex justify-content-end">
            <div class="form-check form-switch mx-3">
                <input class="form-check-input" type="checkbox" role="switch" id="toggleViewButton">
                <label class="form-check-label" id = "toggleViewLabel" for="toggleView">Switch views</label>
            </div>

            <a class="px-2" data-bs-toggle="modal" data-bs-target="#exampleModalLong" style="cursor: pointer;">
                <img src="/static/mathematics-sign-plus-outline-icon.png" style="width: 25px; height:25px"></a>
            <a class="px-2" data-bs-toggle="modal" data-bs-target="#editDeckModalLong" style="cursor: pointer;">
                <img src="/static/writing-pad-clipboard-icon.png" style="width: 25px; height:25px"></a>

        </div>
    </div>
</div>


<div id="tableView">
    <div class="m-5">
        <div class="table-responsive" style="background-color: aliceblue;">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Term</th>
                        <th>Image</th>
                        <th>Content</th>
                        <th>Formula</th>
                        <th>extra 1</th>
                        <th>extra 2</th>
                        <th>extra 3</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for card in cards %}
                    <form method="post" class="card-update-form">
                        {{ form.csrf_token }}

                        <input name="id" type="hidden" id="card.id" value="{{ card.id }}" placeholder="{{ card.id }}" />
                        <tr id="row{{card.id}}">
                            <td style = "width: 20vw"> {{ form.term(class="border-0", id=card.id, placeholder=card.term,
                                value=card.term, overflow="auto", style="background-color: transparent; min-width: 100%; min-height: 100%") }}</td>
                            <td style = "max-width:50px">
                            {% if card.img is not none %}
                            <img src="{{ card.img }}" alt="Card image cap"
                                style="max-width: 50px; max-height: 50px;">
                            {% endif %}
                            </td>
                            <td>
                                {{ form.content(class="border-0", id="tableContent" + card.id|string, placeholder=card.content, overflow="auto", rows=4, style="background-color: transparent; min-width: 100%", **{'data-value': card.content}) }}


                            </td>
                                
                            <td>{% if card.formula %}{{ card.formula}} {% endif%}</td>
                            <td>{% if card.boc_2 %} {{ form.boc_2(class="border-0", id=card.id, placeholder=card.boc_2,
                                value=card.boc_2, overflow="auto", style="background-color: transparent;") }} {% endif %}</td>
                            <td>{% if card.boc_3 %} {{ form.boc_3(class="border-0", id=card.id, placeholder=card.boc_3,
                                value=card.boc_3, overflow="auto", style="background-color: transparent;") }} {% endif %}</td>
                            <td>{% if card.boc_4 %} {{ form.boc_4(class="border-0", id=card.id, placeholder=card.boc_4,
                                value=card.boc_4, overflow="auto", style="background-color: transparent;") }} {% endif %}</td>
                            <td>
                                <input name="id" type="hidden" id="card.id" value="{{ card.id }}"
                                    placeholder="{{ card.id }}" />
                                <div class="d-flex justify-content-center">
                                    <input type="image" src="\static\save-outline-icon.png"
                                    style="max-width:30px;max-height:30px;" name="edit-card" value="Save"
                                    title="Save changes" />
                                    <button class="regenerate-button" data-card-id="{{card.id}}"
                                        style="border: none; background: none;">
                                        <img src="\static\recycle-sign-icon.png" alt="Regenerate"
                                            style="max-width: 30px; max-height: 30px;" class="px-1"
                                            title="Regenerate content">
                                    </button>
                                    <button class="delete-button" data-simple-id="{{card.id}}"
                                        data-card-id="{{deck.id}}/{{card.id}}" style="border: none; background: none;">
                                        <img src="\static\delete-icon.png" alt="Delete"
                                            style="max-width: 30px; max-height: 30px;" class="px-1" title="Delete">
                                    </button>
                                </div>
                    
                    </td>
                    </tr>
                </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>






</div>
<script>
$(document).ready(function() {
    console.log("script loaded")
    $(".card-update-form").each(function() {
        $(this).find("input, textarea").on("change", function() {
            console.log("Change detected");

            var form = $(this).closest("form");
            var formData = form.serialize();

            $.ajax({
                type: "POST",
                url: "{{ url_for('update_card') }}",
                data: formData,
                success: function(response) {
                    console.log("Response:", response);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log("Error:", textStatus, errorThrown);
                }
            });
        });
    });
});
</script>

<!---
<script>
    $(document).ready(function() {
        $("textarea[id^='tableContent']").each(function() {
            var contentValue = $(this).attr('data-value');
            $(this).val(contentValue);
        });
    });
</script>
--->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false"
    style="display: none;">
    <div class="col-1">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <img src="/static/caret-left-outline-icon.png" style="max-width:30px;max-height:30px;">
        </button>
    </div>

    <div class="col-8 ">

        <div class="carousel-inner">
            {% for card in cards %}
            {% if loop.index0 == 0 %}
            <div class="carousel-item active">
                <div class="card m-2 bg-light" style="min-height:400px">
                    <div class="card-body">
                        {% if card.img is not none %}
                        <div class="row align-items-center justify-content-center">
                            <img class="card-img-top pb-3" src="\{{card.img}}" alt="Card image cap"
                                style="max-width: fit-content; max-height: fit-content;">
                        </div>
                        {% endif %}

                        <form action="" method="post">
                            {{ form.csrf_token }}
                            <input type="hidden" name="id" id="card.id" value="{{ card.id }}"
                                placeholder="{{ card.id }}" />
                            {{ form.term(class="card-title box_study input_0 form-control flex-grow-1 d-flex
                            align-items-center justify-content-center text-center", id=card.id, placeholder=card.term,
                            value=card.term, style="min-height:50px; border-width: 5px!important;", overflow="auto") }}

                            {% if card.category == "Formulas" %}
                            <div>
                                \[{{ card.formula}}\]
                            </div>

                            <div class="row mt-1">
                                {{ form.formula(class="form-control card-text box_study input_0 form-control",
                                id="card.id", rows="1", placeholder=card.formula) }}

                            </div>

                            {% endif %}
                            {% if card.category == 'Mcq' %}
                            <div class="row mt-1">
                                {{ form.content(class="form-control card-text box_study input_0 form-control
                                flex-grow-1", id="content" + card.id|string, rows="3", style="border-width:
                                5px!important; border-color: green!important;", placeholder=card.content) }}

                            </div>
                            {% else %}
                            {{ form.content(class="form-control card-text box_study input_0 form-control  flex-grow-1", id="tableContent" ~ card.id, rows=8,placeholder=card.content, overflow="auto", style="background-color: transparent; min-width: 100%", **{'data-value': card.content}) }}

                            {% endif %}


                            {% if card.boc_2 is not none %}
                            <div class="row mt-1">
                                {{ form.boc_2(class="form-control card-text box_study input_0 form-control flex-grow-1",
                                id="card.id", rows="1", placeholder=card.boc_2) }}
                            </div>

                            {% if card.category != "Formulas" %}
                            <div class="row mt-1">
                                {{ form.boc_3(class="form-control card-text box_study input_0 form-control flex-grow-1",
                                id="card.id", rows="1", placeholder=card.boc_3) }}
                            </div>
                            <div class="row mt-1">
                                {{ form.boc_4(class="form-control card-text box_study input_0 form-control flex-grow-1",
                                id="card.id", rows="1", placeholder=card.boc_4) }}
                            </div>
                            {% endif %}
                            {% endif %}

                            <div class="row mt-3 align-item-end align-bottom align-self-end"
                                style="position:absolute; bottom:10px; left:0; right:0;">
                                <div
                                    class=" text-center col-4 align-items-center justify-content-center align-self-end">
                                    <input type="image" src="\static\save-outline-icon.png"
                                        style="max-width:30px;max-height:30px;" name="edit-card" value="Save"
                                        title="Save changes" />

                                </div>
                                <div
                                    class=" col-4 text-center align-items-center justify-content-center align-self-end">
                                    <button class="regenerate-button" card-id="{{card.id}}" data-card-id="{{card.id}}"
                                        style="border: none; background: none;">
                                        <img src="\static\recycle-sign-icon.png" alt="Regenerate"
                                            style="max-width:30px;max-height:30px;" class="px-1"
                                            title="Regenerate content">
                                    </button>

                                </div>
                                <div
                                    class=" col-4 text-center align-items-center justify-content-center align-self-end">
                                    <button class="delete-button" data-simple-id="{{card.id}}"
                                        data-card-id="{{deck.id}}/{{card.id}}" style="border: none; background: none;">
                                        <img src="\static\delete-icon.png" alt="Delete"
                                            style="max-width:30px;max-height:30px;" class="px-1" title="Delete">
                                    </button>

                                </div>
                            </div>

                    </div>


                    </form>
                </div>

            </div>
            {% else %}
            <div class="carousel-item">

                <div class="card m-2 bg-light" style="min-height:400px">
                    <div class="card-body ">
                        {% if card.img is not none %}
                        <div class="row align-items-center justify-content-center">
                            <img class="card-img-top pb-3" src="\{{card.img}}" alt="Card image cap"
                                style="max-width: fit-content; max-height: fit-content;">
                        </div>

                        {% endif %}
                        <form action="" method="post">
                            <input name="id" type="hidden" id="card.id" value="{{ card.id }}"
                                placeholder="{{ card.id }}" />
                            <textarea name="term"
                                class="card-title box_study input_0 form-control flex-grow-1 d-flex align-items-center justify-content-center text-center"
                                type="text" id="{{ card.id }}" placeholder="{{ card.term }}" value="{{ card.term }}"
                                style="min-height:50px; border-width: 5px!important;"
                                overflow="auto">{{ card.term }}</textarea>

                            {% if card.category == "Formulas" %}
                            <div>
                                \[{{ card.formula}}\]
                            </div>

                            <div class="row mt-1">
                                <textarea name="formula" class="form-control card-text box_study input_0 form-control"
                                    type="text" id="card.id" rows="1"
                                    placeholder="{{ card.formula }}"> {{ card.formula }}</textarea>
                            </div>

                            {% endif %}
                            {% if card.category == 'Mcq' %}
                            <div class="row mt-1">
                                <textarea name="content"
                                    class="form-control card-text box_study input_0 form-control  flex-grow-1"
                                    type="text" id="card.id" rows="3"
                                    style="border-width: 5px!important; border-color: green!important;"
                                    placeholder="{{ card.content }}"> {{ card.content }}</textarea>
                            </div>
                            {% else %}
                            <textarea name="content"
                                class="form-control card-text box_study input_0 form-control  flex-grow-1" type="text"
                                id="card.id" rows="8" placeholder="{{ card.content }}"> {{ card.content }}</textarea>
                            {% endif %}

                            {% if card.boc_2 is not none %}
                            <div class="row mt-1">
                                <textarea name="boc_2"
                                    class="form-control card-text box_study input_0 form-control  flex-grow-1"
                                    type="text" id="card.id" rows="1"
                                    placeholder="{{ card.boc_2 }}"> {{ card.boc_2 }}</textarea>
                            </div>
                            {% if card.category != "Formulas" %}
                            <div class="row mt-1">
                                <textarea name="boc_3"
                                    class="form-control card-text box_study input_0 form-control  flex-grow-1"
                                    type="text" id="card.id" rows="1"
                                    placeholder="{{ card.boc_3 }}"> {{ card.boc_3 }}</textarea>
                            </div>
                            <div class="row mt-1">
                                <textarea name="boc_4"
                                    class="form-control card-text box_study input_0 form-control  flex-grow-1"
                                    type="text" id="card.id" rows="1"
                                    placeholder="{{ card.boc_4 }}"> {{ card.boc_4 }}</textarea>
                            </div>
                            {% endif %}
                            {% endif %}

                            <div class="row mt-3 align-item-end align-bottom align-self-end"
                                style="position:absolute; bottom:10px; left:0; right:0;">
                                <div
                                    class=" text-center col-4 align-items-center justify-content-center align-self-end">
                                    <input type="image" src="\static\save-outline-icon.png"
                                        style="max-width:30px;max-height:30px;" name="edit-card" value="Save"
                                        title="Save changes" />

                                </div>
                                <div
                                    class=" col-4 text-center align-items-center justify-content-center align-self-end">
                                    <button class="regenerate-button" data-card-id="{{card.id}}"
                                        style="border: none; background: none;">
                                        <img src="\static\recycle-sign-icon.png" alt="Regenerate"
                                            style="max-width:30px;max-height:30px;" class="px-1"
                                            title="Regenerate content">
                                    </button>
                                </div>
                                <div
                                    class=" col-4 text-center align-items-center justify-content-center align-self-end">
                                    <button class="delete-button" data-card-id="{{deck.id}}/{{card.id}}"
                                        style="border: none; background: none;">
                                        <img src="\static\delete-icon.png" alt="Delete"
                                            style="max-width:30px;max-height:30px;" class="px-1" title="Delete">
                                    </button>
                                </div>
                            </div>
                    </div>

                </div>

            </div>
            </form>

            {% endif %}
            {% endfor %}


        </div>
    </div>

    <div class="col-1">
        <div class="col-1">
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <img src="/static/caret-right-outline-icon.png" style="max-width:30px;max-height:30px;">
            </button>
        </div>
    </div>

</div>
<!--- MODAL -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-style p-4">
                <h5 class="modal-title" id="exampleModalLongTitle">Add card</h5>
                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close">
                </button>

            </div>
            <div class="m-2" id="addCardMessage"></div>
            <div class="modal-body">
                <form id="newCardForm" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="form-floating mt-1">
                        {{ form.new_term(class="form-control", id="new_term") }}
                        <label for="new_term">Front of card</label>
                    </div>
                    <div class="form-floating mt-1">
                        {{ form.new_content(class="form-control", id="new_content") }}
                        <label for="new_content">Main content</label>
                    </div>
                    <div class="form-floating mt-1">
                        {{ form.new_boc_2(class="form-control", id="new_boc_2") }}
                        <label for="new_boc_2">Extra content</label>
                    </div>
                    <div class="form-floating mt-1">
                        {{ form.new_boc_3(class="form-control", id="new_boc_3") }}
                        <label for="new_boc_3">Extra content</label>
                    </div>
                    <div class="form-floating mt-1">
                        {{ form.new_boc_4(class="form-control", id="new_boc_4") }}
                        <label for="new_boc_4">Extra content</label>
                    </div>
                    <div class="form-floating mt-1">
                        {{ form.new_category(class="form-select", id="choose-card") }}
                        <label for="choose-card">Card type</label>
                    </div>

            </div>
            <div class="modal-footer">
                <input type="image" id="saveButton" src="\static\save-outline-icon.png"
                    style="max-width:30px;max-height:30px;" name="edit-card" value="Save" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const form = document.querySelector('#newCardForm');
    const saveButton = document.querySelector('#saveButton');

    saveButton.addEventListener('click', e => {
        e.preventDefault();
        if (form.checkValidity()) {
            // Perform form submission
            form.submit();
        } else {
            // Show validation feedback
            form.classList.add('was-validated');
        }
    });
</script>


<!-- END MODAL -->
<!---- EDIT DECK ATTRIBUTES MODAL -->
<div class="modal fade" id="editDeckModalLong" tabindex="-1" role="dialog" aria-labelledby="editDeckModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-style p-4">
                <h5 class="modal-title" id="editDeckModalLongTitle">Edit Deck</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>

            </div>
            <div class="m-2" id="addCardMessage"></div>
            <div class="modal-body">
                <form id="newCardForm" action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-floating mt-1">
                        {{ form.new_deck_name(class="form-control", value=deck.name,
                        placeholder=deck.name|default('Name')) }}
                        <label for="new_deck_name">Name</label>
                    </div>

                    <div class="form-floating mt-1">
                        {{ form.new_deck_description(class="form-control", value = deck.desccription,
                        placeholder=deck.description|default("Description")) }}
                        <label for="new_deck_description">Description</label>
                    </div>

                    <div class="form-floating mt-1">
                        {{ form.new_deck_subject(class="form-control", value = deck.subject,
                        placeholder=deck.subject|default("Subject")) }}
                        <label for="new_deck_subject">Subject</label>
                    </div>

                    <div class="form-floating mt-1">
                        {{ form.new_deck_topic(class="form-control", value = deck.topic,
                        placeholder=deck.topic|default("Topic")) }}
                        <label for="new_deck_topic">Topic</label>
                    </div>

                    <div class="form-floating my-2">
                        {{ form.deck_list(id="existing-input", class="form-select full-w", placeholder="Select a deck")
                        }}
                        <label for="existing-input">Make child of:</label>
                    </div>

                    <div class="form-check form-switch mt-2">
                        {{ form.is_public(class="form-check-input", value = deck.public) }}
                        <label class="form-check-label" for="public-checkbox" value="public">Make deck public?</label>
                    </div>

                    <div class="modal-footer">
                        {{ form.edit_deck(class="btn btn-primary") }}
                </form>
            </div>
        </div>
    </div>
</div>


</div>


{% endblock %}