{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main_0 %}
<div class="d-flex justify-content-center">

    <div class="col-md-6">
    <form method="POST" action="">

        <ul>{{ form.hidden_tag()}}</ul>
        <ul>{{ form.username (class="w-50 p-3" )}}</ul>
        <ul>{{ form.password (class="w-50 p-3" )}}</ul>
        <ul>{{ form.new_password (class="w-50 p-3" )}}</ul>
        <ul>{{ form.conf_new_password (class="w-50 p-3" ) }}</ul>
    
        <ul>{{ form.submit (class="w-50 p-3" )}}</ul>
    </form>
    </div>
</div>
{% endblock %}