{% extends "layout.html" %} 

{% block title %} Create Deck {% endblock %} 



{% block main_0 %}


<div class="container">
    <div class="row">

<a href="/extract" class="btn btn-primary btn-md border btn-block" role="button">Extract</a>
    </div>
    <div class="row">
<a href="/import" class="btn btn-primary btn-md border btn-block" role="button">Import</a>
    </div>
    <div class="row">
<a href="/publicdeckcs" class="btn btn-primary btn-md border btn-block" role="button">Public decks</a>
    </div>
    <div class="row">
<a href="/createmanually" class="btn btn-primary btn-md border btn-block" role="button">Create manually</a>
    </div>
       

</div>

{% endblock %}