{% extends "layout.html" %} 

{% block title %} Create Deck {% endblock %} 



{% block main_0 %}


<div class="container mt-5">

    <div class="col-2"></div>

    <div class="col-8 mx-auto box_0 p-5">
    <div class="row">

<a href="/extract" class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" role="button">Extract</a>
    </div>
    <div class="row">
<a href="/import" class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" role="button">Import</a>
    </div>
    <div class="row">
<a href="/publicdeckcs" class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" role="button">Public decks</a>
    </div>
    <div class="row">
<a href="/createmanually" class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" role="button">Create manually</a>
    </div>
</div>    
</div>
</div>

{% endblock %}