{% extends "layout.html" %} {% block title %} Card Editor {% endblock %} {%
block head %} {% endblock %} {% block main_0 %}

<div id="slider-max-container">
    <div class="slider-wrapper">
        <div class="slider-container">
            {% for card in cards %}
            <div class="slide">
                <div class="col-12 slide-ind">
                    <a href="/deletecard/{{deck.id}}/{{card.id}}" class="btn box_warning eq_buttons">Delete</a>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-1">
                            <a href="#" id="prev-btn">
                                <img src="\static\arrow-previous-left-icon.png" style="max-width:30px;max-height:30px;"
                                    alt="Previous">
                            </a>
                        </div>
                        <div class="col-10">
                            <div class="card m-2 bg-light" style="min-height:400px">
                                <div class="card-body">
                                    {% if card.img is not none %}
                                    <img class="card-img-top" src="\{{card.img}}" alt="Card image cap">
                                    {% endif %}
                                    <form action="" method="post">
                                        <input name="id" type="hidden" id="card.id" value="{{ card.id }}"
                                            placeholder="{{ card.id }}" />
                                        <div class="row">
                                            <input name="term"
                                                class="card-title border-0 input_0 form-control form-control-lg"
                                                type="text" id="card.id" placeholder="{{ card.term }}"
                                                value="{{ card.term }}" />
                                        </div>
                                        <div class="row">
                                            <textarea name="content"
                                                class="form-control card-text border-0 input_0 form-control form-control-lg"
                                                type="text" id="card.id" rows="3"
                                                placeholder="{{ card.content }}"> {{ card.content }}</textarea>
                                        </div>


                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-1">
                            <a href="#" id="next-btn">
                                <img src="\static\arrow-next-right-icon.png" style="max-width:30px;max-height:30px;"
                                    alt="Previous">
                            </a>

                        </div>
                    </div>



                    <a href="/regen_def/{{deck.id}}/{{card.id}}" class="btn box_study eq_buttons">Regenerate</a>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</div>


<script>
    $(document).ready(function () {

        const slider = document.querySelector('.slider-container'),
            slides = Array.from(document.querySelectorAll('.slide'))
        console.log(slides[0])

        let isDragging = false,
            startPos = 0,
            currentTranslate = 0,
            prevTranslate = 0,
            animationID = 0,
            currentIndex = 0

        console.log(currentIndex)
        console.log(currentTranslate)
        console.log(prevTranslate)
        console.log(window.innerWidth)


        slides.forEach((slide, index) => {
            const slideImage = slide.querySelector('.slide-ind')
            slideImage.addEventListener('dragstart', (e) => e.preventDefault())

            // Touch events
            slide.addEventListener('touchstart', touchStart(index))
            slide.addEventListener('touchend', touchEnd)
            slide.addEventListener('touchmove', touchMove)

            // Mouse events
            slide.addEventListener('mousedown', touchStart(index))
            slide.addEventListener('mouseup', touchEnd)
            slide.addEventListener('mouseleave', touchEnd)
            slide.addEventListener('mousemove', touchMove)

            // Button click events
            // on click previous button slide to previous slide
            $('#prev-btn').click(function () {
                previousSlide()
            })
            // on click next button slide to next slide
            $('#next-btn').click(function () {
                nextSlide()
            })
        })

        // Disable context menu
        window.oncontextmenu = function (event) {
            event.preventDefault()
            event.stopPropagation()
            return false
        }

        function touchStart(index) {
            return function (event) {
                currentIndex = index
                startPos = getPositionX(event)
                isDragging = true

            }
        }

        function touchEnd() {
            isDragging = false
            cancelAnimationFrame(animationID)

            const movedBy = currentTranslate - prevTranslate

            if (movedBy < -200 && currentIndex < slides.length - 1) currentIndex += 1

            if (movedBy > 200 && currentIndex > 0) currentIndex -= 1
            console.log(currentIndex)
            console.log(currentTranslate)
            console.log(prevTranslate)
            setPositionByIndex()

        }

        function touchMove(event) {
            if (isDragging) {
                const currentPosition = getPositionX(event)
                currentTranslate = prevTranslate + currentPosition - startPos
            }
        }

        function getPositionX(event) {
            console.log("get position x")
            return event.type.includes('mouse') ? event.pageX : event.touches[0].clientX
        }


        function setSliderPosition() {
            console.log("set slider position")
            slider.style.transform = `translateX(${currentTranslate}px)`

        }

        function setPositionByIndex() {
            console.log("set position by index")
            currentTranslate = currentIndex * -window.innerWidth
            prevTranslate = currentTranslate

            console.log(currentIndex)
            console.log(currentTranslate)
            console.log(prevTranslate)
            setSliderPosition()
        }

        function nextSlide() {
            console.log("next slide")
            if (currentIndex < slides.length - 1) {
                currentIndex += 1
                setPositionByIndex()
            }
        }

        function previousSlide() {
            console.log("previous slide")
            if (currentIndex > 0) {
                currentIndex -= 1
                setPositionByIndex()
            }
        }
    })
</script>


</div>

{% endblock %}