{% extends "layout.html" %} {% block title %} Extractor {% endblock %} {% block
main_0 %}

<div class="col-10 mx-auto box_0 my-5 py-5">
  <h2 class="p-4">Choose a method for extracting cards:</h2>

  <div class="row border m-3 box_1">
    <h5 class="p-4">
      Extract from an existing file (formats supported: .pptx, .pdf, .txt,
      .docx):
    </h5>
    <form method="POST" enctype="multipart/form-data">
      {{form.hidden_tag()}}
      <div class="row m-2">
        <div>
            <h5>Select an existing deck to add to:</h5>{{form.deck_list (class="form-control form-control-lg")}}
        </div>
        <h5> Or create a new deck:</h5>
        <div class="col-6">
          <h5>Deck name:</h5>
          {{form.name (class="form-control form-control-lg")}}
          <ul>
            {% for error in form.name.errors %}
            <li> {{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-6">
          <h5>Deck description:</h5>
          {{form.description (class="form-control form-control-lg")}}
        </div>
      </div>
      <div class = "row">
        <h5> Select the type of cards you want to create:</h5>
        <div class = "row">

        <p>{% for subfield in form.prompt %}
        {{ subfield }} {{ subfield.label }}
        {% endfor %}</p>
        </div>
      </div>
      <div class="row m-2">
        <div class="col-6">
          <h5>Select a file to have keywords extracted from:</h5>
          {{form.file(class="form-control form-control-lg")}}
        </div>
        <div class="col-6">

          {{form.submit(class="form-control form-control-lg box_0 mt-4")}}
        </div>
      </div>
    </form>
  </div>

  <div class="row border m-3 box_1">
    <h5 class="p-4">Copy your text into the box below:</h5>
    <form action="/quote" method="post">
      <div class="mb-3">
        <input
          autocomplete="off"
          required
          autofocus
          class="form-control form-control-lg"
          id="colFormLabelLg"
          name="text_input"
          placeholder="input text here"
          type="text"
        />
      </div>
      <button class="btn btn-primary m-2 box_0" type="submit">Extract</button>
    </form>
  </div>

  <div class="row border m-3 box_1">
    <h5 class="p-4">Enter a URL:</h5>
    <form action="/quote" method="post">
      <div class="mb-3">
        <input
          autocomplete="off"
          required
          autofocus
          class="form-control form-control-lg"
          id="colFormLabelLg"
          name="text_input"
          placeholder="input text here"
          type="text"
        />
      </div>
      <button class="btn btn-primary m-2 box_0" type="submit">Extract</button>
    </form>
  </div>

  <div class="row border m-3 box_1">
    <h5 class="p-4">Enter a youtube link:</h5>
    <form action="/quote" method="post">
      <div class="mb-3">
        <input
          autocomplete="off"
          required
          autofocus
          class="form-control form-control-lg"
          id="colFormLabelLg"
          name="text_input"
          placeholder="input text here"
          type="text"
        />
      </div>
      <button class="btn btn-primary m-2 box_0" type="submit">Extract</button>
    </form>
  </div>

  <div class="row"></div>
</div>

{% endblock %}
