{% extends "layout.html" %} {% block title %} Extractor {% endblock %}
{% block main_0 %}



{% if settings.new_user == True %}

<div class="container box_study" id="new-user-info">
    <h5> Welcome to our creation page</h5>
    <p> This is where the magic happens! On this page you can create all sorts of study material.</p>
    <ul>
        <li> Feel free to try out different combinations</li>
        <li> For summaries, notes and transcriptions the results will be stored in the deck files associated with your deck</li>
        <li> Big documents can take a few minutes to process, you will be notified through the app and by email when they are done</li>
        <li> We are constantly looking to make improvements and add features, so if there is something you'd like that Cephadex can't do be sure to let us know</li>
    </ul>
    <form id="new-user-study">
        <input type="checkbox" class="" id="new-user-checkbox" value="checked">
        <label class="form-check-label" for="new-user-checkbox">Do not show this message again</label>
    </form>
</div>
<script>
    const checkbox = document.getElementById('new-user-checkbox');
    const newuserdiv = document.getElementById('new-user-info');
    checkbox.addEventListener('change', function () {
        console.log(checkbox.checked)
        if (this.checked) {
            newuserdiv.style.display = "none";
            fetch('/new_user_settings_create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ checked: true })
            })

        } else {
            fetch('/new_user_settings', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ checked: false })
            });
        }
    });

</script>
{% endif %}
<script>
    $(document).ready(function(){
        $('#file-input').change(function(){
            //if file-input is not empty
            if ($(this).val() != "") {
            
            var form_data = new FormData();
            form_data.append('file', this.files[0]);
            calculateCredits(form_data);
            $('#credit-content').hide();
            $('#credit-spinner').show();
        }
        else {
                $("#credit-amount").text("0");
                
            }
        });
    
        $('#text-input').on('input', function() {
            if ($(this).val() != "") {
            var form_data = new FormData();
            form_data.append('text_input', $(this).val());
            $('#credit-content').hide();
            $('#credit-spinner').show();
            calculateCredits(form_data);
            }
            else {
                $("#credit-amount").text("0");
                
            }
        });
    
        $('#link-input').change(function(){
            if ($(this).val() != "") {
            var form_data = new FormData();
            form_data.append('link_input', $(this).val());
            $('#credit-content').hide();
            $('#credit-spinner').show();
            calculateCredits(form_data);
            }
            else {
                $("#credit-amount").text("0");
                
            }
        });

        function calculateCredits(form_data) {
            $.ajax({
                url: '/call_credit_counter', // Flask route
                data: form_data,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function(response){
                    $("#credit-display").show();
                    $("#credit-content").show();
                    $("#credit-amount").text(response);
                    $('#credit-spinner').hide();
                },
                error: function(response){
                    $("#credit-amount").text("n/a");
                    $("#credit-display").show();

                }
            });
        }
    });
    </script>
<script>
    $(document).ready(function(){

    // Get the input field and error message div
    var inputField = document.getElementById("text-input");
    var errorMessage = document.getElementById("error-message-text");

    // Add an event listener to the input field that triggers whenever its content changes
    inputField.addEventListener("change", function() {
        // Check if the input field's content has less than 50 characters
        if(inputField.value.length < 50) {
            // If it has, display an error message
            errorMessage.textContent = "Please enter at least 50 characters.";
            errorMessage.style.color = "red";
        } else {
            // If it doesn't, clear the error message
            errorMessage.textContent = "";
        }
    });
});
</script>



<script>
    function showSpinner() {
        document.getElementById("extract-spinner").style.display = "inline-block";
        document.getElementById("extract-message").style.display = "inline-block";
    }
</script>
<div class = "container">
<div class="d-md-block d-none mt-1 mb-4 d-flex justify-content-center">
    <div class="scrolling-header">
        Turn <span class="scrolling-header-words" id="from">youtube video</span> into <span
            class="scrolling-header-words" id="to">flashcards</span>
    </div>
</div>
</div>
<div class="container box_study">
    <form id = "extract-form" method="POST" action="{{url_for('extract')}}" enctype="multipart/form-data", onsubmit="showSpinner()">
        {{form.hidden_tag()}}
        {{ form.csrf_token }}
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active " id="extract-input-tab" data-bs-toggle="pill"
                    data-bs-target="#extract-input" type="button" role="tab" aria-controls="extract-input"
                    aria-selected="true" style="font-size: 20px !important;"
                    title="Enter the content you want processed here">Selection & output</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="extract-output-tab" data-bs-toggle="pill" data-bs-target="#extract-output"
                    type="button" role="tab" aria-controls="extract-output" aria-selected="false"
                    style="font-size: 20px !important" title="Choose what type of material you want to create here">Customizations
                </button>
            </li>
        
        <li class="nav-item ms-auto">
                
            <div id="credit-display" class="alert credit-box" style="margin: 8px!important; padding: 8px!important;">
                <div id = "credit-spinner" class="spinner-border" role="status" style="display: none;"></div>
             <div id ="credit-content"><span id="credit-amount"> 0</span> credits</div>

            </div></li>


        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active extract-boxes1  p-2" id="extract-input" role="tabpanel"
                aria-labelledby="extract-input-tab">
                <!---- SECTION ON WHAT--->
                <div class = "box_study p-3">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="mb-3">Type of input</h5>
                        <h6 class="mb-1"> Upload a file</h6>
                        <div class="input-group">
                            {{form.file(id="file-input", class="form-control")}}
                            <label class="input-group-text" for="file-input">Upload</label>
                            <div style="color:red" id="error-message"></div>

                        </div>

                        <h6 class="mb-1"> Paste some text</h6>
                        <div class="form-floating">
                            {{form.text_input(id="text-input", class="form-control form-control-lg", style="height:100%;
                            width:100%; font-size:20px")}}
                            <label for="text-input" class="form-label">Paste your text here</label>
                            <div style="color:red" id="error-message-text"></div>

                        </div>
                        <h6 class="mb-1"> Or insert a link </h6>
                        
                        <div class="form-floating">
                            {{form.link_input(id="link-input", class="form-control form-control-lg")}}
                            <label for="link-input" class="form-label">Insert wikipedia or youtube link</label>

                        </div>
                        <div id="fileinputhelp" class="form-text d-md-block d-none" style = "font-size: 12px">
                            Wikipedia and YouTube links are accepted. If you would like to insert more than one link,
                            separate them
                            semi-colon ";".
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="mb-3">Choose a deck</h5>
                        <h6 class="mb-1">Create a new deck</h6>
                        <div class="form-floating mb-2">
                            {{form.name(id="name-input", class="form-control form-control-lg")}}
                            <label for="name-input">Name of the deck</label>
                        </div>
                        <div class="form-floating mb-3 d-md-block d-none">
                            {{form.description(id="description-input", class="form-control form-control-lg")}}
                            <label for="description-input">Description of the deck</label>
                        </div>
                        {% if current_user.decks %}
                        <h6 class="mb-1">Add to existing deck</h6>
                        <div class="form-floating mb-3">
                            {{form.deck_list(id="existing-input", class="form-select form-control-lg",
                            placeholder="Select a deck")}}
                            <label for="existing-input">Select a deck</label>
                        </div>
                        {% endif %}
                    </div>
                </div>
                </div>
            </div>
          
            <!---- SECTION ON HOW--->
            <div class="tab-pane fade extract-boxes1 p-2" id="extract-output" role="tabpanel"
                aria-labelledby="extract-output-tab">
                <div class = "box_study p-3">
                    <h5 class="mb-2">What type of card do you want to create?</h5>
                    <div class="row mb-2">
                        {% set extra_options_start = 4 %}
                        <!-- Change this number to display the first few options -->
                        <div class="row options">
                          {% for subfield in form.prompt %}
                            {% if loop.index0 < extra_options_start %}
                              <div class="col-md-3 col-sm-6 form-option">
                                {{ subfield }} {{ subfield.label }}
                              </div>
                            {% else %}
                              {% if loop.index0 == extra_options_start %}
                                <div class="extra-options" style="display: none;">
                                  <div class="row">
                              {% endif %}
                                    <div class="col-md-3 col-sm-6 form-option">
                                      {{ subfield }} {{ subfield.label }}
                                    </div>
                              {% if loop.index0 == form.prompt.choices|length - 1 %}
                                  </div> <!-- Closing the row div -->
                                </div> <!-- Closing the extra-options div -->
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    <div class="row">
                        <div class="col-md-6">
                       
                            <button type="button" id="toggle-options" class="btn-options btn  btn-sm mt-2"
                                style="max-width: 200px">More
                                options</button>
                        

                            <div class="form-group mt-2">

                                {{ form.generate_images(id="gen-images", class="", disabled = "disabled") }}
                                <label for="gen-images">Generate images <small class="text-muted">(premium
                                        members)</small></label>


                                {{ form.save_text (id = "save-text", class="")}}
                                <label for="save-text">Save text</label>
                            </div>
                        </div>


                        <div class="col-md-6">



                            <div class="extract-boxes" id="language-select" style="display: none;">

                                {{form.languages (class="box_study form-control")}}
                            </div>
                            <div class="extract-boxes" id="custom-select" style="display: none;">
                                <div class="">
                                    {{form.custom_term (class="box_study form-control")}}
                                </div>
                                <div class="">
                                    {{form.custom_content (class=" box_study form-control my-1")}}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            

            <div class="box_study p-3 mt-2">

                <h5>Advanced options</h5>
                <div class="row">


                
               
                            <!----      <div class="input-group my-2" id="min-max">
                                TOO CONFUSING AND DOESN@T WORK WELL SO REMOVED FOR NOW
                        <div class="input-group-text ">Min</div>
                        {{ form.qmin_option(type ="number", class="form-control form-control-lg ")}}
                        <div class="input-group-text">Max</div>
                        {{ form.qmax_option(type ="number", class="form-control form-control-lg")}}
                        <div id="fileinputhelp" class="form-text ml-1"> Select the average amount of items per
                            page.
                        </div>
                            </div>---->
                    <div class="col-md-6 form-floating mt-2">
                        {{ form.subject(id = "subject-input", class="form-select")}}
                        <label for="subject-input">Choose a subject</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        {{ form.length(id="detail-input", class="form-select")}}
                        <label for="subject-input">Choose a level of detail</label>
                    </div>
                    <div class=" col-md-6 form-floating mt-2">
                        {{ form.main_lang(id="main-lang", class="form-select")}}
                        <label for="main-lang">Choose a language </label>
                    </div>
            </div>
            </div>
            </div>
        </div>
        <button type="submit" id="hidden-submit-btn" style="display: none;"></button>

        <div class="row justify-content-end">
    <div id = "extract-spinner" class="spinner-border m-3" role="status" color="#FF6700!important"style="display: none;" >
        </div>
            {{form.submit(id="generate-btn", class=" btn-generate form-control form-control-lg", style
            = "max-width: 200px", disabled="disabled")}}
        </div>
</div>
</div>
</form>
</div>


<script>
    $(document).ready(function() {
        var fileInput = $('#file-input')[0];
    
        fileInput.addEventListener('change', function() {
            // reset custom validity
            fileInput.setCustomValidity('');
    
            var file = fileInput.files[0];
            const generateBtn = document.getElementById('generate-btn');
            // check file size
            var maxSize = 80 * 1024 * 1024;  // 80MB in bytes
            if (file.size > maxSize) {
                fileInput.setCustomValidity('File is too large. Maximum size is 80MB.');
                displayError(fileInput.validationMessage);
                return;
            }
    
            // check file type
            var allowedTypes = ["mp3", "wav", "pdf", "docx", "doc", "ppt", "pptx", "txt"];
            var fileType = file.name.split('.').pop().toLowerCase();
            if (!allowedTypes.includes(fileType)) {
                fileInput.setCustomValidity('Invalid file type. Allowed types are: ' + allowedTypes.join(", "));
                displayError(fileInput.validationMessage);
                return;
            }
    
            // Clear error message when file is valid
            displayError('');
        });
    
        function displayError(message) {
            $('#error-message').text(message);
            if (message !== '') {
            // clear the input field if there is an error
            fileInput.value = '';
            document.getElementById('generate-btn').disabled = true;
        }
        }
    });
    </script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        console.log("loaded")
        // Disable generate button by default
        document.getElementById('generate-btn').disabled = true;
        // Add event listeners to file input field
        const fileInput = document.getElementById('file-input');
        fileInput.addEventListener('input', validateInputs);
        // Add event listeners to text input field
        const textInput = document.getElementById('text-input');
        textInput.addEventListener('input', validateInputs);
        // Add event listeners to link input field
        const linkInput = document.getElementById('link-input');
        linkInput.addEventListener('input', validateInputs);


        fileInput.addEventListener("dragover", (e) => {
            e.preventDefault();
            e.stopPropagation();
            e.dataTransfer.dropEffect = "copy";
        });
        fileInput.addEventListener("drop", (e) => {
            e.preventDefault();
            e.stopPropagation();
            if (e.dataTransfer.files.length > 0) {
                fileInput.files = e.dataTransfer.files;
            }
        });
        // Validate input fields and enable/disable generate button accordingly
        function validateInputs() {
            const fileInput = document.getElementById('file-input');
            const textInput = document.getElementById('text-input');
            const linkInput = document.getElementById('link-input');
            const generateBtn = document.getElementById('generate-btn');
            if (((fileInput && fileInput.value !== '') || (textInput.value.length >= 50) || (linkInput && linkInput.value !== ''))) {
                generateBtn.disabled = false;
                generateBtn.removeAttribute('disabled');
                generateBtn.removeClass('btn-outline-secondary');
                generateBtn.addClass('btn-primary');

            } else {
                generateBtn.disabled = true;
                generateBtn.setAttribute('disabled', 'disabled');
                generateBtn.removeClass('btn-primary');
                generateBtn.addClass('btn-outline-secondary');
            }
        }
    });
</script>
<script>

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>
<script>
    $(document).ready(function() {
      // Define the tooltip texts for each radio button option
      var tooltipTexts = {
        'Definitions': 'Create definitions for key terms',
        'Mcq': 'Multiple choice questions',
        'Translate': 'Translate key terms',
        'Cloze': 'Fill in the blank questions',
        'Formulas': 'Extracts formulas and provides explanations',
        'Theories': 'Extracts theories and provides explanations',
        'Rhyme': 'Creates short poems',
        'Comprehension': 'Creates comprehension questions',
        'People': 'Creates short biographies',
        'Vocab_builder': 'Extracts all terms and provides a definition',
        'Transcribe': 'Use to transcribe audio files',
        'Turn2notes': 'Turns a document into notes',
        'Summarize': 'Summarizes a document',
        'Custom': 'Enter what you want to extract and what you want to do with it',
        'Explain': 'Explain questions and answers',
        'Discuss': 'Discussion questions and sample answers',
        // Add more tooltip texts as needed
      };
  
      // Iterate through each radio button and initialize tooltips
      $('input[type=radio]').each(function() {
        var value = $(this).val();
        var tooltipText = tooltipTexts[value] || 'Default tooltip text';
        $(this).parent().attr({
          'data-toggle': 'tooltip',
          'data-bs-placement': 'left',
          'title': tooltipText
        });
      });
  
      // Activate tooltips
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>


<script type="text/javascript">
    $(document).ready(function () {
        $('input[name="prompt"]').change(function () {
            if ($(this).val() === 'Translate' || $(this).val() === 'Transcribe') {
                $('#language-select').show();
            } else {
                $('#language-select').hide();
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('input[name="prompt"]').change(function () {
            if ($(this).val() === 'Custom') {
                $('#custom-select').show();
            } else {
                $('#custom-select').hide();
            }
        });
    });
</script>



<script>
    window.addEventListener("load", function () {
        document.getElementById("toggle-options").addEventListener("click", function () {
            const extraOptions = document.querySelector(".extra-options");
            if (extraOptions.style.display === "none") {
                extraOptions.style.display = "block";
                this.textContent = "Fewer options";
            } else {
                extraOptions.style.display = "none";
                this.textContent = "More options";
            }
        });
    });
</script>
<script>
    window.onload = function () {
        const fromWords = [
            "youtube video",
            "podcasts",
            "lecture notes",
            "academic papers",
            "newspaper articles",
            "wikipedia links",
            "assigned readings",
            "voice memos",
            "syllabi",
            "textbooks",
            "websites",
            "powerpoints",
            "pdfs",
            "word documents",
            "lessons",
            "lesson plans"

        ];
        const toWords = [
            "flashcards",
            "formulas and explanations",
            "multiple choice questions",
            "fill in the blank questions",
            "comprehension questions",
            "test questions and answers",
            "summaries",
            "detailed notes",
            "poems",
            "custom cards",
            "worksheets",
            "tests",
        ];
        const fromElement = document.getElementById("from");
        const toElement = document.getElementById("to");
        function getRandomElement(array) {
            return array[Math.floor(Math.random() * array.length)];
        }
        function updateWords() {
            fromElement.textContent = getRandomElement(fromWords);
            toElement.textContent = getRandomElement(toWords);
        }
        setInterval(updateWords, 2000);
    }
</script>
<script>
    $(document).ready(function() {
        $("#generate-btn").on("click", function() {
            // Trigger the hidden button click event to submit the form
            $("#hidden-submit-btn").click();

            // Delay resetting the form fields to allow the form to be submitted
            setTimeout(function() {
                $(this).closest("form")[0].reset();
            }.bind(this), 100);  // Adjust the delay if needed
        });
    });
</script>

{% endblock %}