{% extends "layout.html" %} {% block title %} Welcome {% endblock %}
{% block head %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
{% endblock %}
{% block main_0 %}
{% if current_user.is_authenticated %}
<!---- NO LONGER NECESSARY 
<header class="hero">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h4> Welcome back {{current_user.first_name}}. </h4>
                    <br>
                    <h1 class="display-1 lh-1 mb-3">Cephadex - <small>BETA</small></h1>

                    <p class="lead fw-normal text-muted mb-5">Thank you for your participation!</p>
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="masthead-device-mockup">
                    <div class="device-wrapper">
                        <div class="device d-flex justify-content-center">
                            <img class="circle-img" src="/static/cephadex-easter.png" alt="Cephadex Easter">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
------>
{% else %}
<header class="hero">

    <div class="container">

        <div class="scrolling-header mt-1">
            Turn your <span class="scrolling-header-words" id="from">youtube video</span> into <span
                class="scrolling-header-words" id="to">flashcards</span>
        </div>
        <br>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="mb-3 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1">Create and Learn at the Speed of Thought!</h1>
                    <p class="lead fw-normal mb-5" style="color:#a880fd;">We're saving you time by creating
                        educational material customized to <strong>your</strong> needs.</p>
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <a class="conversion-button" data-bs-toggle="modal" data-bs-target="#registerModal">Sign Up for
                            Free</a>
                    </div>
                </div>
            </div>
            <div class=col-lg-6>
                <div class="d-flex justify-content-center">


                    <iframe class="hero-video" src="https://www.youtube.com/embed/E88BywtHkLg"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>

                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row mt-5">
            <div class="col-10">
                <div class="row align-items-center text-center">
                    <h1 class="hero-text">Discover the Cephadex Advantage: Transform Your Learning Experience Today!
                    </h1>
                </div>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-center">
                <div class="row ">

                    <div class="scroll-down-icon ">
                        <img src="\static\arrow-round-bottom-outline-icon.png" style="height:50px; width:50px">
                    </div>
                </div>
            </div>
        </div>

</header>
<br>
<main class="main-content">
    <div class="container">
        <h2 class="text-center mb-5">How It Works</h2>
        <div class="row mb-5">
            <div class="col-md-3 text-center">
                <i class=" "><img src="/static/select-input-icon.png" style="max-width: 60px; max-height: 60px">
                    <h4>Select Input</h4>
                </i>
                <p>Choose from a variety of inputs including pdfs, ppts, docs, mp3s... or even wikipedia
                    pages or youtube videos.</p>
            </div>
            <div class="col-md-3 text-center">
                <i class=""><img src="/static/custom-deck-icon.png" style="max-width: 60px; max-height: 60px">
                    <h4>Create Custom Decks</h4>
                </i>
                    <p>Transform your input into custom cards that are stored in decks.</p>
            </div>
            <div class="col-md-3 text-center">
                <i class=" "><img src="/static/create-worksheet-icon.png" style="max-width: 60px; max-height: 60px">
                    <h4>Create Worksheets and Tests</h4>
                </i>
                    <p>Use your custom decks to create worksheets and tests. Share, assign or study them yourself.</p>
            </div>
            <div class="col-md-3 text-center">
                <i class=" "><img src="/static/master-icon.png" style="max-width: 60px; max-height: 60px">
                    <h4>Master Your Subjects</h4>
                </i>
                    <p>Use our spaced repetition system and other study tools to master your subjects and
                        achieve academic success!</p>
            </div>
        </div>
    
    <div class="col-md-12 d-flex justify-content-center align-items-center">
        <img class="circle-img" src="/static/dive-sea-knowledge.png" alt="Illustration of a busy teacher">
    </div>


    <aside class="mt-4 text-center p-5" style="border-radius: 10px;">
        <section class="cta-section">
            <div class="container px-5">
                <div class="row gx-5 align-items-center text-center">
                    <div class="col-md-8">
                        <h2 class="h2 fs-1 mb-4" style="color: #FF6700">Ready to take the plunge? 🌊</h2>
                        <div class="d-md-block d-none">
                            <p class=" h4 fs-4 mb-4">
                                Sign up for Cephadex today and embark on an unforgettable learning adventure that will
                                change the way you see education. Together, let's dive into a sea of knowledge and
                                uncover
                                the endless possibilities that await beneath the surface.

                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-lg btn-generate" data-bs-toggle="modal" data-bs-target="#registerModal">Sign
                            Up
                            for
                            Free</a>
                    </div>
                </div>
            </div>
        </section>
    </aside>
    <br>
    <br>
    <section class="my-5">
        <h2>Embark on an educational journey like no other🐙</h2>
        <div class="row mt-4">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img class="circle-img" src="/static/seas-knowledge.png" alt="Illustration of a busy teacher">
            </div>
            <div class="col-md-6">
                <h3>Discover a World of Possibilities 🌊</h3>
                <ul>
                    <li>Unlock the potential of personalized education with our cutting-edge technology, allowing you
                        to create customized materials and tailor your educational journey to your students unique needs
                        and
                        preferences.
                    </li>
                    <li>Whether you're a teacher 👩‍🏫, parent, student 👩‍🎓, or lifelong learner, Cephadex is your
                        trusted guide.
                    </li>
                    <li>At Cephadex, we believe that everyone🌍, regardless of their background or abilities, should
                        have access to a transformative learning experience.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="my-5">
        <h2>Unleash Your Inner Cephalopod 🦑</h2>
        <div class="row mt-4">
            <div class="col-md-6">
                <h3>Nurturing Lifelong Curiosity and Growth 🐬
                </h3>
                <ul>
                    <li>Join our vibrant community of learners, educators, and curious minds as you delve deeper
                        into your passions and unlock new realms of knowledge.
                    </li>
                    <li>Engage with fellow ocean explorers 🚣‍♀️ through social platforms, sharing the content you
                        created either publically
                        or within private groups.
                    </li>
                    <li> Track your progress 📊 and set goals to keep you motivated and on track to achieving your
                        learning goals.
                    </li>
                </ul>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img class="circle-img" src="/static/octopus-pc.png" alt="Illustration of a busy teacher">
            </div>
        </div>
    </section>


    <br>
    <br>


    <section class="newsletter-section my-4 py-3">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <h2 class="mb-3">Join our subscriber list and enjoy exclusive discounts!</h2>
                    <p class="mb-4">Stay ahead with Cephadex and unlock your educational potential. Sign up now!</p>
                </div>
            </div>
            <form id="subscribe">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="first-name" id="first-name"
                                placeholder="First Name" required>
                            <label for="first-name">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="last-name" id="last-name"
                                placeholder="Last Name" required>
                            <label for="last-name">Last Name</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email Address"
                                required>
                            <label for="email">Email Address</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6">
                        <button type="submit" class="btn btn-primary w-100 py-3 rounded-pill">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </section>






</div>


    </div>



    <!--------
    <section class="jumbotron text-center mb-0">
        <h1 class="display-4">Get Premium for Free!</h1>
        <p class="lead">Help us test our new premium features and get full access for free!</p>
        <hr class="my-4">
        <p>Contact us to learn more.</p>
        <a class="btn btn-primary btn-lg" href="mailto:support@cephadex.com" role="button">Contact Us</a>
    </section>
---->
    <!------ PRICING SECTION - UNECESSARY FOR NOW 
    <section class="pricing-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 mt-2">
                    <div class="card mb-4 shadow-sm h-100">
                        <div class="card-header text-white" style="background-color: #26475e;">
                            <h4 class="my-0 fw-normal">Free</h4>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h1 class="card-title pricing-card-title">Free <small class="text-muted"></small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li><i class="bi bi-check text-success"></i> Process 150 pages per month</li>
                                <li><i class="bi bi-check text-success"></i> Create decks, tests and worksheets</li>
                                <li><i class="bi bi-check text-success"></i> Spaced repetition study system</li>
                                <li><i class="bi bi-check text-success"></i> Export cards and questions as a CSV file
                                </li>
                                <li><i class="bi bi-check text-success"></i> Supports over 30 languages</li>
                                <li><i class="bi bi-check text-success"></i> Transcribe and summarize</li>

                                <li><i class="bi bi-check text-success"></i> Share decks with friends</li>
                                <li><i class="bi bi-check text-success"></i> Take tests assigned to you</li>
                                <li><i class="bi bi-check text-success"></i> Study analytics</li>
                            </ul>
                            <button type="button" style="position:relative; bottom:0"
                                class="w-100 btn btn-lg btn-outline-primary mt-auto" data-bs-toggle="modal"
                                data-bs-target="#registerModal">Sign up for free</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                    <div class="card mb-4 shadow-sm h-100">
                        <div class="card-header text-white" style="background-color: #26475e;">
                            <h4 class="my-0 fw-normal">Basic (coming soon)</h4>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h1 class="card-title pricing-card-title">$5.99 <small class="text-muted">/ mo</small></h1>
                            <h6 class="card-subtitle mb-2 text-muted"><del>$9.99 / mo</del></h6>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li><i class="bi bi-check text-success"></i> Process 2000 pages per month</li>
                                <li><i class="bi bi-check text-success"></i> Create decks, tests and worksheets</li>
                                <li><i class="bi bi-check text-success"></i> Spaced repetition study system</li>
                                <li><i class="bi bi-check text-success"></i> Export cards and questions as a CSV file
                                </li>
                                <li><i class="bi bi-check text-success"></i> Supports over 30 languages</li>
                                <li><i class="bi bi-check text-success"></i> Transcribe and summarize</li>
                                <li><i class="bi bi-check text-success"></i> Full Anki integration</li>
                                <li><i class="bi bi-check text-success"></i> Share decks with friends</li>
                                <li><i class="bi bi-check text-success"></i> Assign and take tests</li>
                                <li><i class="bi bi-check text-success"></i> Study analytics</li>
                                <li><i class="bi bi-check text-success"></i> Study through custom made games</li>
                            </ul>
                            <button type="button" style="position:relative; bottom:0"
                                class="w-100 btn btn-lg btn-outline-primary mt-auto" disabled>Get started</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                    <div class="card mb-4 shadow-sm h-100">
                        <div class="card-header text-white" style="background-color: #26475e;">
                            <h4 class="my-0 fw-normal">Premium (coming soon)</h4>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h1 class="card-title pricing-card-title">$10.99 <small class="text-muted">/ mo</small></h1>
                            <h6 class="card-subtitle mb-2 text-muted"><del>$15.99 / mo</del></h6>

                            <ul class="list-unstyled mt-3 mb-4">
                                <li><i class="bi bi-check text-success"></i> Process 6000 pages per month</li>
                                <li><i class="bi bi-check text-success"></i> Create decks, tests and worksheets</li>
                                <li><i class="bi bi-check text-success"></i> Spaced repetition study system</li>
                                <li><i class="bi bi-check text-success"></i> Export cards and questions as a CSV file
                                </li>

                                <li><i class="bi bi-check text-success"></i> Supports over 30 languages</li>
                                <li><i class="bi bi-check text-success"></i> Transcribe and summarize</li>
                                <li><i class="bi bi-check text-success"></i> Full Anki integration</li>
                                <li><i class="bi bi-check text-success"></i> Share decks with friends</li>
                                <li><i class="bi bi-check text-success"></i> Generate images for your cards</li>
                                <li><i class="bi bi-check text-success"></i> Assign and take tests</li>
                                <li><i class="bi bi-check text-success"></i> Study analytics</li>
                                <li><i class="bi bi-check text-success"></i> Access to our live AI tutor</li>
                                <li><i class="bi bi-check text-success"></i> Ability to create groups and classes</li>
                                <li><i class="bi bi-check text-success"></i> Create custom exercises based upon your
                                    knowledge base</li>
                                <li><i class="bi bi-check text-success"></i> Create tests and worksheets specific for A
                                    level, IB or AP curriculums</li>

                                <li><i class="bi bi-check text-success"></i> Gradebooks</li>
                                <li><i class="bi bi-check text-success"></i> Track your students performance</li>
                                <li><i class="bi bi-check text-success"></i> Study through custom made games</li>
                                <li><i class="bi bi-check text-success"></i> Create and assign games for your students
                                </li>



                            </ul>
                            <button type="button" style="position:relative; bottom:0"
                                class="w-100 btn btn-lg btn-outline-primary mt-auto" disabled>Get started</button>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-2">


                    <div class="card mb-4 shadow-sm h-100">
                        <div class="card-header text-white" style="background-color: #26475e;">
                            <h4 class="my-0 fw-normal">Enterprise</h4>
                        </div>
                        <div class="card-body d-flex flex-column">

                            <h1 class="card-title pricing-card-title">Custom:
                                <small class="text-muted"></small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li><i class="bi bi-check text-success"></i> Customized tutor chat bots</li>
                                <li><i class="bi bi-check text-success"></i> Customized inquiry bots based upon your
                                    specific organization</li>
                                <li><i class="bi bi-check text-success"></i> Gradebook management</li>
                                <li><i class="bi bi-check text-success"></i> Student analytics and reports</li>
                                <li><i class="bi bi-check text-success"></i> ...</li>


                            </ul>
                            <a type="button" style="position:relative; bottom:0"
                                class="w-100 btn btn-lg btn-outline-primary mt-auto"
                                href="mailto:support@cephadex.com" target="blank">Contact us</a>

                        </div>
                    </div>
                </div>
            </div>

    </section>

----------------->


    <!---

    <section  >

        <div class="container p-4 my-5" style="border-radius: 10px; background-color: #523e7c;">
            <div class="row">

                <div id="try-out-pre" class="col-12" style=" color: #fcad79;">
                    <div class="row align-items-center justify-content-center justify-content-lg-between">
                        <h5> Try it out! </h5>
                        <div class="col-12 col-lg-12">
                            <form id="try-out-form" method="POST" action="/tryout" enctype="multipart/form-data"
                                onsubmit="showSpinner(); clearform()">
                                {{form.hidden_tag()}}
                                {{ form.csrf_token }}
                                <div class="row">
                                    <div class="extract-boxes1">
                                        <div class="form-floating my-1">
                                            {{form.select_text(id="text-input",
                                            class="form-control
                                            form-control-lg box_study
                                            full-w",
                                            style="height:100%; width:100%; font-size:20px"
                                            )}}
                                            <label for="text-input" style="color: gray">Select a topic</label>
                                            <div id="textinputhelp" class="form-text"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    {% for subfield in form.prompt %}
                                    <div class="col-md-3 col-sm-6"> {{ subfield }} {{
                                        subfield.label }} </div>

                                    {% endfor %}
                                </div>
                                <div class="extract-boxes" id="language-select" style="display: none;">

                                    {{form.languages (class="border-0 form-control-lg")}}
                                </div>
                                <div class="extract-boxes" id="custom-select" style="display: none;">
                                    <div class="row">
                                        {{form.custom_term (class="box_study
                                        form-control-lg")}}
                                    </div>
                                    <div class="row">
                                        {{form.custom_content (class=" box_study
                                        form-control-lg my-1")}}
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col d-flex align-items-center justify-content-end">
                                        <div id="extract-message" style="display:none">
                                            <i>Your cards are being
                                                generated! </i>
                                        </div>
                                    </div>
                                    <div class="col d-flex justify-content-end">


                                        {{form.submit(id="generate-btn", class=" btn btn-generate
                                        form-control
                                        form-control-lg m-2",
                                        style
                                        = "max-width: 200px", disabled="disabled")}}
                                    </div>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>

                <div id="extract-spinner" style="display:none; color: grey">
                    <div class="row">
                        <div class="col-6-md">
                            <div class="spinner-border m-4" id="extract-spinner" role="status">
                            </div>
                            <div class="col-6">
                            </div>
                            <p>Content is being generated ...🤖 beep... bop... boop...</p>
                        </div>
                    </div>
                </div>
                <div id="try-out-post" style=" display: none">
                    <div class="">
                        <div class="row">
                            <h5 style="color:aliceblue" class="m-3 p-3">Here is a glimpse of the type of content that
                                you can create:
                            </h5>
                        </div>
                        <div class="row">
                            <div class="col-md-6" id="post-text">

                                <h6 style="color:grey"> Source text:</h6>
                                <div class="p-2"
                                    style="background-color:aliceblue; border: 5px; border-radius: 5px; border-color:beige; max-height: 80vh; overflow:auto">
                                    <p id="display-text"></p>
                                </div>
                                <div style="color:aliceblue">
                                    <p> All passages are adapated from wikipedia articles. Full articles can be found here:</p>
                                    <ul>
                                        <li>https://en.wikipedia.org/wiki/Cephalopod</li>
                                        <li>https://en.wikipedia.org/wiki/Deck_(ship)</li>
                                        <li>https://en.wikipedia.org/wiki/Library_of_Alexandria</li>
                                        <li>https://en.wikipedia.org/wiki/Spaced_repetition</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div id="post-cards" style="max-height: 80vh; overflow:auto">


                                </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const form = document.getElementById("try-out-form");
                    const pre = document.getElementById("try-out-pre");
                    const post = document.getElementById("try-out-post");
                    const spinner = document.getElementById("extract-spinner");
                    form.addEventListener("submit", handleSubmit);

                    async function handleSubmit(event) {
                        event.preventDefault();
                        pre.style.display = "none";
                        spinner.style.display = "block";
                        try {
                            const response = await fetch("/tryout", {
                                method: "POST",
                                body: new FormData(event.target),
                                headers: {
                                    "Accept": "application/json",
                                },
                            });
                            const data = await response.json();
                            updatePageContent(data);
                        } catch (error) {
                            console.error("Error:", error);
                        }
                    }

                    function updatePageContent(data) {
                        spinner.style.display = "none";


                        console.log("entered update page content")
                        console.log(data.terms);
                        const displayText = document.getElementById("display-text");
                        const postCards = document.getElementById("post-cards");
                        const terms = data.terms;
                        const option = data.option;

                        // Set display text
                        displayText.textContent = data.text;

                        // Clear existing cards
                        postCards.innerHTML = "";

                        terms.forEach((termItem) => {
                            const term = termItem[Object.keys(termItem)[0]]; // Get the first (and only) value of the term item
                            const B = termItem[Object.keys(termItem)[1]];
                            const C = termItem[Object.keys(termItem)[2]];
                            const D = termItem[Object.keys(termItem)[3]];
                            const E = termItem[Object.keys(termItem)[4]];

                            console.log(term);

                            const card = document.createElement("div");
                            card.classList.add("card", "m-2", "try-out-card-back");

                            const cardBody = document.createElement("div");
                            cardBody.classList.add("card-body", "my-1", "try-out-card-back");

                            const cardTitle = document.createElement("h5");
                            cardTitle.classList.add("card-title", "p-2", "try-out-card-back");
                            cardTitle.textContent = term;


                            if (option === "Mcq") {
                                const ol = document.createElement("ol");
                                ["1", "2", "3", "4"].forEach((number) => {
                                    const li = document.createElement("li");
                                    li.textContent = termItem[Object.keys(termItem)[number]];
                                    ol.appendChild(li);
                                });
                                cardBody.appendChild(ol);
                            } else {
                                const cardText = document.createElement("p");
                                cardText.classList.add("card-text");
                                cardText.textContent = B;
                                cardBody.appendChild(cardText);
                            }

                            card.appendChild(cardTitle);
                            card.appendChild(cardBody);
                            postCards.appendChild(card);
                            post.style.display = "block";
                        });
                    }
                });
            </script>



            <script>
                var selectInput = document.getElementById("text-input");
                selectInput.addEventListener("change", checkSelection);
                var submitButton = document.getElementById("generate-btn");

                function checkSelection() {
                    var selectedOption = selectInput.options[selectInput.selectedIndex];

                    // Check if an option other than the first one (placeholder) is selected
                    if (selectedOption.value !== "") {
                        console.log("Option selected:", selectedOption.value);
                        submitButton.disabled = false;

                    } else {
                        console.log("No option selected");
                        submitButton.disabled = true;

                    }
                }

                function clearForm() {
                    var textInput = document.getElementById("text-input");
                    textInput.value = "";

                }
            </script>

    </section>

    </div>


--->



</main>


<script>
    $(document).ready(function () {

        const subscribeForm = document.querySelector("#subscribe");

        subscribeForm.addEventListener("submit", async (e) => {
            console.log("subscribing1")
            e.preventDefault();
            const formData = new FormData(subscribeForm);
            const data = Object.fromEntries(formData.entries());
            console.log(data);
            const response = await fetch("/subscribe2", {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                },
            });
            if (response.ok) {
                const data = await response.json();
                alert(data.message);
                subscribeForm.reset();
            } else {
                const data = await response.json();
                alert(data.message);
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('input[name="prompt"]').change(function () {
            if ($(this).val() === 'Translate' || $(this).val() === 'Transcribe') {
                $('#language-select').show();
            } else {
                $('#language-select').hide();
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('input[name="prompt"]').change(function () {
            if ($(this).val() === 'Custom') {
                $('#custom-select').show();
            } else {
                $('#custom-select').hide();
            }
        });
    });
</script>



<script>
    window.onload = function () {
        const fromWords = [

            "youtube video",
            "podcasts",
            "lecture notes",
            "academic papers",
            "newspaper articles",
            "wikipedia links",
            "assigned readings",
            "voice memos",
            "syllabi",
            "textbooks",
            "websites",
            "powerpoints",
            "pdfs",
            "word documents",
            "lessons",
            "lesson plans"
        ];

        const toWords = [
            "flashcards",
            "formulas and explanations",
            "multiple choice questions",
            "fill in the blank questions",
            "comprehension questions",
            "test questions and answers",
            "summaries",
            "detailed notes",
            "poems",
            "custom cards",
            "worksheets",
            "tests",
        ];

        const fromElement = document.getElementById("from");
        const toElement = document.getElementById("to");

        function getRandomElement(array) {
            return array[Math.floor(Math.random() * array.length)];
        }

        function updateWords() {
            fromElement.textContent = getRandomElement(fromWords);
            toElement.textContent = getRandomElement(toWords);
        }

        setInterval(updateWords, 2000);


    }

</script>
{% endif %}
{% endblock %}