{% extends "layout.html" %} 

{% block title %} Extractor {% endblock %} 



{% block main_0 %}

<h1> Welcome to Edu-MC-8</h1> 

<h2> Our goal is to save students and teachers time by allowing them to create incredible study material easily</h2>
<h4> Thanks to our product it takes only seconds to create flashcards from any pdf, pptx, doc, youtube link and more!
</h4>
    <div>
        <ul> {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </ul>
        </div>


{% endblock %}