<!DOCTYPE html>

<html lang="en">

<head>
<!---- POPPIN FONTS ---->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">



    <link rel="icon" href="/static/cephadex-logo-6.png">

    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <!--- MATHJAX-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


    <!-- http://getbootstrap.com/docs/5.1/ -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/plain" data-cookie-consent="strictly-necessary" src="https://accounts.google.com/gsi/client"
        async defer></script>

    <!-- SUBMIT FORMS JAVASCRIPT-->
    <script>
        $(document).ready(function () {

            // Subscribe form handler
            $('#subscribe-form').submit(function (event) {
                event.preventDefault();
                var form_data = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("subscribe") }}',
                    data: form_data,
                    success: function (response) {
                        alert(response);
                        $('#subscribeModal').modal('hide');
                    },
                    error: function (error) {
                        alert('An error occurred: ' + error.responseText);
                    }
                });
            });
            // Feedback form handler
            $('#feedback-form').submit(function (event) {
                event.preventDefault();
                var form_data = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("feedback") }}',
                    data: form_data,
                    success: function (response) {
                        $('#feedbackModal').modal('hide');

                    },
                    error: function (error) {
                        alert('An error occurred: ' + error.responseText);
                    }
                });
            });


        });

        // END SUBMIT FORMS JAVASCRIPT 

        // TERMS AND CONDITIONS MODAL JS

        $('#terms-cond-button').click(function (event) {
            event.preventDefault();
            $('#terms-condModal').modal('show');
        });

        $('#terms-cond-link').click(function (event) {
            event.preventDefault();
            $('#terms-condModal').modal('show');
        });

    </script>


    <link href="\static\style.css" rel="stylesheet" />
    {% block head %} {% endblock %}
    <title>Cephadex {% block title %}{% endblock %}</title>

    <meta name="csrf-token" content="{{ csrf_token }}">


</head>
<!-- Google tag (gtag.js) -->
<script type="text/plain" data-cookie-consent="tracking" async
    src="https://www.googletagmanager.com/gtag/js?id=G-6NB4ZPCNB0"></script>
<script type="text/plain" data-cookie-consent="tracking">
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-6NB4ZPCNB0');
</script>

<body>
    {% if current_user.is_authenticated %}

    <input type="hidden" id="slug_id" value="{{ session['slug'] }}">
    <script>
        var slug_id = document.getElementById("slug_id").value;
        function doPoll() {
            $.post(
                '/query',
                { id: slug_id },

                function (data) {  // <- when the response comes, we'll process
                    // its data with this function
                    $('#status').text(data.state);
                    if (data.result == 0) {
                        console.log("no data yet")
                        // We're setting the timeout for 5 seconds
                        // so the page will update itself
                        // every 5 seconds until we get a non-zero result
                        setTimeout(doPoll, 5000);
                    } else if (data.result == 1) {
                        // When we finally get the result we update it on the page
                        console.log("just before notification complete"),
                            console.log(slug_id)
                        $.post(
                            '/notification_complete',
                            { id: slug_id },
                            function (response) {
                                console.log(response);
                            });
                        $('#slugModal').modal('show');
                    }
                }
            );
        }
        // Here we actually instruct the browser to call the function for the effect:
        $(document).ready(function () {
            doPoll();
        });

    </script>
    {% endif %}
    <meta name="description"
        content="Cephadex is an AI-powered educational platform for creating custom flashcards, worksheets, and tests. Study and share your educational material with ease.">

    <div class="cookies-banner" data-cookie-policy>
        <!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
        <script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.1.0/cookie-consent.js"
            charset="UTF-8"></script>
        <script type="text/javascript" charset="UTF-8">
            document.addEventListener('DOMContentLoaded', function () {
                cookieconsent.run({ "notice_banner_type": "interstitial", "consent_type": "express", "palette": "light", "language": "en", "page_load_consent_levels": ["strictly-necessary"], "notice_banner_reject_button_hide": false, "preferences_center_close_button_hide": false, "page_refresh_confirmation_buttons": false, "website_name": "www.cephadex.com", "website_privacy_policy_url": "www.cephadex.com/privacy_policy" });
            });
        </script>
        <meta name="robots" content="noindex">
    </div>
    <!-- Google Analytics -->
    <script type="text/plain" data-cookie-consent="tracking" async
        src="https://www.googletagmanager.com/gtag/js?id=G-6NB4ZPCNB0"></script>
    <script type="text/plain" data-cookie-consent="tracking">
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-6NB4ZPCNB0');
</script>
    <!-- end of Google Analytics-->

    <noscript>Free cookie consent management tool by <a href="https://www.termsfeed.com/">TermsFeed</a></noscript>
    <!-- End Cookie Consent by TermsFeed https://www.TermsFeed.com -->





    <!-- Below is the link that users can use to open Preferences Center to change their preferences. Do not modify the ID parameter. Place it where appropriate, style it as needed. -->



    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -- this is causing an issue with jquery -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />


    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
        <div class="container px-5 d-flex justify-content-between align-items-center">
            <a class="navbar-brand d-flex align-items-center" href="{% if current_user.is_authenticated %}/viewdecks{% else %}/{% endif %}">
                <img src="\static\Cepha-banner-1.png" max-width="120" height="40" alt="logo">
            </a>
    
            {% if current_user.is_authenticated %}
            
            <div class="d-flex">
                <button class="btn-feedback rounded-pill px-3 mb-2 mb-lg-0 me-3 d-none d-md-block" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                    <span class="d-flex align-items-center">
                        <span class="small">Send Feedback</span>
                    </span>
                </button>
    
                <div class="dropdown">
                    <button
                        class="button-initals"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        {{ current_user.first_name[0] | upper }}{% if current_user.last_name %}{{ current_user.last_name[0] | upper }}{% endif %}
                    </button>
                    
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/account">Account info</a>
                        <a class="dropdown-item" href="/upgrade">Upgrade </a>
                        <a class="dropdown-item" href="/my_groups">My groups 🚧</a>
                        <a class="dropdown-item" href="/test_results_overview">My tests 🚧</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Sign out</a>
                        <a class="dropdown-item d-md-none" data-bs-toggle="modal" data-bs-target="#feedbackModal">Send feedback</a>

              
                    </div>
                </div>
            </div>
            {% else %}
             
            <div class="d-flex">
                <button class="btn btn-primary btn-feedback rounded-pill px-3 mb-2 mb-lg-0 me-3" data-bs-toggle="modal" data-bs-target="#loginModal">Sign in</button>
                <!---- NOT NECESSARY ? 
                <a class="nav-link" href="/about">Find out more</a>
                --->
            </div>
            {% endif %}
        </div>
    </nav>






    <main class="main-class">


        <div class="container-md px-2 flex">
            <div class="row">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for msg in messages %}
                <div class="container  align-self-center">
                    <h5 class="flash-message d-flex justify-content-center">{{msg}}</h5>
                    <br>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>

        </div>
        {% block main_0 %}

        {% endblock %}





        <!-- Modal Register -->
        <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-style p-4">
                        <h5 class="modal-title" id="exampleModalLabel" >Register</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div style="text-align:center">
                            <img src="/static/Cephadex-logo-5.png" alt="Avatar" style="width:50%"
                            class="w3-circle w3-margin-top">
                        </div>
                        <div>

                            <div id="g_id_onload"
                                data-client_id="945000040547-5j6598rtn7ikp4n0h4npsrvbkdk0il5u.apps.googleusercontent.com"
                                data-context="signin" data-ux_mode="popup" data-login_uri="/googleSignIn" data-nonce=""
                                data-auto_prompt="false">
                            </div>
                            <div class="g_id_signin d-flex justify-content-center" data-type="standard"
                                data-shape="rectangular" data-theme="outline" data-text="signin_with" data-size="large"
                                data-logo_alignment="left">
                            </div>
                        </div>
                        <!--------
                    
                    ---->
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF REGISTER MODAL-->

        <!-- Feedback Modal-->
        <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header modal-header-style p-4">
                        <h5 class="modal-title font-alt" id="feedbackModalLabel">Send feedback
                        </h5>
                        <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body border-0 p-4">

                        <form id="feedback-form" method="POST" action="{{ url_for('feedback') }}">
                            {{ g.feedback_form.hidden_tag() }}
                        
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                {{ g.feedback_form.name(class_="form-control", placeholder=g.feedback_form.name.label.text, required="required") }}
                                <label for="{{ g.feedback_form.name.id }}">{{ g.feedback_form.name.label.text }}</label>
                                {% for error in g.feedback_form.name.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                {{ g.feedback_form.email(class_="form-control", placeholder=g.feedback_form.email.label.text, required="required") }}
                                <label for="{{ g.feedback_form.email.id }}">{{ g.feedback_form.email.label.text }}</label>
                                {% for error in g.feedback_form.email.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <!-- Feedback type input-->
                            <div class="form-floating mb-3">
                                {{ g.feedback_form.type_feedback(class_="form-control", required="required") }}
                                <label for="{{ g.feedback_form.type_feedback.id }}">{{ g.feedback_form.type_feedback.label.text }}</label>
                                {% for error in g.feedback_form.type_feedback.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                {{ g.feedback_form.message(class_="form-control", placeholder=g.feedback_form.message.label.text, style="height: 10rem", required="required") }}
                                <label for="{{ g.feedback_form.message.id }}">{{ g.feedback_form.message.label.text }}</label>
                                {% for error in g.feedback_form.message.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <!-- Submit button-->
                            <div class="d-grid"><button class="btn btn-primary rounded-pill btn-lg" id="submitButton"
                                    type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal sign in -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-style p-4">
                        <h5 class="modal-title" id="loginModalLabel">Log in</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <img src="/static/Cephadex-logo-5.png" alt="Avatar" style="width:50%"
                                class="w3-circle w3-margin-top">

                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class = "google-signin-btn">
                                <div id="g_id_onload" data-client_id="945000040547-5j6598rtn7ikp4n0h4npsrvbkdk0il5u.apps.googleusercontent.com
                                    " data-context="signin" data-ux_mode="popup" data-login_uri="/googleSignIn"
                                    data-nonce="" data-auto_prompt="false">
                                </div>
                                <div class="g_id_signin d-flex justify-content-center" data-type="standard"
                                    data-shape="rectangular" data-theme="outline" data-text="signin_with" data-size="large"
                                    data-logo_alignment="left">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
        <!------ MODAL CARD COMPLETE NOTIFICATION ------- -->

        {% if current_user.is_authenticated %}

        <div class="modal fade" id="slugModal" tabindex="-1" aria-labelledby="slugModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header modal-header-style p-4">
                        <h5 class="modal-title font-alt" id="slugModalLabel">Deck ready</h5>
                        <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body border-0 p-4">
                        <h4>Your deck is now ready!</h4>
                        <p> Click <a href="/latest_deck"> here</a> to view it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </main>




    <footer class="text-center site-footer pt-2" >

        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Cephadex" role="button"
            target="_blank"><i class="fab fa-facebook-f"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/Cephadex" role="button"
            target="_blank"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://discord.gg/QE3DqykrdD" role="button"
            target="_blank"><i class="fab fa-discord"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/CephadexSocial/" role="button"
            target="_blank"><i class="fab fa-instagram"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/Cephadex/"
            role="button" target="_blank"><i class="fab fa-linkedin-in"></i></a>

        <!---<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>--->


        <p style="color:white"><a class="text-white" href="mailto:support@cephadex.com" target="blank">Email us: support@cephadex.com</a>
        
        <a class="text-white" href="/legal">Legal information</a>
        <a class="text-white" href="/news">News</a>
        <a class="text-white" href="/about">About us</a>
        <a class="text-white" href="/documentation">User guide</a>
        <a class="text-white" href="/pricing">Pricing</a>
        © 2023 Copyright:
        <a class="text-white" href="/">Cephadex</a></p>
        
    </footer>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet" />
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const feedbackForm = document.getElementById("feedback-form");
                const feedbackModal = new bootstrap.Modal(document.getElementById("feedbackModal"));
        
                feedbackForm.addEventListener("submit", function(event) {
                    event.preventDefault(); // prevent form from submitting with a page refresh
        
                    fetch("{{ url_for('feedback') }}", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded",
                        },
                        body: new URLSearchParams(new FormData(feedbackForm)),
                    })
                    .then((response) => response.json())
                    .then((data) => {
                        if (data.status === "success") {
                            feedbackModal.hide(); // hide the modal
                            alert("Thank you for your feedback!"); // display a success message
        
                        } else {
                            // Display form errors
                            let errorHtml = "<div class='alert alert-danger' role='alert'><ul>";
                            data.errors.forEach(function (error) {
                                errorHtml += "<li>" + error + "</li>";
                            });
                            errorHtml += "</ul></div>";
                            document.querySelectorAll(".alert").forEach((alert) => alert.remove());
                            feedbackForm.insertAdjacentHTML("beforebegin", errorHtml);
                        }
                    })
                    .catch((error) => {
                        // Remove existing alerts
                        document.querySelectorAll(".alert").forEach((alert) => alert.remove());
        
                        const alert = document.createElement("div");
                        alert.className = "alert alert-danger";
                        alert.role = "alert";
                        alert.textContent = "An error occurred. Please try again.";
                        feedbackForm.insertAdjacentElement("beforebegin", alert);
                    });
                });
            });
        </script>




    </body>

</html>

