{% extends "layout.html" %} {% block title %} Legal {% endblock %} {% block head
    %}
    
    {% endblock %} {% block main_0 %}
    
    <br>
    <br>
<div class = "container">
<div class = "row">
    <div class = "col-12 text-center">
        <h2 class = "my-4">Legal Information:</h2>
        <p><strong>Cephadex Limited</strong></p>
        <p>Company Number: 739475</p>
        <p>Tax registration: 4144165CH</p>
        <p>Registered Office:</p>
        <address>
            UNIT 4<br>
            First Floor<br>
            84 Strand Street<br>
            Skerries, Dublin<br>
            Ireland
        </address>
        <p>Director: Kevin McCarthy</p>
<p> View our <a href="/terms_and_conditions">Terms and conditions</a></p>
</div>


</div>

</div>

    {% endblock %}