{% extends "layout.html" %} {% block title %} Legal {% endblock %} {% block head
    %}
    
    {% endblock %} {% block main_0 %}
    
<div class = "container">
    <h4> Legal Information: </h4>
<div class = "row">
    <div class = "col-6">
<p> View our <a href="/terms_and_conditions">Terms and conditions</a></p>
</div>
<div class = "col-6">
    <div class="row justify-content-center" style="text-align:center">
   
        <img  class="circle-img" src="static/cephadex-lawyer.png" style="max-height:fit-content; max-width:fit-content;" alt="Cephadex Laywer">
        </div>
</div>

</div>

</div>

    {% endblock %}