{% extends "layout.html" %} {% block title %} Legal {% endblock %} {% block head
    %}
    
    {% endblock %} {% block main_0 %}
    
    <br>
    <br>
<div class = "container">
<div class = "row">
    <div class = "col-6">
        <h2 class = "my-4">Legal Information:</h2>
        <p><strong>Cephadex Limited</strong></p>
        <p>Company Number: 739475</p>
        <p>Tax registration: 4144165CH</p>
        <p>Registered Office:</p>
        <address>
            UNIT 4<br>
            First Floor<br>
            84 Strand Street<br>
            Skerries, Dublin<br>
            Ireland
        </address>
        <p>Director: Kevin McCarthy</p>
<p> View our <a href="/terms_and_conditions">Terms and conditions</a></p>
</div>
<div class = "col-6">
    <div class="row justify-content-center" style="text-align:center">
   
        <img  class="circle-img" src="static/cephadex-lawyer.png" style="max-height:fit-content; max-width:fit-content;" alt="Cephadex Laywer">
        </div>
</div>

</div>

</div>

    {% endblock %}