{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block
main_0 %}

<div class="container mt-5" >
  <div class="col-2"></div>

  <div class="col-8 mx-auto box_0 p-5">
    <form method="POST" action="">
<div class = "row">
        {{ form.hidden_tag() }}
    </div><div class = "row">
        {{ form.username (class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" )}}
        <div class = "row"></div>
        {{ form.password (class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" )}}
        </div><div class = "row">
        {{ form.submit (class="btn btn-primary btn-lg border btn-block p-4 my-2 box_1" )}}
    </div>
    </form>
  </div>
  <div class="col-2"></div>
</div>

{% endblock %}
