{% extends "layout.html" %} {% block title %} News {% endblock %}
{% block main_0 %}



<div class="container p-4 mb-2 box-manager" style="background-color: #efe8ff;">
  <h4>Updates:</h4>


  <div class="row my-2 p-2 box-manager" style="background-color:#f9f9f9;">
    <div class="col-md-4 d-flex justify-content-center align-items-center">

        <div class=" d-flex justify-content-center align-items-center" 
          data-color="black">

          <img size = "width:120px; height:120px" class="circle-img" src="/static/cepha-illu-01.jpg" alt="Illustration">



      </div> </div>
    <div class="col-md-8">

      <br>
      <h4>22/04/2023</h4>
      <h5>Biggest update in a long time! </h5>

      <h6>New features</h6>
      <li>Your role (student, teacher...) is used to customize the data you see as well as the user interface.</li>
      <li>Answer keys are now available for tests/worksheets</li>
      <li>Improved group functionality, add public decks directly to a group or share your own.</li>
      <li>You will now be notified by email when a deck is created, very handy if you have very large files to process</li>


      <h6>Design</h6>
      <li>Revamped a lot of the pages with a dated UI/graphics</li>
      <li>Clicking on a deck will now take you to the deck manager for that deck, where you can find files, assignments and of course cards in that deck</li>
      <li>You can also see child and parent decks in the deck manager, this is a great feature for organizing all your content.</li>
      <li>We have a few more re-designs coming out at the end of this week.  Stay tuned!</li>

      <h6>Bug fixes</h6>
      <li>After some security improvements some bugs popped up in the test creation feature.  Those have now been fixed.</li>
      <li>Fixed a bug with fill in the blank questions</li>
      <li>Fixed a bug with account settings sometimes not saving properly</li>
      <li>We made some big improvements on how audio files get handled.</li>
      <li>There was an issue where some youtube videos were not processable - this is either the owner of the video has made the video captions private, or in rare cases because captions are not availble (more likely in languages other than English).
      We have implemented messaging for when that is the case. </li>

      <h6>Account</h6>
      <li>We have changed the subscription plans to have 3 tiers to better suit the needs of our users.  Basic - Standard - Premium.  Enterprise solutions remain available.</li>
      <li>We implemented a credit system to make usage more transparent.  1 credit corresponds to roughly between 1 and 4 pages of content.
          You can see how many credits each content creation process would take before doing so.
        </li>
    
    </div>
    
   
  </div>
  <div class="row my-2 p-2 box-manager" style="background-color:#f9f9f9;">
  
    <div class="col-md-8">

      <br>
      <h5>02/05/2023</h5>
      <li>New avatar</li>
      <li>Groups are now fully functional.  You can now add and remove members from groups.  You can also add and remove decks from groups.</li>
      <li>Improved security</li>
    </div>
      <div class="col-md-4 d-flex justify-content-center align-items-center">

        <div class=" d-flex justify-content-center align-items-center" 
          data-color="black">

          <img size = "width:120px; height:120px" class="circle-img" src="/static/avatar-octopus.png" alt="New logo">



      </div> </div>
   
  </div>
  <div class="row my-2 p-2 box-manager" style="background-color:#f9f9f9;">
    <div class="col-md-4 d-flex justify-content-center align-items-center">

        <div class=" d-flex justify-content-center align-items-center" 
          data-color="black">

          <img size = "width:120px; height:120px" class="circle-img" src="/static/logo-April.png" alt="New logo">



      </div> </div>
    <div class="col-md-8">

      <br>
      <h5>23/04/2023</h5>
      <li>Cephadex has a new look!  
      </li>
      <li>We are in the progress of revamping the look of the site.  Let us know what you think.  Colors will continue to be worked on.</li>
     <li>The UI has been modified quite a bit.  It should make life easier!  Again feedback is much appreciated</li>
      <li> New logo in the works.  Here is a sneak peak of what the logo is going to look like.</li>
      <li> Groups should be more or less working.  Full functionality is not yet there and it looks a bit rough but feel free to try it out.</li>
    <li>Thanks to everyone who is helping us build this with all their feedback and suggestions.  We couldn't do it without your help!</li>
    
    
    </div>
    
   
  </div>





  <div class="row my-2 p-2 box-manager" style="background-color:#f9f9f9;">
   
    <div class="col-md-12">

      <br>
      <h5>19/04/2023</h5>
      <li> Making an update earlier than planned to fix an anki issue  
      </li>
      <li> Anki decks should export correctly (make sure you have anki and anki connect installed on your PC)  </li>
      <li> We are currently working on a lot of new features, should have groups fully implemented by sometime next week. </li>
      <li> We added a new layout to the deck viewer, you can now toggle and see it as a list.  This is probably better for most users.</li>
      <li> If you aren't happy with a definition, in the deck viewer you can click regenerate and it should provide a much more complete definition.</li>
      <li> Added a progress bar for deck creation.</li>
    <li> Usage limits have not been accurate so they have been revamped.</li>
  <li> Happy studying!</li>  
  </div>
    
   
  </div>
  
  <div class="row my-2 p-2 box-manager" style="background-color:#f9f9f9;">
   
    <div class="col-md-12">

      <br>
      <h5>15/04/2023</h5>
      <li> Started working on some new functionality.  In particular the ability to share decks more easily.  </li>
      <li> There is now a new section called public decks.  If you wish to make your deck public, you can go to edit deck -> edit deck details -> click on public.  </li>
      <li> We will be populating the public deck space with some pre-made ones over the next couple weeks.  If you have created something great, feel free to share!</li>
      <li> We are working on implementing groups/classes/schools so resources can be more easily shared.</li>
      <li> Fixed a few bugs related to creating and assigning tests </li>
      <li> Started adding some more items in the navbar to get ready for new features
      </li>
      <li> With exam season in the northern hemisphere fast approaching we are trying to add specific features for test prep. </li>
      <li> Hope everyone has a lovely weekend! </li>
      
    </div>
    
   
  </div>




  <div class="row my-2 p-2 box-manager" style="background-color:#f9f9f9;">
    <div class="col-md-4 d-flex justify-content-center align-items-center">

        <div class=" d-flex justify-content-center align-items-center" 
          data-color="black">

          <img class="circle-img" src="/static/ceph-socrates.png" alt="Picture of my dog, Baloo">



      </div> </div>
    <div class="col-md-8">

      <br>
      <h5>13/04/2023</h5>
      <li>Lots going on this week behind the scenes!  
      </li>
      <li> We have parntered with a design studio and hired them to re-design the logo + colors... So we should be getting a makeover within the next two weeks!</li>
      <li> Cephadex is (soon to be) officially open for business.  Paperworks have been filed!  </li>
      <li> Some bug fixes, most notably Anki connect now works for importing and exporting decks!  Make sure you have anki and anki connect installed on your PC. </li>
      <li> Some improvements in layouts and colours.  </li>
      <li> Tests/worksheets should be working more smoothly now and also look better when printed.
      </li>
      <li> Thank you again for all your feedback!  If anyone is hitting their usage limits feel free to email us.  We'll increase them for you!</li>
      
    </div>
    
   
  </div>
  <div class="row my-2 p-2 box-manager" style="background-color:#f9f9f9;">
    <div class="col-md-8">

      <br>
      <h5>07/04/2023</h5>
      <li> <strong>New feature: </strong>Now if you are studying a deck and need some more information about a card, or
        don't understand why you got a question wrong you can press the "help" button and our AI tutor will assist you.
      </li>
      <li> Fixed a bug where if you tried to change the time limit for tests it would crash.</li>
      <li> Fixed a bug where tests crashed if you tried sharing with non users.</li>
      <li> Fixed a bug where you couldn't unsubscribe or change your contact preferences.</li>
      <li> Made messages more visible. </li>
      </li>
      <li> We have gotten a lot of feedback on some changes to make the platform more user friendly as well as new
        feature requests. They are all in the works</li>
      <br>
      <h3>Happy Easter!</h3>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">

        <div class=" d-flex justify-content-center align-items-center" 
          data-color="black">

          <img class="circle-img" src="/static/cephadex-easter.png" alt="Easter illustration">


      </div>
    </div>
  </div>
</div>
{% endblock %}