{% extends "layout.html" %} {% block title %} News {% endblock %}
{% block main_0 %}



<div class="container">
  <h4>Updates:</h4>

  
  <div class="row">
   
    <div class="col-md-12">

      <br>
      <h5>15/04/2023</h5>
      <li> A few more changes before the weekend.  
      </li>
      <li> Started working on some new functionality.  In particular the ability to share decks more easily.  </li>
      <li> There is now a new section called public decks.  If you wish to make your deck public, you can go to edit deck -> edit deck details -> click on public.  </li>
      <li> I will be populating the public deck space with some pre-made ones over the next couple weeks.  If you have created something great, feel free to share!</li>
      <li> Working on implementing groups/classes/schools so resources can be more easily shared.</li>
      <li> Fixed a few bugs related to creating and assigning tests (hopefully more don't appear!) </li>
      <li> Started adding some more items in the navbar to get ready for new features
      </li>
      <li> With exam season in the northern hemisphere fast approaching I am trying to add some specific resources for test prep. </li>
      <li> Hope everyone has a lovely weekend! </li>
      
    </div>
    
   
  </div>




  <div class="row">
    <div class="col-md-4 d-flex justify-content-center align-items-center">

        <div class=" d-flex justify-content-center align-items-center" 
          data-color="black">

          <img class="circle-img" src="/static/baloo-field-2.png" alt="Picture of my dog, Baloo">



      </div> </div>
    <div class="col-md-8">

      <br>
      <h5>13/04/2023</h5>
      <li>Lots going on this week behind the scenes!  
      </li>
      <li> I have found a design studio I like and have hired them to re-design the logo + colors... So we should be getting a makeover within the next two weeks!</li>
      <li> Cephadex is (soon to be) officially open for business.  Paperworks have been filed!  </li>
      <li> Some bug fixes, most notably Anki connect now works for importing and exporting decks!  Make sure you have anki and anki connect installed on your PC. </li>
      <li> Some improvements in layouts and colours.  </li>
      <li> Tests/worksheets should be working more smoothly now and also look better when printed.
      </li>
      <li> Still looking to bring on a developer or technical co-founder.  Feel like being a part of something great?  Know someone who would?  Drop me an email at <a class="" href="mailto:support@cephadex.com" target="blank">kevin@cephadex.com</a>  </li>
      <li> Thank you again for all your feedback!  If anyone is hitting their usage limits feel free to email me also.  I'll increase them for you!</li>
      <li> And finally a picture of my dog playing in the field to celebrate the warming weather (for us norther hemisphere folks).</li>
      
    </div>
    
   
  </div>
  <div class="row">
    <div class="col-md-8">

      <br>
      <h5>07/04/2023</h5>
      <li> <strong>New feature: </strong>Now if you are studying a deck and need some more information about a card, or
        don't understand why you got a question wrong you can press the "help" button and our AI tutor will assist you.
      </li>
      <li> Fixed a bug where if you tried to change the time limit for tests it would crash.</li>
      <li> Fixed a bug where tests crashed if you tried sharing with non users.</li>
      <li> Fixed a bug where you couldn't unsubscribe or change your contact preferences.</li>
      <li> Made messages more visible. </li>
      <li> Improved (hopefully) the esthetics. Will make another big revamp of the graphics... by the end of the month
      </li>
      <li> Currently looking for a part time full stack (preferably, otherwise front end) developer. </li>
      <li> I have gotten a lot of feedback on some changes to make the platform more user friendly as well as new
        feature requests. Working on all of them but this will take time (thus the need for another developer!)</li>
      <br>
      <h3>Happy Easter!</h3>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">

        <div class=" d-flex justify-content-center align-items-center" 
          data-color="black">

          <img class="circle-img" src="/static/cephadex-easter.png" alt="Easter illustration">


      </div>
    </div>
  </div>
</div>
{% endblock %}