{% extends "layout.html" %} {% block title %} Welcome {% endblock %}
{% block head %}
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
{% endblock %}
{% block main_0 %}


<div class = "container">
    <!----
<section class="jumbotron text-center mb-0">
    <h1 class="display-4">Get Premium for Free!</h1>
    <p class="lead">Help us test our new premium features and get full access for free!</p>
    <hr class="my-4">
    <p>Contact us to learn more.</p>
    <a class="btn btn-primary btn-lg" href="mailto:support@cephadex.com" role="button">Contact Us</a>
</section>------>
<section class="pricing-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mt-2">
                <div class="card mb-4 shadow-sm h-100">
                    <div class="card-header text-white modal-header-style">
                        <h4 class="my-0 fw-normal">Free</h4>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h1 class="card-title pricing-card-title">Free <small class="text-muted"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><i class="bi bi-check text-success"></i> Process over 50 pages per month*</li>
                            <li><i class="bi bi-check text-success"></i> Create decks, tests and worksheets (limited)</li>
                            <li><i class="bi bi-check text-success"></i> Spaced repetition study system</li>
                            <li><i class="bi bi-check text-success"></i> Export cards and questions as a CSV file
                            </li>
                            <li><i class="bi bi-check text-success"></i> Export cards and questions to Anki
                            </li>
                            <li><i class="bi bi-check text-success"></i> Create a wide variety of formats from definitions to multiplce choice to custom cards</li>
                            <li><i class="bi bi-check text-success"></i> Support for PDFs, PPTs, DOC, TXT</li>
                            <li><i class="bi bi-check text-success"></i> Extract from wikipedia and youtube links</li>
                            <li><i class="bi bi-check text-success"></i> Supports over 30 languages</li>
                            <li><i class="bi bi-check text-success"></i> Transcribe and summarize</li>
                            <li><i class="bi bi-check text-success"></i> Share decks with friends</li>
                            <li><i class="bi bi-check text-success"></i> Take tests assigned to you</li>
                            <li><i class="bi bi-check text-success"></i> Track your progress with study analytics</li>
                            <li><i class="bi bi-check text-success"></i> Import from Anki</li>
                            <li><i class="bi bi-check text-success"></i> Join and create groups (limited)</li>
                            <li><i class="bi bi-check text-success"></i> Access to public decks</li>



                        </ul>
                        <button type="button" style="position:relative; bottom:0"
                            class="w-100 btn btn-lg btn-outline-primary mt-auto" data-bs-toggle="modal"
                            data-bs-target="#registerModal">Sign up for free</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-2">
                <div class="card mb-4 shadow-sm h-100">
                    <div class="card-header text-white modal-header-style">
                        <h4 class="my-0 fw-normal">Basic</h4>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h1 class="card-title pricing-card-title">$8.49 <small class="text-muted">/ mo</small></h1>
                        <h6 class="card-subtitle mb-2 text-muted"><del>$9.99 / mo</del></h6>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><i class="bi bi-check text-success"></i> All basic features</li>
                            <li><i class="bi bi-check text-success"></i> Process over 1000 pages per month*</li>
                            <li><i class="bi bi-check text-success"></i> Full Anki integration</li>
                            <li><i class="bi bi-check text-success"></i> Supports audio formats (.wav and .mp3)</li>
                            <li><i class="bi bi-check text-success"></i> No ads</li>

                            <li><i class="bi bi-check text-success"></i> Assign tests to your students</li>
                            <li><i class="bi bi-check text-success"></i> Access to, Ceph, our AI tutor</li>
                            <li><i class="bi bi-check text-success"></i> Auto grade assigned tests</li>
                            <li><i class="bi bi-check text-success"></i> Create up to 5 groups</li>
                            <li><i class="bi bi-check text-success"></i> Regenerate individual cards at will</li>
                            <li><i class="bi bi-check text-success"></i> Create and study with custom made games (coming soon)</li>

                        </ul>
                        <a type="button" style="position:relative; bottom:0"
                        class="w-100 btn btn-lg btn-outline-primary mt-auto" href="/upgrade">Get started</a>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-2">
                <div class="card mb-4 shadow-sm h-100">
                    <div class="card-header text-white modal-header-style">
                        <h4 class="my-0 fw-normal">Premium</h4>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h1 class="card-title pricing-card-title">$16.99 <small class="text-muted">/ mo</small></h1>
                        <h6 class="card-subtitle mb-2 text-muted"><del>$19.99 / mo</del></h6>

                        <ul class="list-unstyled mt-3 mb-4">
                            <li><i class="bi bi-check text-success"></i> All standard features</li>
                            <li><i class="bi bi-check text-success"></i> Process up to 3000 pages per month*</li>
                            <li><i class="bi bi-check text-success"></i> Create an unlimited amount of groups</li>
                            <br>
                            <h5>Coming soon:</h5>
                            <li><i class="bi bi-check text-success"></i> Create custom exercises based upon your
                                knowledge base</li>
                            <li><i class = "bi bi-check text-success"></i>Generate images for your cards</li>
                            <li><i class="bi bi-check text-success"></i> Create tests and worksheets specific for A
                                level, IB or AP curriculums </li>
                            <li><i class="bi bi-check text-success"></i> Create custom work for your students based upon their existing knowledge base, strengths and weaknesses</li>
                            <li><i class="bi bi-check text-success"></i> Gradebooks </li>
                            <li><i class="bi bi-check text-success"></i> Project management and feedback tools</li>

                            <li><i class="bi bi-check text-success"></i> Track your students performance</li>
                            <li><i class="bi bi-check text-success"></i> Create and assign games for your students
                            </li>
                            <li><i class="bi bi-check text-success"></i> Ability to top up your credit if you reach your limit
                            </li>


                        </ul>
                        <a type="button" style="position:relative; bottom:0"
                            class="w-100 btn btn-lg btn-outline-primary mt-auto" href="/upgrade">Get started</a>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-2">


                <div class="card mb-4 shadow-sm h-100">
                    <div class="card-header text-white modal-header-style">
                        <h4 class="my-0 fw-normal">Enterprise</h4>
                    </div>
                    <div class="card-body d-flex flex-column">

                        <h1 class="card-title pricing-card-title">Custom:
                            <small class="text-muted"></small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><i class="bi bi-check text-success"></i> All premium features</li>
                            <li><i class="bi bi-check text-success"></i> Customized tutor chat bots</li>
                            <li><i class="bi bi-check text-success"></i> Customized inquiry bots based upon your
                                specific organization</li>
                            <li><i class="bi bi-check text-success"></i> Gradebook management</li>
                            <li><i class="bi bi-check text-success"></i> Student analytics and reports</li>
                            <li><i class="bi bi-check text-success"></i> ...</li>


                        </ul>
                        <a type="button" style="position:relative; bottom:0"
                            class="w-100 btn btn-lg btn-outline-primary mt-auto"
                            href="mailto:support@cephadex.com" target="blank">Contact us</a>

                    </div>
                </div>
            </div>
        </div>
<p><i> * one page corresponds to between 500 and 600 English words.</i></p>
</section>

</div>

{% endblock %}