{% extends "layout.html" %} {% block title %} Cephadex {% endblock %} {% block
main_0 %}
<div class="container-md mt-5">
 

    <h2>Privacy Policy for Cephadex</h2>

    <p>At Cephadex, we take the privacy of our users very seriously. This privacy policy explains how we collect, use,
        and protect personal information.</p>

    <h4>What information do we collect?</h4>
      <p>  We collect personal information such as name, and email address when you register on our site or fill out a
        form. We may also collect information about your computer or device, including your IP address and browser type.</p>

        <h4> How do we use your information?</h4>
      <p>  We use the information we collect to provide and improve our services, to send you important updates and
        information about our services, and to respond to your inquiries and requests. We may also use your information
        to detect and prevent fraud, spam, or other abuse of our services.</p>

        <h4> How do we protect your information?</h4> 
       <p> We take appropriate measures to protect your personal information from unauthorized access, disclosure,
        alteration, and destruction. We use industry-standard security technologies to protect the confidentiality and
        integrity of your personal information.</p>

        <h4> Do we share your information with third parties?</h4> 
       <p> We do not share your personal information with third parties except as necessary to provide our services or as
        required by law. We may share your information with our service providers and partners who assist us in
        providing our services.</p>

        <h4>    What are your choices?</h4> 
    <p>You have the right to request access, correction, or deletion of your personal information that we hold. You may
        also opt-out of receiving promotional communications from us by following the instructions in those
        communications.</p>

        <h4>   Changes to this Privacy Policy</h4>  
    <p>We may update this privacy policy from time to time. If we make material changes to this policy, we will notify
        you by email or by posting a notice on our site.</p>

    <p>If you have any questions or concerns about this privacy policy, please contact us at [insert contact
        information].</p>

    {% endblock %}