{% extends "layout.html" %}

{% block title %} View Decks {% endblock %}




{% block main_0 %}


<!----<div class="row m-2" style="text-align: end">
    <a href="/test_results_overview" class="mx-2 ">
      <img src="\static\tester-icon.png" alt="Tests" style="max-width:30px;max-height:30px;" class="px-1" title="Tests">
    </a>
 </div> ---->
<div class="m-2">
  <div class="col-10-md box_0  p-3">
    <div class="row">
      <div class="col-6 d-flex justify-content-center align-items-center">
        <h2> Public Decks</h2>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <form action="{{ url_for('public_decks') }}" method="post">
          {{ form.csrf_token }}
          <div class="row justify-content-end">
              <div class="row">
                  <div class="input-group mb-3 floating-form" style="max-width:400px">
                      {{ form.search(class_="form-control", placeholder="Search decks by name") }}
                      <button type="submit" class="btn btn-primary text-center mx-auto">Search</button>
                  </div>
              </div>
              <div class="row">
                  <div class="form-floating" id="sort-form" style="max-width:400px">
                      {{ form.sort(class_="form-select my-1 mr-sm-2", onchange="this.form.submit();") }}
                  </div>
              </div>
          </div>
      </form>
      </div>
    </div>
    <table class="table table_0 mobile-optimised">

      <table class="table table_0 mobile-optimised">

        <thead>
          <tr >
            <th >Name</th>
            <th>Description</th>
            <th>Cards</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          {% for deck in decks%}

          <tr id = "deck-{{deck.id}}" class="view-row"  onclick="window.location.href='public_cards/{{deck.id}}';"
          onmouseover="this.style.backgroundColor='#efe8ff'; this.style.cursor='pointer';"
          onmouseout="this.style.backgroundColor='';;this.style.color= ''" >
            <td class="ml-2" data-th="Name">
              <form action="" method="post">
                <input type="hidden" name="deck_id" value="{{ deck.id }}">
                <h6 >{{ deck.name }}</h6>
              </form>
            </td>
            <td data-th="Description" ><p >{{ deck.description }}</p></td>
            <td data-th="Cards"> <p >{{ deck.quantity_cards() }}</p> </td>
            <td class = " justify-content-center">

              <a onclick="importPublicDeck('{{deck.id}}')" class="mx-2"
                style="cursor: pointer; text-decoration: none;"><img src="\static\save-icon.png"
                  alt="Save to my decks" style="max-width:40px;max-height:40px; text-decoration: none;" class="px-1 img-grow"
                  title="Save to my decks">
              </a>

              <!-------- SEE SOURCE DOCS ---->

              <!----- DECK DETAILS ------>
              <a data-bs-toggle="modal" data-bs-target="#infoDecksModal{{deck.id}}" class="mx-2"
                style="cursor: pointer; text-decoration: none;">
                <img src="\static\info-icon.png" alt="Info"
                  style="max-width:40px;max-height:40px; text-decoration: none;" class="px-1 img-grow" title="Info">
              </a>
              <a target="_blank" href="public_cards/{{deck.id}}"> <img src="\static\cards-icon.png" alt="Info"
                  style="max-width:40px;max-height:40px; text-decoration: none;" class="px-1 img-grow" title="Info"></a>

            </td>
  </div>

</div>
</div>
</div>
</td>
</tr>
<div class="modal fade" id="infoDecksModal{{deck.id}}" tabindex="-1" aria-labelledby="#infoDecksModalLabel{{deck.id}}"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-header-style p-4">
        <h5 class="modal-title" id="infoDecksModalLabel{{deck.id}}">Deck details:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row box_study mt-1">
          <li class="list-group-item">Deck name:
            <h5>{{deck.name}}</h5>
          </li>
          <li class="list-group-item">Deck description:
            <h5>{{deck.description}}</h5>
          </li>
          <li class="list-group-item">Subject:
            <h5>{{deck.subject}}</h5>
          </li>
          <li class="list-group-item">Deck topic:
            <h5>{{deck.topic}}</h5>
          </li>
          <li class="list-group-item">Date created:
            <h5>{{deck.time_created}}</h5>
          </li>
          <div class="row d-flex justify-content-center">
            <h5> <a target="_blank" href="public_cards/{{deck.id}}"> View cards</a> </h5>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endfor %}
</tbody>
</table>

</div>
<!----- SHARE DECK MODAL -->

</div>
</div>
<script>
  function importPublicDeck(deckId) {
    event.preventDefault();
    $.ajax({
      type: "GET",
      url: "/import_public_deck/" + deckId,
      success: function () {
        // Refresh the content of the modal
        console.log("Importing public deck")
        alert('Succesfully imported public deck, you can now find it in My Decks ')
      }
    });
  }

</script>


{% endblock %}