{% extends "layout.html" %}

{% block title %} Register {% endblock %}


{% block main_0 %}
<div class="d-flex justify-content-center">

<div class="col-md-6">
<form method="POST" action="">


    <ul>{{ form.hidden_tag()}}</ul>
    <ul>{{ form.first_name (class="w-50 p-3" )}}</ul>
    <ul>{{ form.last_name (class="w-50 p-3" )}} </ul> 
    <ul>{{ form.username (class="w-50 p-3" )}}</ul>
    <ul>{{ form.password (class="w-50 p-3" )}}</ul>
    <ul>{{ form.conf_password (class="w-50 p-3" ) }}</ul>
    <ul>{{ form.email (class="w-50 p-3" )}} </ul>
    <ul>{{ form.conf_email (class="w-50 p-3" )}}</ul>

    <ul>{{ form.submit (class="w-50 p-3" )}}</ul>
</form>
</div>
</div>

<div>
<ul> {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
</ul>
</div>

{% endblock %}