{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block head
%}

{% endblock %} {% block main_0 %}

<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 d-flex justify-content-center ">

            <img class="circle-img" src="/static/ceph-register.png" alt="Your Image Description">

        </div>




    <div class="col-md-6 order-md-1">
        <form novalidate method="post" action="{{ url_for('register') }}">

            <div class="form-group mt-1">
                <div class="row">
                    <h1>Almost there!</h1>
                </div>
                <div class="form-floating mt-1">


                    <input class="form-control" type="text" name="username" id="username" placeholder="EasyLearning2023"
                        required>
                    <label for="name">Username:</label>
                    <div style="color:red" id="username-error"></div>
                </div>
                <div class="form-floating mt-2">
                    {{ form.timezone(class="form-select", id="timezone", required=True) }}



                </div>


                <div class="form-floating mt-1">

                    <select class="form-select" name="role" id="role" placeholder="Choose role" required>
                        <option value="" disabled selected>Choose role</option>"
                        <option value="school-administrator">School Administrator</option>
                        <option value="teacher">Teacher</option>
                        <option value="student">Student</option>
                        <option value="part-time-student">Part-Time Student</option>
                        <option value="lifelong-learner">Lifelong Learner</option>
                        <option value="parent-guardian">Parent/Guardian</option>
                        <option value="homeschooling-parent">Homeschooling Parent</option>
                        <option value="tutor">Tutor</option>
                        <option value="curriculum-developer">Curriculum Developer</option>
                        <option value="educational-researcher">Educational Researcher</option>
                        <option value="educational-consultant">Educational Consultant</option>
                        <option value="instructional-designer">Instructional Designer</option>
                        <option value="academic-advisor">Academic Advisor</option>
                        <option value="admissions-counselor">Admissions Counselor</option>
                        <option value="school-counselor">School Counselor</option>
                        <option value="librarian">Librarian</option>
                        <option value="it-administrator">IT Administrator</option>
                        <option value="education-technology-specialist">Education Technology Specialist</option>
                        <option value="education-policy-maker">Education Policy Maker</option>
                        <option value="education-advocate-activist">Education Advocate/Activist</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="role">Role:</label>
                </div>
               <!--<div class="form-floating mt-1">


                    <input class="form-control" type="text" name="betakey" id="betakey" placeholder=""
                        oninput="showBetaAgreement()">
                    <label for="name">Beta Key:</label>
                </div>--> 
                <div class="form-group mt-1">
                    <input class="" type="checkbox" value="contacted" name="contacted" id="contacted">

                    <label class="form-check-label" for="contacted">I agree to be contacted</label>
                </div>
                <div class="form-group mt-1">
                    <input class="" type="checkbox" value="subscribe" name="subscribe" id="subscribe">

                    <label class="form-check-label" for="subscribe">Join our mailing list</label>
                </div>
                <div class="form-group mt-1">
                    <input class="" type="checkbox" value="tos" name="tos" id="tos" required>

                    <label class="form-check-label" for="tos">I agree to the <a style="text-decoration: underline"
                            data-bs-toggle="modal" data-bs-target="#tcModal">terms
                            and conditions</a>?</label>
                </div>
              <div class="form-group mt-1" id="beta-group" style="display:none">
                    <input class="form-check-input" type="checkbox" value="beta-agree" name="beta-agree" id="beta-agree" ">

                        <label class=" form-check-label" for="tos">I agree to the <a style="text-decoration: underline"
                        data-bs-toggle="modal" data-bs-target="#betaModal">beta agreement</a>?</label>
                </div>
                <div class="form-group mt-1">
                    <input class="btn btn-primary" id="register-btn" type="submit" value="Register">
                </div>
        </form>
    </div>
</div>



</div>


</div>

<script>
    function showBetaAgreement() {
        var betaKey = document.getElementById("betakey").value;
        var betaCheckbox = document.getElementById("beta-agree");
        var betaGroup = document.getElementById("beta-group");

        if (betaKey.length > 0) {
            betaGroup.style.display = "block";
            betaCheckbox.required = true;
        } else {
            betaGroup.style.display = "none";
            betaCheckbox.required = false;
        }
    }
</script>
<!---- BETA AGREEMENT MODAL ---->
<div class="modal fade" id="betaModal" tabindex="-1" aria-labelledby="betaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-gradient-primary-to-secondary p-4">
                <h5 class="modal-title" id="betaModalLabel">Terms and conditions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <h1>Beta Tester Agreement</h1>

                <p>Welcome to the Cephadex Beta Testing program!</p>

                <h2>Purpose and Goals</h2>

                <p>The purpose of this Beta Testing program is to improve the quality and usability of Cephadex's
                    products and
                    services. By participating in this program, you agree to help us achieve this goal by providing
                    feedback and
                    reporting any issues or bugs you may encounter.</p>

                <h2>Termination</h2>

                <p>You may revoke your participation and delete your account at any time. We reserve the right to
                    terminate your
                    participation in the Beta Testing program at any time, for any reason, without notice.</p>

                <h2>Data Collection and Privacy</h2>

                <p>We will collect and track your usage activity on our website for the purposes of improving our
                    product. Your
                    personal information will be kept confidential in accordance with our privacy policy.</p>

                <h2>Bugs and Feature Requests</h2>

                <p>We encourage you to report any bugs or issues you encounter during the Beta Testing program, as well
                    as any
                    feature requests or suggestions you may have. Your feedback is valuable to us and will help shape
                    the future of
                    our product.</p>

                <h2>AI Responses</h2>

                <p>Please understand that AI can give back unpredictable responses and Cephadex will not be held
                    responsible for any
                    content created using our product or service.</p>

                <h2>Special Rate</h2>

                <p>As a participant in our beta test we promise to reward you by offering our lowest possible rate (at
                    cost) for life. </p>

                <p>Thank you for joining us on this journey! We're excited to have you on board.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!----- TERMS AND CONDITIONS MODAL ----->
<div class="modal fade" id="tcModal" tabindex="-1" aria-labelledby="tcModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-gradient-primary-to-secondary p-4">
                <h5 class="modal-title" id="tcModalLabel">Terms and conditions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Welcome to Cephadex, an educational platform where you can create, share, and study educational
                    content. These terms and conditions govern your use of the Cephadex website, mobile application, and
                    any related services (collectively, the "Services"). By accessing or using the Services, you agree
                    to be bound by these terms and conditions.</p>

                <h5>1-Your Use of the Services</h5>
                <p>a. Eligibility: You must be at least 13 years old to use the Services. If you are under 18, you may
                    only use the Services with the involvement of a parent or guardian.</p>
                <p>b. User Accounts: To access some features of the Services, you may be required to create an account.
                    You must provide accurate and complete information when creating your account, and you are
                    responsible for keeping your login information confidential. You are also responsible for all
                    activities that occur under your account.</p>

                <p>c. User Content: You may create, upload, or share educational content on the Services. You retain all
                    rights to any intellectual property rights that you hold in that content. By uploading or sharing
                    content on the Services, you grant Cephadex a non-exclusive, transferable, sub-licensable,
                    royalty-free, and worldwide license to use, store, display, reproduce, modify, and distribute your
                    content in connection with the operation of the Services.</p>

                <p>d. Prohibited Activities: You may not use the Services for any illegal or unauthorized purpose. You
                    may not post or share any content that is false, misleading, defamatory, or infringes on any
                    intellectual property rights. Cephadex reserves the right to remove any content that violates these
                    terms and conditions.</p>

                <h5>2-Disclaimer of Warranties</h5>
                <p>The Services are provided on an "as is" and "as available" basis, and Cephadex makes no
                    representations or warranties of any kind, express or implied, as to the operation of the Services
                    or the information, content, materials, or products included on the Services.</p>

                <h5>3-Limitation of Liability</h5>
                <p>To the fullest extent permitted by applicable law, Cephadex will not be liable for any damages of any
                    kind arising from the use of the Services, including, but not limited to, direct, indirect,
                    incidental, punitive, and consequential damages.</p>

                <h5>4-Indemnification</h5>
                <p>You agree to indemnify, defend, and hold harmless Cephadex and its affiliates, officers, directors,
                    employees, agents, and licensors from any claim or demand, including reasonable attorneys' fees,
                    made by any third party due to or arising out of your use of the Services, your violation of these
                    terms and conditions, or your violation of any rights of another.</p>

                <h5>5-Termination</h5>
                <p>Cephadex may terminate your access to the Services at any time, with or without cause, without
                    notice,
                    and without liability to you.</p>

                <h5>6-Modifications</h5>
                <p>Cephadex may revise these terms and conditions at any time without notice. By using the Services, you
                    are agreeing to be bound by the then-current version of these terms and conditions.</p>

                <h5>7-Governing Law and Dispute Resolution</h5>
                <p>These terms and conditions are governed by and construed in accordance with the laws of the European
                    Union. Any dispute arising under these terms and conditions shall be resolved exclusively by the
                    courts of the European Union, and you agree to submit to the personal jurisdiction of those courts
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#username').on('input', function () {
            var username = $('#username').val();
            var registerBtn = $('#register-btn');
            console.log(username)
            $.ajax({
                url: '/check_username/' + username,
                success: function (data) {
                    if (data.username_taken) {
                        $('#username-error').html('Username is already taken');
                    } else {
                        $('#username-error').html('');
                    }
                }
            });
        });
    });


    const form = document.querySelector("form")


    form.addEventListener('submit', e => {
        if (!form.checkValidity()) {
            e.preventDefault()
        }
        form.classList.add('was-validated')
    })


</script>





{% endblock %}