{% set q_counter = 0 %}
{% extends "layout.html" %}





{% block title %}  Choose a Deck to Study {% endblock %}

{% block main_0 %}


<div class="container p-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center my-5 hcepha1">Choose a Deck to Study</h1>
            <div class="text-center my-4">
                {% if decks %}
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.deck(class="form-select") }}
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Study" class="btn-generate">
                    </div>
                </form>
                {% else %}
                <div class="alert alert-warning mt-4 mx-auto" role="alert" style="max-width: 400px;">
                    You don't have any decks. <a href="{{ url_for('extract') }}" class="alert-link">Create a deck</a> first.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %} 

