{% extends "layout.html" %} {% block title %} Studying with Spaced Repetition and our AI Tutor {% endblock %} {% block head
%}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>
  var jq = $.noConflict();

  jq(document).ready(function () {
    var cardList;
    var currentCard;
    var currentCardIndex = 0;
    var deckId = "{{ deck }}";
    var cardStack = [];
    var cardsDue;
    var lastTapTime = 0;
    var mcq_guess_counter = 0;

    // Load Deck due cards on load page 
    jq.ajax({
      type: 'GET',
      url: '/get-due-cards/' + deckId,
      dataType: 'json',
      success: function (data) {
        cardList = data;
        if (cardList === null || cardList === undefined) {
          jq("#force-study").show();
          jq("#contain-main").hide();
          jq('#no-cards').show();

        }
        else {
          cardList = cardList.sort(compareRandom)
          currentCard = cardList[currentCardIndex];
          cardsDue = cardList.length - currentCardIndex;
          mcqChecker();
          LoadRandomMcq();
          mcqCorrectAnswerSetter();
          setCardData(currentCard, cardsDue);
          jq("#force-study").hide();

        }
      },
    });
    document.addEventListener('touchend', function (event) {
      var currentTime = new Date().getTime();
      var tapLength = currentTime - lastTapTime;
      if (tapLength < 200 && tapLength > 0) {
        // Double tap
        event.preventDefault();
        //wait 1000ms before loading next card

        loadNextCardOnCategory();
      }
      lastTapTime = currentTime;
    });

    jq(document).on('dblclick', function () {
      loadNextCardOnCategory()
    });

    jq('#forgot-btn').click(function () {
      jq('#forgot-btn').addClass("selected");
      jq('#remember-btn').removeClass("selected");
      jq('#card-extra-content').show();
    });
    jq('#remember-btn').click(function () {
      jq('#remember-btn').addClass("selected");
      jq('#forgot-btn').removeClass("selected");
      jq('#card-extra-content').show();
    });
    jq('#next-btn').on('click', function () {
      loadNextCard();
      mcqLoadNextCard();
    });
    jq('#force-study').on('click', function () {
      alert("You are entering casual mode, viewing the cards will not count towards your review!")
      return;
    });
    jq('#prev-btn').on('click', function () {
      // Call the function to load the previous card
      loadPreviousCard();
    });
    jq('#A-btn, #B-btn, #C-btn, #D-btn').click(function () {
      selectButton(jq(this));
    });
    //touch swipe functionality
    var touchStartX = null;
    var touchStartY = null;
    jq(document.body).on('touchstart', function (event) {
      // disable default touch action
      touchStartX = event.changedTouches[0].clientX;
      touchStartY = event.changedTouches[0].clientY;
    });
    jq(document.body).on('touchend', function (event) {
      var touchEndX = event.changedTouches[0].clientX;
      var touchEndY = event.changedTouches[0].clientY;
      var touchDiffX = touchStartX - touchEndX;
      var touchDiffY = touchStartY - touchEndY;
      var touchDiffRatio = touchDiffY / touchDiffX;
      var swipes = 0;
      if (touchDiffRatio >= -1 && touchDiffRatio <= 1) { // Horizontal swipe
        if (currentCard.category != "Mcq") {
          if (touchDiffX > 0) { // Swipe left
            if (jq('#forgot-btn').hasClass('selected')) {
              loadNextCard();
            }
            else if (jq('#remember-btn').hasClass('selected')) {
              jq('#remember-btn').removeClass('selected');
              jq('#forgot-btn').addClass('selected');
              loadNextCard();
            }
            else {
              jq('#forgot-btn').addClass('selected');
              jq('#card-extra-content').show();
            }
          }
          else { // Swipe right

            if (jq('#remember-btn').hasClass('selected')) {
              loadNextCard();
            }
            else if (jq('#forgot-btn').hasClass('selected')) {
              jq('#forgot-btn').removeClass('selected');
              jq('#remember-btn').addClass('selected');
              loadNextCard();
            }
            else {
              jq('#remember-btn').addClass('selected');
              jq('#card-extra-content').show();
            }
          }
        }
      }
      else if (touchDiffRatio < -1 || touchDiffRatio > 1) { // Vertical swipe
        // implement swipe functionality for MCQ cards
        if (currentCard.category == "Mcq") {
          // if swipe up load next card
          if (touchDiffY < 0) { // Swipe down
            if (jq('#A-btn, #B-btn, #C-btn, #D-btn').hasClass('selected')) {
              loadNextCard();
            }
          }
          else if (touchDiffy > 0) { // Swipe up
          }
        }

      }
    });
    // FUNCTIONS
    function loadNextCardOnCategory() {
      if (currentCard.category == 'Mcq') {
        mcqLoadNextCard();
      }
      else {
        loadNextCard();      
            }
    }
    //load next card
    function loadNextCard() {
      cardStack.push(currentCard)
      var card_id = currentCard.id;
      var csrf_token = jq("input[name='csrf_token']").val();
      if (currentCard.category != "Mcq") {
        if (jq('#remember-btn').hasClass('selected')) {
          incrementCard(csrf_token, card_id);
        }
        else if (jq('#forgot-btn').hasClass('selected')) {
          decrementCard(csrf_token, card_id);
        }
        else {
        }
        jq('A-btn').removeClass('selected');
        jq('B-btn').removeClass('selected');
        jq('C-btn').removeClass('selected');
        jq('D-btn').removeClass('selected');
        jq('#remember-btn').removeClass("selected");
        jq('#forgot-btn').removeClass("selected");
        jq('#card-extra-content').hide();
        cardList.splice(currentCardIndex, 1); // remove the current card from list
        currentCardIndex = (currentCardIndex + 1) % cardList.length; // move to the next card
        if (cardList.length === 0) {
          location.reload(true);
          cardsDue = cardList.length;
          //$$BUG jq("#force-study").show();
          jq("#contain-main").hide();
          jq('#cards-due').html(cardsDue);
          return;
        }
        else {
          currentCard = cardList[currentCardIndex];
          cardsDue = cardList.length;
          mcqChecker();
          updateValues()
          setCardData(currentCard, cardsDue);
          LoadRandomMcq();
          mcqCorrectAnswerSetter();
        }
      }
      else if (currentCard.category == "Mcq") {
        
        // if button a b c or d has class correct then increment the card
      }
    }
    function loadPreviousCard() {
      // Pop the top card from the stack to go back to the previous card
      if (cardStack.length == 0) {
        alert("No previous cards");
      }
      var previousCard = cardStack.pop();
      if (previousCard) {
        // If there is a previous card on the stack, switch to it
        currentCard = previousCard;
        // add that card to cardList and sort it
        //cardList.push(previousCard);
        // Add the current card back to the list and re-sort the list
        cardList.push(currentCard);
        cardList.sort(function (a, b) {
          return a.due_date - b.due_date;
        });
        currentCardIndex = cardList.indexOf(currentCard);
        cardsDue = cardList.length;

        // Update the card content on the page
        setCardData(currentCard, cardsDue);
        updateValues();
      }
    }
    // takes a list of cards and randomly displays each in A-btn, B-btn, C-btn, D-btn
    function LoadRandomMcq() {
      var randomMcq = [currentCard.boc_2, currentCard.boc_3, currentCard.boc_4, currentCard.content];
      randomMcq.sort(function () {
        return 0.5 - Math.random();
      });
      jq('#A-btn').html(randomMcq[0]);
      jq('#B-btn').html(randomMcq[1]);
      jq('#C-btn').html(randomMcq[2]);
      jq('#D-btn').html(randomMcq[3]);
    }
    // mcqChecker function
    function mcqChecker() {
      if (currentCard.category == "Mcq") {
        jq('#mcq').show();
        jq('.n-mcq').hide();
      }
      else {
        jq('#mcq').hide();
        jq('.n-mcq').show();
      }
    }
    // mcq correct answer setter
    function mcqCorrectAnswerSetter() {
      y = currentCard.content;
      var answerButtons = ['#A-btn', '#B-btn', '#C-btn', '#D-btn'];
      jq('#A-btn, #B-btn, #C-btn, #D-btn')
        .removeClass('correct-mcq')
        .removeClass('incorrect-mcq')
        .removeClass('selected')
        .removeClass('correct-selected')
        .removeClass('incorrect-selected');
      for (var i = 0; i < answerButtons.length; i++) {
        if (jq(answerButtons[i]).text() == y) {
          jq(answerButtons[i]).addClass('correct-mcq');
        } else {
          jq(answerButtons[i]).addClass('incorrect-mcq');
        }
      }
    }
    // Sets the data for the card and cardsDue
    function setCardData(cardData, cardsDue) {
      console.log("Setting card data")
      var formula = cardData.formula;
      formula = '\\[' + formula + '\\]';
      jq('#card-term').html(currentCard.term);
      jq('#card-id').html(currentCard.id);
      console.log(currentCard.id);
      jq('#card-content').html(currentCard.content);
      if (currentCard.category == "Formulas") {
        jq('#card-formula').html(formula);
        MathJax.typeset();
      }
      jq('#card-boc_2').html(currentCard.boc_2);
      jq('#card-boc_3').html(currentCard.boc_3);
      jq('#card-boc_4').html(currentCard.boc_4);
      jq('#cards-due').html(cardsDue);
    }
    // API
    function incrementCard(csrf_token, card_id) {
      jq.ajax({
        type: 'POST',
        url: '/increment/' + card_id,
        contentType: 'application/x-www-form-urlencoded',
        headers: { 'X-CSRFToken': csrf_token },
        success: function (response) {
        }
      });
    }

    function decrementCard(csrf_token, card_id) {
      jq.ajax({
        type: 'POST',
        url: '/decrement/' + card_id,
        contentType: 'application/x-www-form-urlencoded',
        headers: { 'X-CSRFToken': csrf_token },
        success: function (response) {
        }
      });
    }
    // change 
    function mcqCorrectAnswerChecker() {
      var cardId = jq('#card-id').text();
      console.log("mcqCorrectAnswerChecker")
      console.log(cardId)
      var csrf_token = jq("input[name='csrf_token']").val();
      var answerButtons = ['#A-btn', '#B-btn', '#C-btn', '#D-btn'];
      for (var i = 0; i < answerButtons.length; i++) {
        if (jq(answerButtons[i]).hasClass('correct-mcq') && jq(answerButtons[i]).hasClass('selected')) {
          incrementCard(csrf_token, cardId);
        }
        else if (jq(answerButtons[i]).hasClass('incorrect-mcq') && jq(answerButtons[i]).hasClass('selected')) {
          decrementCard(csrf_token, cardId);
        }
      }
    }
    function selectButton(button) {
      if (button.hasClass('selected')) {
        button.removeClass('selected');
      }
      else {
        button.addClass('selected');
        if (mcq_guess_counter == 0) {
          revealCorrectMcq();
          mcqCorrectAnswerChecker();
        }
        mcq_guess_counter += 1;
        jq('#A-btn, #B-btn, #C-btn, #D-btn').not(button).removeClass('selected');
      }
    }
    function revealCorrectMcq() {
      var answerButtons = ['#A-btn', '#B-btn', '#C-btn', '#D-btn'];
      for (var i = 0; i < answerButtons.length; i++) {
        if (jq(answerButtons[i]).hasClass('correct-mcq')) {
          jq(answerButtons[i]).addClass('correct-selected');
        }
        else {
          jq(answerButtons[i]).addClass('incorrect-selected');
        }
      }
    }
    function hideCorrectMcq() {
      var answerButtons = ['#A-btn', '#B-btn', '#C-btn', '#D-btn'];
      for (var i = 0; i < answerButtons.length; i++) {
        jq(answerButtons[i]).removeClass('correct-selected');
        jq(answerButtons[i]).removeClass('incorrect-selected');
      }
    }
    function mcqLoadNextCard() {
      var answerButtons = ['#A-btn', '#B-btn', '#C-btn', '#D-btn'];
      var counter = 0;
      for (var i = 0; i < answerButtons.length; i++) {
        if (counter == 0) {
          cardList.splice(currentCardIndex, 1); // remove the current card from list
          currentCardIndex = (currentCardIndex + 1) % cardList.length; // move to the next card

          if (cardList.length === 0) {
            location.reload(true);
            cardsDue = cardList.length;
            jq('#cards-due').html(cardsDue);

            return;
          }
          else {
            console.log("entered else in mcqLoadNextCard")
            
            currentCard = cardList[currentCardIndex];
            cardsDue = cardList.length;
            console.log(currentCard, cardsDue)
            mcqChecker();
            setCardData(currentCard, cardsDue);
            LoadRandomMcq();
            mcqCorrectAnswerSetter();
            hideCorrectMcq();
            updateValues();
            counter = 1;
          }
          mcq_guess_counter = 0;
        }
      }
      counter = 0;
    }
    function compareRandom(a, b) {
      return Math.random() - 0.5;
    }
    ////////////////  HELP MODAL ////////////////
    const fab = document.getElementById('fabChatContent');
    const chatBtn = document.getElementById('chat-btn');
    let isOpen = false;
    function toggleFAB() {

      isOpen = !isOpen;
      if (isOpen) {
        var cardId = jq('#card-id').text();
      } else {
        // Perform any action you want when the FAB is closed
      }
    }
    fab.addEventListener('click', toggleFAB);
    fab.addEventListener('mouseover', toggleFAB);
    function explainFurther(cardId) {
      console.log(cardId)
      var spinner = document.querySelector('#ai-spinner');
      spinner.style.display = 'block';
      jq.ajax({
        type: 'GET',
        url: '/explain_further/' + cardId,
        dataType: 'json',
        success: function (data) {
          // Update the UI with the fetched card details
          displayResponse(data);
          spinner.style.display = 'none';
        },
        error: function (error) {
          console.error('Error fetching card details:', error);
          spinner.style.display = 'none';
        }
      });
    }
    function whyWrong(cardId) {
      var spinner = document.querySelector('#ai-spinner');
      spinner.style.display = 'block';
      jq.ajax({
        type: 'GET',
        url: '/why_wrong/' + cardId,
        dataType: 'json',
        success: function (data) {
          spinner.style.display = 'none';
          // Update the UI with the fetched card details
          displayResponse(data);
        },
        error: function (error) {
          spinner.style.display = 'none';
          console.error('Error fetching card details:', error);
        }
      });
    }
    jq('#explain-further').on('click', function () {
      var cardId = jq('#card-id').text();
      explainFurther(cardId);
    });
    jq('#why-wrong').on('click', function () {
      var cardId = jq('#card-id').text();
      whyWrong(cardId);
    });
    function displayResponse(data) {
      // Create a new div element and add the response text inside it
      var newDiv = document.createElement('div');
      newDiv.classList.add('ai-reply');
      var responseText = document.createElement('p');
      responseText.innerText = data.response;
      newDiv.appendChild(responseText);
      // Append the new div to the text container
      document.getElementById('text-container').appendChild(newDiv);
      scrollToBottom();

    }
    jQuery(chatBtn).on('click', function () {
      var cardId = jq('#card-id').text();
      var question = jq('#chat-input').val();

      if (question.trim() !== '') {
        var latestParagraphText = jq('#text-container p:last-child').length > 0 ? jq('#text-container p:last-child').text() : '';
        chatInput(cardId, question, latestParagraphText);
      }

      function chatInput(cardId, question, latestParagraphText) {
        var spinner = document.querySelector('#ai-spinner');
        spinner.style.display = 'block';

        // Send the input and the latest paragraph tag's text to the backend
        jq.ajax({
          type: 'POST',
          url: '/send_question/' + cardId,
          data: {
            question: question,
            latest_paragraph: latestParagraphText
          },
          success: function (data) {
            spinner.style.display = 'none';

            // Create a new div element and add the question paragraph inside it
            var questionDiv = jq('<div class="user-question"></div>');
            var questionParagraph = jq('<p></p>').text(question);
            questionDiv.append(questionParagraph);

            // Create a new div element and add the answer paragraph inside it
            var answerDiv = jq('<div class="ai-reply"></div>');
            var answerParagraph = jq('<p></p>').text(data.response);
            answerDiv.append(answerParagraph);

            // Wrap the question and answer divs in message-row divs
            var questionRow = jq('<div class="message-row user"></div>');
            var answerRow = jq('<div class="message-row"></div>');

            questionRow.append(questionDiv);
            answerRow.append(answerDiv);

            // Add the question and answer divs to the text container

            jq('#text-container').append(questionRow);
            jq('#text-container').append(answerRow);
            scrollToBottom();

          },
          error: function (error) {
            console.error('Error sending the question:', error);
            spinner.style.display = 'none';
          }
        });

        // Clear the input field
        jq('#chat-input').val('');
      }
    });

    // Listen for the 'Enter' key press in the input field
    jq('#chat-input').on('keypress', function (event) {
      if (event.which === 13) {
        event.preventDefault();
        jq('#chat-btn').trigger('click');
      }
    });
    function scrollToBottom() {
      var chatBody = document.querySelector('.chat-body');
      chatBody.scrollTop = chatBody.scrollHeight;
    }



    function updateValues() {
      console.log("updateValues called")
      const deckId2 = "{{ deck }}";
      const url = `/update_study_data/${deckId2}`;

        fetch(url)
          .then(response => response.json())
          .then(data => {
            // Update the content using the new data
            document.getElementById("answered").innerHTML = data.total_answered;
            document.getElementById("percentage").innerHTML = data.percentage;
            document.getElementById("cards_due_2").innerHTML = data.cards_due;
          })
          .catch(error => console.error("Error fetching data:", error));
      }
  });


</script>



{% endblock %} {% block main_0 %}

<div class="container-fluid study-dash" style="background-color: #efe8ff;">
  <div class="row">
    <div class="col-2 d-flex align-items-center">
      <a href="/deck_manager/{{deck0.id}}">
        <img src="\static\go-back-icon.png" class="img-grow" style="max-width:35px; max-height:35px;" alt="AI Lesson Viewer" class="return-icon" title="Return to decks">
      </a>
    </div>
    <div class="col-4 d-flex align-items-center">
      <h4>{{deck0.name}}</h4>
    </div>
    <div class="col-6">
      <div class="stat-table">
        <div class="stat-row header">
          <div class="answered">Answered</div>
          <div>% Correct</div>
          <div>Left to study</div>
        </div>
        <div class="stat-row">
          <div id="answered" class="answered">{{deck0.total_answered()}}</div>

          <div id="percentage">
              {% if deck0.total_answered() > 0 %}
                  {{ (deck0.correct_incorrect()[0] / deck0.total_answered() * 100)|round(1) }}%
              {% else %}
                  0%
              {% endif %}
          </div>
          
          <div id="cards_due_2">{{deck0.cards_due()}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 id="no-cards" class = "m-5 text-center" style="display:none">Congratulations!🎉🎉 You have completed all of your reviews for this deck.  Keep up the amazing work!🐙🐙</h4>


<div class="container-fluid study-container mb-2" id = "contain-main">
  <div class="study-header"  id="cardHeader">
    <h3 id="card-term"></h3>
      <div id="card-id" style="display: none">
      </div>
  </div>

  <div class="study-display">
      <!-- Body content here -->
      <div class=" n-mcq" >
        <div  id="card-extra-content" style="display: none">
          <div id="card-formula">
          </div>
          <p class = "content-to-display" id="card-content" style=" max-height: 50vh;"></p>
        </div>
  
        <!---- buttons for NOT MCQ ---->
  
      </div>
  
  
      <!--- HANDLES MCQ --->
      <div class="mcq" id="mcq" style="display:none">
     
            <button class=" mcq-button  " style="width: 100%;max-height: 20vh; overflow:auto" id="A-btn"></button>
            <button class="mcq-button " id="B-btn"
              style="width: 100%; max-height: 20vh; overflow:auto">B</button>
            <button class=" mcq-button " style="width: 100%;max-height: 20vh; overflow:auto" id="C-btn">C</button>
            <button class="mcq-button "
              style="width: 100%;max-height: 20vh; overflow:auto" id="D-btn">D </button>
      
  
  
      </div>
    </div>

  <div class="study-footer ">
    <div class=" n-mcq n-mcq-0">
        <button class="btn n-mcq-btn"
            id="forgot-btn">Lost it</button>
        
        <button class="btn n-mcq-btn"
             id="remember-btn" >Got it</button>
      </div>
   
    <div class="next-prev ">
        <button class="btn next-prev-btn" id="prev-btn" >Previous</button>
        <button class="btn next-prev-btn"  id="next-btn" >Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!----  MODAL ------>

<div class="fab-chat-container">
  <div class="fab-chat-content" id="fabChatContent">
    <div class="chat-box">
      <div class="chat-header">
        <p id="chat-card-id" style="display:none"></p>
        <h5>How can I help?</h5>
        <div class="spinner-border mr-3" id="ai-spinner" role="status" style="display:none">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="chat-body">
        <div class="chat-text-container" id="text-container">


        </div>
      </div>
      <div class="chat-footer">
        <input type="text" class="chat-field" id="chat-input" placeholder="Enter your question here"
          aria-label="Enter your question here" aria-describedby="chat-btn">
        <button class="chat-field-send" type="button" id="chat-btn">Send</button>
      </div>
    </div>
  </div>
  <div class="fab-chat-content">
    <div class="btn-chat-container">
      <button id="why-wrong" class="btn-chat">Why was my answer incorrect?</button>
      <button id="explain-further" class="btn-chat">I want to know more.</button>
    </div>
  </div>
  <img src="/static/avatar-octopus.png" class="fab-chat-main" alt="chat icon">
</div>


<!----- REMOVED, NOT NECESSARY FOR NOW.  WILL CONSIDER RE-ADDING
{% if settings.new_user_study == True %}


<div class="container box_study">
  <h5> Welcome to our study functionality</h5>
  <p> You can use this functionality to either study a single deck, in which case you should select that deck in "Decks"
    and then click on the study icon, or to study all your decks, in which case you can access it directly by clicking
    on "Study".</p>
  <p> We use a spaced repetition system so not all cards will be shown to you at once, and the more you remember a card,
    the less often it will be displayed.</p>
  <p> Functionality varies depending on being on a PC or mobile</p>
  <ul>
    <li> On desktop for cards other than multiple choice cards, simply select whether you forgot the card or remembered.
      At that point the content will be displayed and you can click next to go to the next card.</li>
    <li> On mobile you can swipe left or right, left for "forgot", right for "remembered". And then you can swipe again
      in either direction to move to the next card.</li>
    <li> For MCQ it is not possible to swipe. You have to select one of the 4 choices available and
      then either double tap the screen if you are on mobile, or double click if you are on a PC, to go
      to the next screen.</li>
    <li> Once you finish studying all the cards in your list our software will re-calculate which cards are due. If
      there are none left you are done! If you would like to continue studying you may do so but ti will not count for
      the SRS.</li>
  </ul>
  <form id="new-user-study">
    <input type="checkbox" class="" id="new-user-study-checkbox" value="checked">
    <label class="form-check-label" for="new-user-study-checkbox">Do not show this message again</label>
  </form>

</div>


<script>
  const checkbox = document.getElementById('new-user-study-checkbox');

  checkbox.addEventListener('change', function () {
    if (this.checked) {
      fetch('/new_user_settings', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ checked: true })
      })
        .catch(error => console.error('Error:', error));
    } else {
      fetch('/new_user_settings', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ checked: false })
      });
    }
  });


</script>

{% endif %}
----->















{% endblock %}