{% extends "layout.html" %}

{% block title %} View Decks {% endblock %}
{% block main_0 %}

<div class="container-fluid d-flex justify-content-center ">
    <div class="box_study d-md-block d-none mt-1 mb-4 d-flex justify-content-center" style="max-width:500px;">
<input class = "email-input">
<button class = "button-testing">aaaaa</button>
    lorem ipsum dolor sit amet  consectetur adipisicing elit. Quisquam, quos. 
    lorem ipsum dolor sit amet  consectetur adipisicing elit. Quisquam, quos. 
    lorem ipsum dolor sit amet  consectetur adipisicing elit. Quisquam, quos. 
    lorem ipsum dolor sit amet  consectetur adipisicing elit. Quisquam, quos. 
    lorem ipsum dolor sit amet  consectetur adipisicing elit. Quisquam, quos. 
    lorem ipsum dolor sit amet  consectetur adipisicing elit. Quisquam, quos. 
    lorem ipsum dolor sit amet  consectetur adipisicing elit. Quisquam, quos. 
    lorem ipsum dolor sit amet  consectetur adipisicing elit. Quisquam, quos. 
    lorem ipsum dolor sit amet  consectetur adipisicing elit. Quisquam, quos. 
    lorem ipsum dolor sit amet  consectetur adipisicing elit. Quisquam, quos. 
    lorem ipsum dolor sit amet  consectetur adipisicing elit. Quisquam, quos. 
    lorem ipsum dolor sit amet  consectetur adipisicing elit. Quisquam, quos. 
    lorem ipsum dolor sit amet  consectetur adipisicing elit. Quisquam, quos. 
    lorem ipsum dolor sit amet  consectetur adipisicing elit. Quisquam, quos. 

</div>
</div>



{% endblock %}