{% extends "layout.html" %} {% block title %} Test Builder {% endblock %} 
{% block head %} 


<style type="text/css" media="print">
    @page 
    {
        size:  auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }

    html
    {
        background-color: #FFFFFF; 
        margin: 10px;  /* this affects the margin on the html before sending to printer */
    }

    body
    {
        margin: 10mm 15mm 10mm 15mm; /* margin you want for the content */
    }
    @media print {
        .navbar { /* Assuming .navbar is the class of your navigation bar */
            display: none!important;
        }
    }
    </style>

{% endblock %}
{% block
    main_0 %}
    <div class = "p-4">
{% set q_counter = 0 %}
<div class="row">
    {% if current_user.subscription_plan in [1, 2, 3] %}
        <img src="/static/Cepha-banner-1.png" style="max-width:200px">
        <br>
            {% endif %}
    </div>
<div class="row">
        
    <div class="col-4 d-flex align-items-center">
        <h5>Name:____________________</h5>
    </div>
    <div class="col-6 d-flex align-items-center">
        <h4>{{test.name}}</h4>
    </div>
    {% if test.points %}
    <div class="col-2 d-flex align-items-center">
        <h5> Marks: {{test.points}}</h5>
    </div>
    {% endif %}

</div>
{% if test.instructions %}
<div class ="row mt-2">
    <h5>Instructions:</h5>
<p> {{test.instructions}} </p>
</div>
{% endif %}
<br>
{% for question in test.questions %}
{% set q_counter = loop.index %}
{% if question.q_type == "jeopardy" %}
<div class = "row " style="page-break-inside: avoid;">
    
    <div class="card">
        <div class="card-head">
            <div class="row">
                <div class="col-10 ">
                    {{q_counter}} - {{question.question}}
                </div>
                
                <div class=" col-2">
                   <small>Marks: </small> {{question.points}}
                </div>
            </div>
        </div>

        <div class="card-body">
            <label for="answer{{question.id}}">Answer:</label>
            <textarea rows="2" class="form-control" id="answer{{question.id}}" name="answer{{question.id}}">
                </textarea>
        </div>
    </div>

</div>
{% elif question.q_type in ["definitions", "explain"] %}
<div class = "row " style="page-break-inside: avoid;">
    
    <div class="card">
        <div class="card-head">
            <div class="row">
                <div class="col-10 ">
                    {{q_counter}} - {{question.question}}
                </div>
                
                <div class=" col-2">
                   <small>Marks: </small> {{question.points}}
                </div>
            </div>
        </div>

        <div class="card-body">
            <label for="answer{{question.id}}">Answer:</label>
            <textarea rows="2" class="form-control" id="answer{{question.id}}" name="answer{{question.id}}">
                </textarea>
        </div>
    </div>

</div>


{% elif question.q_type == "cloze" %}
<div class = "row " style="page-break-inside: avoid;">
    
    <div class="card">
        <div class="card-head">
            <div class="row">
                <div class="col-10 ">
                    {{q_counter}} - {{question.question}}
                </div>
                <div class=" col-2">
                    Marks: {{question.points}}
                </div>
            </div>
        </div>

        <div class="card-body">
            <label for="answer{{question.id}}">Answer:</label>
            <textarea rows="2" class="form-control" id="answer{{question.id}}" name="answer{{question.id}}">
                </textarea>
        </div>
    </div>

</div>
{% elif question.q_type == "formulas" %}
<div class = "row " style="page-break-inside: avoid;">
    
    <div class="card">
        <div class="card-head">
            <div class="row">
                <div class="col-10 ">
                    {{q_counter}} - {{question.question}}
                </div>
                
                <div class=" col-2">
                    Marks: {{question.points}}
                </div>
            </div>
        </div>

        <div class="card-body">
            <label for="answer{{question.id}}">Answer:</label>
            <textarea rows="2" class="form-control" id="answer{{question.id}}" name="answer{{question.id}}">
                </textarea>
        </div>
    </div>

</div>


{% elif question.q_type == "mcq" %}
<div class = "row " style="page-break-inside: avoid;">
    
    <div class="card">
        <div class="card-head">
            <div class="row my-2">
                <div class="col-10 ">
                    {{q_counter}} - {{question.question}}
                </div>
                <div class=" col-2">
                    Marks: {{question.points}}
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row my-1">
                <p>A - 
                    <span class="  answer-button{{question.id}}"
                        id="A-btn{{question.id}}" style="width: 100%"></span>
               </p>
                
            </div>
            <div class="row my-1">
                <p>B - 
                    <span class="  answer-button{{question.id}}"
                        id="B-btn{{question.id}}" style="width: 100%"></span>
               </p>
            </div>

            <div class="row my-1">
                <p>C - 
                    <span class="  answer-button{{question.id}}"
                        id="C-btn{{question.id}}" style="width: 100%"></span>
               </p>
            </div>
           
            <div class="row my-1">
                <p>D - 
                    <span class="  answer-button{{question.id}}"
                        id="D-btn{{question.id}}" style="width: 100%"></span>
               </p>
            </div>
            <div class="card-body">
                <input type="hidden" id="answer{{question.id}}" name="answer{{question.id}}">
            </div>
        </div>
    </div>
    <script>
        const answers{{ question.id }} =["{{question.content}}", "{{question.boc_2}}", "{{question.boc_3}}", "{{question.boc_4}}"];
        function shuffle(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
            return array;
        }
        const shuffledAnswers{{ question.id }} = shuffle(answers{{ question.id }});
        const answer_buttons{{ question.id }} = document.querySelectorAll('.answer-button{{question.id}}');
            //const buttons = document.querySelectorAll('.answer-button'+{{ question.id }});
        answer_buttons{{ question.id }}.forEach((button, index) => {

            button.innerText = shuffledAnswers{{ question.id }}[index];
            button.value = shuffledAnswers{{ question.id }}[index];
       
});
    </script>
</div>





{% endif %}
{% endfor %}
</div>
</div>






</div>



</div>

{% endblock %}