{% extends "layout.html" %}

{% block title %} Answers to your AI Generated Quiz {% endblock %}

{% block main_0 %}
<div class="container-fluid d-flex justify-content-between mb-2 p-2" style="background-color:#efe8ff;">

    <a href="/test_result_details/{{test.id}}">
        <img src="\static\go-back-icon.png" class="img-grow" style="max-width:35px; max-height:35px;" alt="Return to decks" class="return-icon" title="Return to decks">
      </a><h2>{{taker.first_name}} {{taker.last_name}}</h2>
<h4>{{taker.email}}</h4>
</div>


<div class="container-fluid">
    
    
    <div class="row">
        <div class=" p-3">
            <form action="" method="POST" class="">
                <div class = "row">
                <div class = "col-2"><h5>Points: {{ result.points}}</h5></div>
                <div class = "col-8"></div>
                <div class = "col-2">
                <input type="submit" class = "btn-generate" value="Save changes">
        </div></div>
        <div style="max-height: 100vh; overflow:auto;">
                {% for question in test.questions %}
                <div class="card m-1">
                    <div class="card-body" >
                                <h5 class="card-title">Question: {{ question.question }}</h5>

                        <div class="row">

                              {% for q_result in question_results %}
                              {% if q_result.question_id == question.id  %}
                              <div class="col-9">

                                <p class="card-text">
                                    Correct Answer: {{ question.content }}
                                </p>
                                <p class="card-text">
                                    Answer given: {{ q_result.answer }}
                                </p>
                            </div>

                            <div class="col-3">
                                <label for="points{{q_result.id}}">Points:</label>
                                <input class="control-form box_study" style="max-width:40px" type="text"
                                    id="points{{q_result.id}}" placeholder="{{q_result.points}}"
                                    value="{{q_result.points}}" name="points{{q_result.id}}">
                            </div>

                                {% endif %}
                                {% endfor %}

                        </div>
                    </div>
                </div>
                


                {% endfor %}
            </form>
        </div>
        </div>
    </div>
</div>
</div>



{% endblock %}