{% extends "layout.html" %} {% block title %} Welcome {% endblock %}
{% block head %}
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
{% endblock %}
{% block main_0 %}

<div class = "container">
    <br>
    <br>
    <br>
<!----
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <stripe-pricing-table pricing-table-id="prctbl_1N6cgZGXWJkeH44yvMA9STmi"
    publishable-key="pk_live_51N5ZKqGXWJkeH44yr7OrnCgcHttYsRmABWsbquK48HMnhVzW0wigIWkLGx4VEhfFfPVaVcl2SJT2FQiZdlSgfHYl00dpH1lTik"
    client-reference-id="{{current_user.id}}">
    </stripe-pricing-table>
--->
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <stripe-pricing-table pricing-table-id="prctbl_1N6yxbGXWJkeH44ylZcBzNVT"
    publishable-key="pk_test_51N5ZKqGXWJkeH44y38yc4CxMSTBwo3h8kf76qXVJRqkMlWhRdZ5SfEX0NVZWKEclk3Q2MuGu6m3cfFHW0XCI52Xf00eYMc72Tp"
    client-reference-id="{{current_user.id}}">
    </stripe-pricing-table>

    
</div>

{% endblock %}