{% extends "layout.html" %}

{% block title %} View Decks {% endblock %}




{% block main_0 %}


  <!----<div class="row m-2" style="text-align: end">
    <a href="/test_results_overview" class="mx-2 ">
      <img src="\static\tester-icon.png" alt="Tests" style="max-width:30px;max-height:30px;" class="px-1" title="Tests">
    </a>
 </div> ---->

  {% if shared_decks|length > 0 %}
 
    <div class="row box_0 mx-3 mb-3 pt-2" style="text-align: center">
      <p> You have shared decks waiting for your approval, click<a class="mx-2" data-bs-toggle="modal"
          data-bs-target="#SharedDecksModal" alt="shared decks" style="cursor: pointer;">here</a>to approve them</p>
    </div>

  {% endif %}
  {% if tests|length > 0 %}

    <div class="row box_0 mx-3 mb-3 pt-2" style="text-align: center">
      <p> You have a new test click<a class="mx-2" data-bs-toggle="modal" data-bs-target="#testModal" alt="shared decks"
          style="cursor: pointer;">here</a>to take it</p>
    </div>
 
  {% endif %}



<div class="col-10-md box_0 m-3 p-3">





  <div class="row">
    <div class="col-md-6">

      <button onclick="document.location='/study_deck_all'" class="form-control mb-2 box_study" href="/study_deck_all"
        style="max-width: 300px;"> Study ALL decks </button>

    </div>
    <div class="col-md-6">
      <form action="" method="get">

        <div class="row justify-content-end">
          <div class="row ">
            <div class="col">
              <input type="text" class="form-control mb-2 box_study" id="search-deck-name" style="max-width:300px"
                name="search" placeholder="Search decks by name" value="{{ request.args.get('search', '') }}">
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
          </div>
          <div class="row justify-content-end">
            <form action="" method="get">
              <div id='sort-form'>
                <label class="my-1 mr-2" for="sort-decks">Sort by:</label>
                <select class="custom-select my-1 mr-sm-2" id="sort" name="sort" onchange="this.form.submit();">
                  <option value="default">Select sort method</option>
                  <option value="name_asc">Name (A to Z)</option>
                  <option value="name_desc">Name (Z to A)</option>
                  <option value="cards_due_asc">Cards Due (Low to High)</option>
                  <option value="cards_due_desc">Cards Due (High to Low)</option>
                  <option value="category_asc">Category (A to Z)</option>
                  <option value="create_time_asc">Date created (earliest first)</option>
                  <option value="create_time_dsc">Date created (latest first)</option>
                </select>
              </div>
            </form>
          </div>
        </div>

      </form>
    </div>
  </div>
  <table class="table table_0 mobile-optimised">

    <table class="table table_0 mobile-optimised">

      <thead>
        <tr>
          <th>Deck Name: </th>
          <th>Description: </th>
          <th>Category: </th>
          <th>Number of cards: </th>
          <th>Actions:</th>
        </tr>
      </thead>
      <tbody>
        {% for deck in decks%}

        <tr>
          <td class="ml-2" data-th="Deck Name:">
            <form action="" method="post">
              <input type="hidden" name="deck_id" value="{{ deck.id }}">
              <input class="border-0" name="new_name" id="deck.id" value="{{ deck.name }}" placeholder="{{ deck.name }}"
                onchange="this.form.submit();" />
            </form>

          </td>
          <td data-th="Description:">{{ deck.description }}</td>
          <td data-th="Category:"> {{ deck.check_cat() }} </td>
          <td data-th="Number of Cards (cards due):"> {{ deck.quantity_cards() }} ({{deck.qty_cards_due() }})</td>




          <td>
            <!------- STUDY DECK ----->
            <a href="/study_deck/{{deck.id}}" class="mx-2"  style="cursor: pointer; text-decoration: none;">
              <img src="\static\graduation-cap-icon.png" alt="Study" style="max-width:30px;max-height:30px; text-decoration: none;"
                class="px-1" title="Study">
            </a>
            <!---- EDIT DECK ------>
            <a href="/carousel/{{deck.id}}" class="mx-2"  style="cursor: pointer; text-decoration: none;">
              <img src="\static\edit-box-icon.png" alt="Edit" style="max-width:30px;max-height:30px; text-decoration: none;" class="px-1"
                title="Edit">
            </a>
            <!---- SHARE DECK ------>
            <a data-bs-toggle="modal" data-bs-target="#Modal{{deck.id}}" class="mx-2" style="cursor: pointer; text-decoration: none;">
              <img src="\static\instagram-share-icon.png" alt="Share" style="max-width:30px;max-height:30px; text-decoration: none;"
                class="px-1" title="Share">
            </a>
            <!------- DOWNLOAD CSV ------->
            <a href="/downloadascsv/{{deck.id}}" class="mx-2"  style="cursor: pointer; text-decoration: none;">
              <img src="\static\download-csv-icon.png" alt="Download CSV" style="max-width:30px;max-height:30px; text-decoration: none;"
                class="px-1" title="Download as CSV">
            </a>
            <a href="/build_test/{{deck.id}}" class="mx-2"  style="cursor: pointer; text-decoration: none;">
              <img src="\static\exam-test-icon.png" alt="Build test" style="max-width:30px;max-height:30px; text-decoration: none;"
                class="px-1" title="Build test">
            </a>
            <!-------- SEE SOURCE DOCS ---->
            <a href="/sea_dox/{{deck.id}}" class="mx-2"  style="cursor: pointer; text-decoration: none;">
              <img src="\static\data-sources-icon.png" alt="See source docs" style="max-width:30px;max-height:30px; text-decoration: none;"
                class="px-1" title="See source docs">
            </a>
            <!----- DECK DETAILS ------>
            <a data-bs-toggle="modal" data-bs-target="#infoDecksModal{{deck.id}}" class="mx-2" style="cursor: pointer; text-decoration: none;">
              <img src="\static\information-mark-circle-outline-icon.png" alt="Info"
                style="max-width:30px;max-height:30px; text-decoration: none;" class="px-1" title="Info">
            </a>

            <!--------- DELETE DECK ------>
            <a href="#" class="mx-2"  style="cursor: pointer; text-decoration: none;"
              onclick="if (confirm('Are you sure you want to delete this deck?')) { window.location.href = '/delete/{{deck.id}}'; }">
              <img src="\static\delete-icon.png" alt="Delete" style="max-width:30px;max-height:30px; text-decoration: none;" class="px-1"
                title="Delete deck">
            </a>
          </td>
</div>

</div>
</div>
</div>
</td>
</tr>



{% endfor %}
</tbody>
</table>


</div>

<!----- SHARE DECK MODAL -->

{% for deck in decks %}
<script>
  function shareDeck(deckId) {

    var email = document.getElementById('email' + deckId).value;
    var encodedEmail = encodeURIComponent(email);
    var url = '/share_deck/' + deckId + '/' + encodedEmail;
    window.location.href = url;
  }
</script>

<div class="modal fade" id="Modal{{deck.id}}" tabindex="-1" aria-labelledby="#ModalLabel{{deck.id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel{{deck.id}}">Share deck</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="share-form" method="POST">
          <div class="form-group my-2">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email{{deck.id}}" name="email" required
              placeholder="Type receiver's email here">
          </div>
          <button type="button" class="btn btn-primary" onclick="shareDeck('{{ deck.id }}')">Share</button>
        </form>
      </div>

    </div>
  </div>
</div>




<!----- INFO MODAL ------->
<div class="modal fade" id="infoDecksModal{{deck.id}}" tabindex="-1" aria-labelledby="#infoDecksModalLabel{{deck.id}}"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoDecksModalLabel{{deck.id}}">Deck details:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row box_study mt-1">
          <li class="list-group-item">Deck name:
            <h5>{{deck.name}}</h5>
          </li>
          <li class="list-group-item">Deck creator:
            <h5>{{deck.creator}}</h5>
          </li>
          <li class="list-group-item">Deck description:
            <h5>{{deck.description}}</h5>
          </li>
          <li class="list-group-item">Times accessed:
            <h5>{{deck.times_accessed}}</h5>
          </li>
          <li class="list-group-item">Subject:
            <h5>{{deck.subject}}</h5>
          </li>
          <li class="list-group-item">Deck topic:
            <h5>{{deck.topic}}</h5>
          </li>
          <li class="list-group-item">Date created:
            <h5>{{deck.time_created}}</h5>
          </li>
          <li class="list-group-item">Last access time:
            <h5>{{deck.time_updated}}</h5>
          </li>
          <li class="list-group-item">Creation method:
            <h5>{{deck.create_method}}</h5>
          </li>
          <li class="list-group-item">Shared:
            <h5>{{deck.shared}}</h5>
          </li>




        </div>



      </div>

    </div>
  </div>
</div>

{% endfor %}



<!---- SHARED DECKS MODAL----->
<div class="modal fade" id="SharedDecksModal" tabindex="-1" aria-labelledby="#SharedDecksModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SharedDecksModalLabel">Shared Decks</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          {% for deck in shared_decks %}


          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{deck.name}}</h5>
                <p class="card-text">{{deck.sender}}</p>
                <a id="approve{{deck.id}}" onclick="approveSharedDeck(event, {{deck.id}})" class="mx-2"
                style="cursor: pointer; text-decoration: none;">
                  <img src="\static\approve-accept-icon.png" alt="See source docs"
                    style="max-width:30px;max-height:30px;" class="px-1" title="Approve">
                </a>

                <a id="reject{{deck.id}}" class="mx-2" onclick="rejectSharedDeck(event, {{deck.id}})"
                style="cursor: pointer; text-decoration: none;">
                  <img src="\static\remove-cross-icon.png" alt="Reject" style="max-width:30px;max-height:30px;"
                    class="px-1" title="Reject">
                </a>

              </div>
            </div>
          </div>






          <script>
            function approveSharedDeck(event, deckId) {
              event.preventDefault();
              $.ajax({
                type: "GET",
                url: "/approve_shared/" + deckId,
                success: function () {
                  // Refresh the content of the modal
                  console.log("approve shared deck")
                  refreshSharedDecksModal();
                }
              });
            }

            function rejectSharedDeck(event, deckId) {
              event.preventDefault();
              if (confirm('Are you sure you want to reject this shared deck?')) {
                $.ajax({
                  type: "GET",
                  url: "/reject_shared/" + deckId,
                  success: function () {
                    // Refresh the content of the modal
                    refreshSharedDecksModal();
                  }
                });
              }
            }


          </script>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>

<script>
  function refreshSharedDecksModal() {
    // Get the modal element
    const sharedDecksModal = $('#SharedDecksModal');

    // Hide the modal to prevent flickering
    //sharedDecksModal.modal('hide');

    // Reload the entire modal using jQuery's load method
    sharedDecksModal.load(location.href + ' #SharedDecksModal > *', function () {
      // Show the modal again after the new content has been loaded
      sharedDecksModal.modal('show');
    });
  }
</script>



<!------ TEST MODAL-->

<div class="modal fade" id="testModal" tabindex="-1" aria-labelledby="#testModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="testModalLabel">Tests</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          {% for test in tests %}


          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Name: {{test.name}}</h5>
                <p class="card-text">Description: {{test.description}}</p>
                <p class="card-text">Due date: {{test.due_date}}</p>
                <p class="card-text">Marks: {{test.points}}</p>
                <p class="card-text">Number of questions: {{test.num_questions}}</p>
                <p class="card-text">Instructions: {{test.instructions}}</p>
                <a href="/take_test/{{test.id}}/{{user.id}}" class="mx-2" style="cursor: pointer;">
                  Click here to take the test
                </a>


              </div>
            </div>
          </div>






          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>










{% endblock %}