{% extends "layout.html" %}

{% block title %} View Decks {% endblock %}




{% block main_0 %}
{% if shared_decks|length > 0 %}
<p> You have shared decks waiting for your approval, click<a class="mx-2" data-bs-toggle="modal"
    data-bs-target="#SharedDecksModal" alt="shared decks">here</a>to approve them</p>
{% endif %}





<div class="col-10-md box_0 m-3 p-3">
  <div class="row">
    <div class="col-md-6">

      <button onclick="document.location='/study_deck_all'" class="form-control mb-2 box_study" href="/study_deck_all"
        style="max-width: 300px;"> Study ALL decks </button>

    </div>
    <div class="col-md-6">
      <form action="" method="get">

        <div class="row justify-content-end">
          <div class="row ">
            <div class="col">
              <input type="text" class="form-control mb-2 box_study" id="search-deck-name" style="max-width:300px"
                name="search" placeholder="Search decks by name" value="{{ request.args.get('search', '') }}">
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
          </div>
          <div class="row justify-content-end">
            <form action="" method="get">
              <div id='sort-form'>
                <label class="my-1 mr-2" for="sort-decks">Sort by:</label>
                <select class="custom-select my-1 mr-sm-2" id="sort" name="sort" onchange="this.form.submit();">
                  <option value="default">Select sort method</option>
                  <option value="name_asc">Name (A to Z)</option>
                  <option value="name_desc">Name (Z to A)</option>
                  <option value="cards_due_asc">Cards Due (Low to High)</option>
                  <option value="cards_due_desc">Cards Due (High to Low)</option>
                  <option value="category_asc">Category (A to Z)</option>
                  <option value="create_time_asc">Date created (earliest first)</option>
                  <option value="create_time_dsc">Date created (latest first)</option>
                </select>
              </div>
            </form>
          </div>
        </div>

      </form>
    </div>
  </div>
  <table class="table table_0 mobile-optimised">

    <table class="table table_0 mobile-optimised">

      <thead>
        <tr>
          <th>Deck Name: </th>
          <th>Description: </th>
          <th>Category: </th>
          <th>Number of cards: </th>
          <th>Actions:</th>
        </tr>
      </thead>
      <tbody>
        {% for deck in decks%}

        <tr>
          <td class="ml-2" data-th="Deck Name:">
            <form action="" method="post">
              <input type="hidden" name="deck_id" value="{{ deck.id }}">
              <input class="border-0" name="new_name" id="deck.id" value="{{ deck.name }}" placeholder="{{ deck.name }}"
                onchange="this.form.submit();" />
            </form>

          </td>
          <td data-th="Description:">{{ deck.description }}</td>
          <td data-th="Category:"> {{ deck.check_cat() }} </td>
          <td data-th="Number of Cards (cards due):"> {{ deck.quantity_cards() }} ({{deck.qty_cards_due() }})</td>




          <td>
<!------- STUDY DECK ----->
            <a href="/study_deck/{{deck.id}}" class="mx-2">
              <img src="\static\graduation-cap-icon.png" alt="Study" style="max-width:30px;max-height:30px;"
                class="px-1" title="Study">
            </a>
<!---- EDIT DECK ------>
            <a href="/carousel/{{deck.id}}" class="mx-2">
              <img src="\static\edit-box-icon.png" alt="Edit" style="max-width:30px;max-height:30px;" class="px-1"
                title="Edit">
            </a>
<!---- SHARE DECK ------>
            <a data-bs-toggle="modal" data-bs-target="#Modal{{deck.id}}" class="mx-2" style="cursor: pointer;">
              <img src="\static\instagram-share-icon.png" alt="Share" style="max-width:30px;max-height:30px;"
                class="px-1" title="Share">
            </a>
<!------- DOWNLOAD CSV ------->
            <a href="/downloadascsv/{{deck.id}}" class="mx-2">
              <img src="\static\download-csv-icon.png" alt="Download CSV" style="max-width:30px;max-height:30px;"
                class="px-1" title="Download as CSV">
            </a>
<!-------- SEE SOURCE DOCS ---->
            <a href="/sea_dox/{{deck.id}}" class="mx-2">
              <img src="\static\data-sources-icon.png" alt="See source docs" style="max-width:30px;max-height:30px;"
                class="px-1" title="See source docs">
            </a>
<!----- DECK DETAILS ------>
            <a data-bs-toggle="modal" data-bs-target="#infoDecksModal{{deck.id}}" class="mx-2" style="cursor: pointer;">
              <img src="\static\information-mark-circle-outline-icon.png" alt="Info" style="max-width:30px;max-height:30px;"
                class="px-1" title="Info">
            </a>
<!--------- DELETE DECK ------>
            <a href="#" class="mx-2"
              onclick="if (confirm('Are you sure you want to delete this deck?')) { window.location.href = '/delete/{{deck.id}}'; }">
              <img src="\static\delete-icon.png" alt="Delete" style="max-width:30px;max-height:30px;" class="px-1"
                title="Delete deck">
            </a>
          </td>
</div>

</div>
</div>
</div>
</td>
</tr>



{% endfor %}
</tbody>
</table>


</div>

<!----- SHARE DECK MODAL -->

{% for deck in decks %}
<script>
  function shareDeck(deckId) {

    var email = document.getElementById('email' + deckId).value;
    var encodedEmail = encodeURIComponent(email);
    var url = '/share_deck/' + deckId + '/' + encodedEmail;
    window.location.href = url;
  }
</script>

<div class="modal fade" id="Modal{{deck.id}}" tabindex="-1" aria-labelledby="#ModalLabel{{deck.id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel{{deck.id}}">Log in</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="share-form" method="POST">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email{{deck.id}}" name="email" required>
          </div>
          <button type="button" class="btn btn-primary" onclick="shareDeck('{{ deck.id }}')">Share</button>
        </form>
      </div>

    </div>
  </div>
</div>




<!----- INFO MODAL ------->
<div class="modal fade" id="infoDecksModal{{deck.id}}" tabindex="-1" aria-labelledby="#infoDecksModalLabel{{deck.id}}" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoDecksModalLabel{{deck.id}}">Deck details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row box_study mt-1">
          <div class="row">
           <h5>Deck name:</h5> {{deck.name}}
          </div>
          <div class="row">
            <h5>Deck creator:</h5>{{deck.creator}}
          </div>
          <div class="row">
            <h5>Deck description:</h5>{{deck.description}}
          </div>
          <div class="row">
            <h5>Times accessed:</h5>{{deck.times_accessed}}
          </div>
          <div class="row">
            <h5>Subject:</h5>{{deck.subject}}
          </div>
          <div class="row">
            <h5>Deck topic:</h5>{{deck.topic}}
          </div>
          <div class="row">
            <h5>Date created:</h5>{{deck.time_created}}
          </div>
          <div class="row">
            <h5>Last access time:</h5>{{deck.time_updated}}
          </div>
          <div class="row">
            <h5>Creation method:</h5>{{deck.create_method}}
          </div>
          <div class="row">
            <h5>Shared?:</h5>{{deck.shared}}
          </div>




        </div>
      


      </div>

    </div>
  </div>
</div>

{% endfor %}



<!---- SHARED DECKS MODAL----->
<div class="modal fade" id="SharedDecksModal" tabindex="-1" aria-labelledby="#SharedDecksModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SharedDecksModalLabel">Shared Decks</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        {% for deck in shared_decks %}
        <div class="row box_study mt-1">
          <div class="col">{{deck.name}}</div>
          <div class="col">{{deck.sender}}</div>
          <div class="col">{{deck.description}}</div>
          <div class="col">

            <a id="approve{{deck.id}}" onclick="approveSharedDeck(event, {{deck.id}})" class="mx-2">
              <img src="\static\approve-accept-icon.png" alt="See source docs" style="max-width:30px;max-height:30px;"
                class="px-1" title="Approve">
            </a>

            <a id="reject{{deck.id}}" class="mx-2" onclick="rejectSharedDeck(event, {{deck.id}})">
              <img src="\static\remove-cross-icon.png" alt="Reject" style="max-width:30px;max-height:30px;" class="px-1"
                title="Reject">
            </a>



          </div>

        </div>
        <script>
          function approveSharedDeck(event, deckId) {
            event.preventDefault();
            $.ajax({
              type: "GET",
              url: "/approve_shared/" + deckId,
              success: function () {
                // Refresh the content of the modal
                console.log("approve shared deck")
                refreshSharedDecksModal();
              }
            });
          }
          
          function rejectSharedDeck(event, deckId) {
            event.preventDefault();
            if (confirm('Are you sure you want to reject this shared deck?')) {
              $.ajax({
                type: "GET",
                url: "/reject_shared/" + deckId,
                success: function () {
                  // Refresh the content of the modal
                  refreshSharedDecksModal();
                }
              });
            }
          }
          
         
        </script>
        {% endfor %}

      </div>

    </div>
  </div>
</div>

<script>
  function refreshSharedDecksModal() {
    // Get the modal element
    const sharedDecksModal = $('#SharedDecksModal');
  
    // Hide the modal to prevent flickering
    //sharedDecksModal.modal('hide');
  
    // Reload the entire modal using jQuery's load method
    sharedDecksModal.load(location.href + ' #SharedDecksModal > *', function () {
      // Show the modal again after the new content has been loaded
      sharedDecksModal.modal('show');
    });
  }
</script>



{% endblock %}