{% extends "layout.html" %} {% block title %} Upgrade to a Premium Account {% endblock %}
{% block head %}
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<style>
    body.custom-body-class {
        background-color: #6019FF!important;
    }
</style>


{% endblock %}
{% block main_0 %}

<div class = "">
    <br>
    <br>
    <br>
<!----
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <stripe-pricing-table pricing-table-id="prctbl_1N6cgZGXWJkeH44yvMA9STmi"
    publishable-key="pk_live_51N5ZKqGXWJkeH44yr7OrnCgcHttYsRmABWsbquK48HMnhVzW0wigIWkLGx4VEhfFfPVaVcl2SJT2FQiZdlSgfHYl00dpH1lTik"
    client-reference-id="{{current_user.id}}">
    </stripe-pricing-table>
--->
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <stripe-pricing-table pricing-table-id="prctbl_1NFk47GXWJkeH44y51iCdQ6y"
    publishable-key="pk_live_51N5ZKqGXWJkeH44yr7OrnCgcHttYsRmABWsbquK48HMnhVzW0wigIWkLGx4VEhfFfPVaVcl2SJT2FQiZdlSgfHYl00dpH1lTik"
    client-reference-id="{{current_user.id}}">
    </stripe-pricing-table>


</div>

{% endblock %}